In [10]:
import pandas as pd

# Read the dataset
df = pd.read_csv("FAOSTAT_data_en_11-27-2025.csv")
df.shape

(5940, 15)

In [4]:
# Look at a few sample values from 'Item'
df["Item"].head(10)

0    Anise, badian, coriander, cumin, caraway, fenn...
1    Anise, badian, coriander, cumin, caraway, fenn...
2    Anise, badian, coriander, cumin, caraway, fenn...
3    Anise, badian, coriander, cumin, caraway, fenn...
4    Anise, badian, coriander, cumin, caraway, fenn...
5    Anise, badian, coriander, cumin, caraway, fenn...
6    Anise, badian, coriander, cumin, caraway, fenn...
7    Anise, badian, coriander, cumin, caraway, fenn...
8    Anise, badian, coriander, cumin, caraway, fenn...
9    Anise, badian, coriander, cumin, caraway, fenn...
Name: Item, dtype: object

In [5]:
# Replace " and " or " or " with commas for uniform splitting
df["Item"] = df["Item"].str.replace(r"\sand\s|\sor\s", ",", regex=True)

# Split the column into lists
df["Item"] = df["Item"].str.split(",")

In [6]:
# Explode the 'Item' column so each item appears on a separate row
df_exploded = df.explode("Item")

In [7]:
# Remove extra spaces and create a new column 'label'
df_exploded["label"] = df_exploded["Item"].str.strip()

# Drop the original 'Item' column if not needed
df_exploded = df_exploded.drop(columns=["Item"])

In [8]:
# Display a few rows
df_exploded.head(15)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Year Code,Year,Unit,Value,Flag,Flag Description,Note,label
0,QCL,Crops and livestock products,356,India,5312,Area harvested,1654.0,2000,2000,ha,344434.0,A,Official figure,NaN,Anise
0,QCL,Crops and livestock products,356,India,5312,Area harvested,1654.0,2000,2000,ha,344434.0,A,Official figure,NaN,badian
0,QCL,Crops and livestock products,356,India,5312,Area harvested,1654.0,2000,2000,ha,344434.0,A,Official figure,NaN,coriander
0,QCL,Crops and livestock products,356,India,5312,Area harvested,1654.0,2000,2000,ha,344434.0,A,Official figure,NaN,cumin
0,QCL,Crops and livestock products,356,India,5312,Area harvested,1654.0,2000,2000,ha,344434.0,A,Official figure,NaN,caraway
0,QCL,Crops and livestock products,356,India,5312,Area harvested,1654.0,2000,2000,ha,344434.0,A,Official figure,NaN,fennel
0,QCL,Crops and livestock products,356,India,5312,Area harvested,1654.0,2000,2000,ha,344434.0,A,Official figure,NaN,juniper berries
0,QCL,Crops and livestock products,356,India,5312,Area harvested,1654.0,2000,2000,ha,344434.0,A,Official figure,NaN,raw
1,QCL,Crops and livestock products,356,India,5412,Yield,1654.0,2000,2000,kg/ha,484.0,A,Official figure,NaN,Anise
1,QCL,Crops and livestock products,356,India,5412,Yield,1654.0,2000,2000,kg/ha,484.0,A,Official figure,NaN,badian
1,QCL,Crops and livestock products,356,India,5412,Yield,1654.0,2000,2000,kg/ha,484.0,A,Official figure,NaN,coriander
1,QCL,Crops and livestock products,356,India,5412,Yield,1654.0,2000,2000,kg/ha,484.0,A,Official figure,NaN,cumin
1,QCL,Crops and livestock products,356,India,5412,Yield,1654.0,2000,2000,kg/ha,484.0,A,Official figure,NaN,caraway
1,QCL,Crops and livestock products,356,India,5412,Yield,1654.0,2000,2000,kg/ha,484.0,A,Official figure,NaN,fennel
1,QCL,Crops and livestock products,356,India,5412,Yield,1654.0,2000,2000,kg/ha,484.0,A,Official figure,NaN,juniper berries

In [13]:
# Save the exploded dataset to a new CSV file
output_path = "Exploded_FAOSTAT_data.csv"
df_exploded.to_csv(output_path, index=False)

print("âœ… Exploded dataset saved successfully as:", output_path)

âœ… Exploded dataset saved successfully as: Exploded_FAOSTAT_data.csv

In [14]:
import pandas as pd

# Read the dataset
df = pd.read_csv("/content/Exploded_FAOSTAT_data.csv")
df.shape

(10783, 15)

In [15]:
# Get unique labels (item names)
unique_items = df_exploded["label"].dropna().unique()

In [17]:
# Print all unique items, one per line
for item in unique_items:
    print(item)

Anise
badian
coriander
cumin
caraway
fennel
juniper berries
raw
Apples
Apricots
Areca nuts
Bananas
Barley
Beans
dry
Cabbages
Cantaloupes
other melons
Carrots
turnips
Cashew nuts
in shell
Cassava
fresh
Castor oil seeds
Cauliflowers
broccoli
Cherries
Chick peas
Chillies
peppers
dry (Capsicum spp.
Pimenta spp.)
green (Capsicum spp.
Cocoa beans
Coconuts
Coffee
green
Coir
Cucumbers
gherkins
Eggplants (aubergines)
Figs
Ginger
Grapes
Green garlic
Groundnuts
excluding shelled
Jute
retted
Kenaf

other textile bast fibres
Lemons
limes
Lentils
Lettuce
chicory
Linseed
Maize (corn)
Mangoes
guavas
mangosteens
Millet
Mushrooms
truffles
Natural rubber in primary forms
Nutmeg
mace
cardamoms
Okra
Onions
shallots
dry (excluding dehydrated)
Oranges
Other beans
Other berries
fruits of the genus vaccinium n.e.c.
Other citrus fruit
n.e.c.
Other fruits
Other oil seeds
Other pulses n.e.c.
Other stimulant
spice
aromatic crops
Other stone fruits
Other tropical fruits
Other vegetables
fresh n.e.c.
Papayas
Peaches
nectarines
Pears
Peas
Pepper (Piper spp.)
Pigeon peas
Pineapples
Plums
sloes
Pomelos
grapefruits
Poppy seed
Potatoes
Pumpkins
squash
gourds
Rape
colza seed
Rice
Safflower seed
Seed cotton
unginned
Sesame seed
Sorghum
Soya beans
Sugar cane
Sunflower seed
Sweet potatoes
Tangerines
mandarins
clementines
Tea leaves
Tomatoes
True hemp
Unmanufactured tobacco
Walnuts
Watermelons
Wheat

In [18]:
print("Total rows in exploded dataset:", len(df_exploded))
print("Unique items:", df_exploded['label'].nunique())

Total rows in exploded dataset: 10783
Unique items: 129

In [19]:
import pandas as pd

# Read the dataset
df = pd.read_csv("Crop_recommendation.csv")

In [20]:
# Get unique labels (crop names)
unique_labels = df["label"].dropna().unique()

# Count how many unique labels
print("âœ… Number of unique labels:", len(unique_labels))

âœ… Number of unique labels: 22

In [21]:
# Convert to DataFrame and save
unique_labels_df = pd.DataFrame(unique_labels, columns=["Unique_Labels"])
unique_labels_df.to_csv("Unique_Crop_Labels.csv", index=False)

print("ðŸ’¾ Saved as: Unique_Crop_Labels.csv")

ðŸ’¾ Saved as: Unique_Crop_Labels.csv

In [22]:
for label in unique_labels:
    print(label)

rice
maize
chickpea
kidneybeans
pigeonpeas
mothbeans
mungbean
blackgram
lentil
pomegranate
banana
mango
grapes
watermelon
muskmelon
apple
orange
papaya
coconut
cotton
jute
coffee

In [27]:
import pandas as pd
import re

# Read datasets
df_crop = pd.read_csv("Crop_recommendation.csv")
df_faostat = pd.read_csv("Exploded_FAOSTAT_data.csv")

In [33]:
def normalize_name(name):
    name = str(name).lower().strip()

    # Common plural/suffix patterns handled explicitly
    replacements = {
        'apples': 'apple',
        'mangoes': 'mango',
        'berries': 'berry',
        'grapes': 'grape',
        'beans': 'bean',
        'peas': 'pea',
        'oranges': 'orange',
        'melons': 'melon',
        'bananas': 'banana',
        'pomegranates': 'pomegranate',
        'tomatoes': 'tomato',
        'potatoes': 'potato',
        'chickpeas': 'chickpea',
        'kidneybeans': 'kidneybean',
        'pigeonpeas': 'pigeonpea',
        'mungbeans': 'mungbean',
        'mothbeans': 'mothbean',
        'blackgrams': 'blackgram',
        'lentils': 'lentil',
        'cottons': 'cotton'
    }

    # Replace exact plural forms first
    for plural, singular in replacements.items():
        if name.endswith(plural):
            return singular

    # Generic rules for remaining plural endings
    name = re.sub(r'ies$', 'y', name)
    name = re.sub(r'oes$', 'o', name)
    name = re.sub(r'es$', '', name)
    name = re.sub(r's$', '', name)

    return name

In [34]:
# Normalize label columns in both datasets
df_crop["norm_label"] = df_crop["label"].apply(normalize_name)
df_faostat["norm_label"] = df_faostat["label"].apply(normalize_name)

In [35]:
merged_df = pd.merge(df_crop, df_faostat, on="norm_label", how="outer", suffixes=("_crop", "_faostat"))

In [36]:
# Drop duplicates if any
merged_df = merged_df.drop_duplicates()

# Save the merged dataset
merged_df.to_csv("Merged_Crop_FAOSTAT.csv", index=False)

print("âœ… Merged dataset saved as: Merged_Crop_FAOSTAT.csv")
print("Total rows in merged dataset:", len(merged_df))

âœ… Merged dataset saved as: Merged_Crop_FAOSTAT.csv
Total rows in merged dataset: 182943

In [37]:
# Which labels in crop dataset didnâ€™t find match in FAOSTAT
unmatched_crop = set(df_crop["norm_label"]) - set(df_faostat["norm_label"])
print("ðŸš« Unmatched crop labels:", unmatched_crop)

# Which FAOSTAT labels didnâ€™t match crop dataset
unmatched_faostat = set(df_faostat["norm_label"]) - set(df_crop["norm_label"])
print("ðŸš« Unmatched FAOSTAT labels:", list(unmatched_faostat)[:20])  # first 20 for view

ðŸš« Unmatched crop labels: {'maize', 'cotton', 'mungbean', 'watermelon', 'blackgram', 'pomegranate', 'chickpea', 'muskmelon'}
ðŸš« Unmatched FAOSTAT labels: ['broccoli', 'berry', 'kenaf', 'cauliflower', 'okra', 'retted', 'tangerin', 'eggplants (aubergines)', 'other textile bast fibr', 'groundnut', 'gherkin', 'cardamom', 'dry', 'fig', 'cantaloup', 'lim', 'fennel', 'mace', 'peach', 'clementin']

In [48]:
import pandas as pd

# Read your merged dataset
df_merged = pd.read_csv("Merged_Crop_FAOSTAT.csv")

/tmp/ipython-input-1200323197.py:4: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_merged = pd.read_csv("Merged_Crop_FAOSTAT.csv")

In [49]:
# Filter out unwanted rows
df_filtered = df_merged[~df_merged["Element"].isin(["Area harvested", "Yield"])]

In [51]:
import pandas as pd

# Read the filtered merged dataset
df = pd.read_csv("Merged_Crop_FAOSTAT_Filtered.csv")

In [52]:
# Columns to remove
cols_to_drop = [
    'Domain Code', 'Domain', 'Area Code (M49)', 'Area',
    'Element Code', 'Item Code (CPC)', 'Year Code', 'Year',
    'Unit', 'Flag', 'Flag Description', 'Note'
]

# Drop only if they exist
df = df.drop(columns=[col for col in cols_to_drop if col in df.columns])

In [53]:
# Combine label_crop, norm_label, and label_faostat into a single 'label' column
df["label"] = df["label_crop"].combine_first(df["norm_label"]).combine_first(df["label_faostat"])

# Drop the old label columns
df = df.drop(columns=["label_crop", "norm_label", "label_faostat"], errors='ignore')

In [54]:
# Drop rows with nulls in key numeric columns
df = df.dropna(subset=["N", "P", "K", "temperature", "humidity", "ph", "rainfall", "Value"], how="any")

In [55]:
# Columns to check for outliers
numeric_cols = ["N", "P", "K", "temperature", "humidity", "ph", "rainfall", "Value"]

# Remove outliers
for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]

In [56]:
# Save to new file
df.to_csv("Cleaned_Crop_FAOSTAT.csv", index=False)

print("âœ… Cleaned dataset saved as: Cleaned_Crop_FAOSTAT.csv")
print("Rows remaining:", len(df))

âœ… Cleaned dataset saved as: Cleaned_Crop_FAOSTAT.csv
Rows remaining: 34844