<a href="https://colab.research.google.com/github/springboardmentor2468a-lab/AgriYield/blob/NIDHISH-KUMAR-P/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
faostat_df = pd.read_csv("/content/FAOSTAT_data_en_11-19-2025.csv")
crop_df = pd.read_csv("/content/Crop_recommendation.csv")


print("FAOSTAT head:")
print(faostat_df.head())
print("\nCrop dataset head:")
print(crop_df.head())

FAOSTAT head:
  Domain Code                        Domain  Area Code (M49)   Area  \
0         QCL  Crops and livestock products              356  India
1         QCL  Crops and livestock products              356  India
2         QCL  Crops and livestock products              356  India
3         QCL  Crops and livestock products              356  India
4         QCL  Crops and livestock products              356  India

   Element Code         Element  Item Code (CPC)  \
0          5312  Area harvested           1654.0
1          5412           Yield           1654.0
2          5510      Production           1654.0
3          5312  Area harvested           1654.0
4          5412           Yield           1654.0

                                                Item  Year Code  Year   Unit  \
0  Anise, badian, coriander, cumin, caraway, fenn...       2000  2000     ha
1  Anise, badian, coriander, cumin, caraway, fenn...       2000  2000  kg/ha
2  Anise, badian, coriander, cumin, caraway, fenn...       2000  2000      t
3  Anise, badian, coriander, cumin, caraway, fenn...       2001  2001     ha
4  Anise, badian, coriander, cumin, caraway, fenn...       2001  2001  kg/ha

      Value Flag Flag Description Note
0  344434.0    A  Official figure  NaN
1     484.0    A  Official figure  NaN
2  166692.0    A  Official figure  NaN
3  569271.0    A  Official figure  NaN
4     430.3    A  Official figure  NaN

Crop dataset head:
    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [6]:
faostat_df

FAOSTAT India head:
  Domain Code                        Domain  Area Code (M49)   Area  \
0         QCL  Crops and livestock products              356  India
1         QCL  Crops and livestock products              356  India
2         QCL  Crops and livestock products              356  India
3         QCL  Crops and livestock products              356  India
4         QCL  Crops and livestock products              356  India

   Element Code         Element  Item Code (CPC)  \
0          5312  Area harvested           1654.0
1          5412           Yield           1654.0
2          5510      Production           1654.0
3          5312  Area harvested           1654.0
4          5412           Yield           1654.0

                                                Item  Year Code  Year   Unit  \
0  Anise, badian, coriander, cumin, caraway, fenn...       2000  2000     ha
1  Anise, badian, coriander, cumin, caraway, fenn...       2000  2000  kg/ha
2  Anise, badian, coriander, cumin, caraway, fenn...       2000  2000      t
3  Anise, badian, coriander, cumin, caraway, fenn...       2001  2001     ha
4  Anise, badian, coriander, cumin, caraway, fenn...       2001  2001  kg/ha

      Value Flag Flag Description Note
0  344434.0    A  Official figure  NaN
1     484.0    A  Official figure  NaN
2  166692.0    A  Official figure  NaN
3  569271.0    A  Official figure  NaN
4     430.3    A  Official figure  NaN
FAOSTAT India shape: (5940, 15)

In [ ]:
crop_df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [23]:
faostat_india = faostat_df[faostat_df["Area"] == "India"].copy()
print("FAOSTAT India head:")
print(faostat_india.head())
print("FAOSTAT India shape:", faostat_india.shape)

FAOSTAT India head:
  Domain Code                        Domain  Area Code (M49)   Area  \
0         QCL  Crops and livestock products              356  India
1         QCL  Crops and livestock products              356  India
2         QCL  Crops and livestock products              356  India
3         QCL  Crops and livestock products              356  India
4         QCL  Crops and livestock products              356  India

   Element Code         Element  Item Code (CPC)  \
0          5312  Area harvested           1654.0
1          5412           Yield           1654.0
2          5510      Production           1654.0
3          5312  Area harvested           1654.0
4          5412           Yield           1654.0

                                                Item  Year Code  Year   Unit  \
0  Anise, badian, coriander, cumin, caraway, fenn...       2000  2000     ha
1  Anise, badian, coriander, cumin, caraway, fenn...       2000  2000  kg/ha
2  Anise, badian, coriander, cumin, caraway, fenn...       2000  2000      t
3  Anise, badian, coriander, cumin, caraway, fenn...       2001  2001     ha
4  Anise, badian, coriander, cumin, caraway, fenn...       2001  2001  kg/ha

      Value Flag Flag Description Note
0  344434.0    A  Official figure  NaN
1     484.0    A  Official figure  NaN
2  166692.0    A  Official figure  NaN
3  569271.0    A  Official figure  NaN
4     430.3    A  Official figure  NaN
FAOSTAT India shape: (5940, 15)

In [8]:
print("Before explosion shape:", faostat_india.shape)
print(faostat_india[["Item"]].head())


faostat_india["crop"] = (
faostat_india["Item"]
.str.split(",")
.apply(lambda lst: [x.strip() for x in lst])
)


faostat_exploded = faostat_india.explode("crop").reset_index(drop=True)


print("After explosion shape:", faostat_exploded.shape)
print(faostat_exploded[["Item", "crop"]].head())

Before explosion shape: (5940, 15)
                                                Item
0  Anise, badian, coriander, cumin, caraway, fenn...
1  Anise, badian, coriander, cumin, caraway, fenn...
2  Anise, badian, coriander, cumin, caraway, fenn...
3  Anise, badian, coriander, cumin, caraway, fenn...
4  Anise, badian, coriander, cumin, caraway, fenn...
After explosion shape: (9160, 16)
                                                Item       crop
0  Anise, badian, coriander, cumin, caraway, fenn...      Anise
1  Anise, badian, coriander, cumin, caraway, fenn...     badian
2  Anise, badian, coriander, cumin, caraway, fenn...  coriander
3  Anise, badian, coriander, cumin, caraway, fenn...      cumin
4  Anise, badian, coriander, cumin, caraway, fenn...    caraway

In [9]:
faostat_exploded = faostat_exploded.rename(columns={"Item": "item"})
crop_df = crop_df.rename(columns={"label": "crop"})


print("Crop columns:", crop_df.columns)
print("FAOSTAT columns:", faostat_exploded.columns)

Crop columns: Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'crop'], dtype='object')
FAOSTAT columns: Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note', 'crop'],
      dtype='object')

In [10]:
label_to_fao = {
"apple": "Apples",
"banana": "Bananas",
"chickpea": "Chick peas",
"coconut": "Coconuts",
"coffee": "Coffee",
"cotton": "Seed cotton",
"grapes": "Grapes",
"jute": "Jute",
"lentil": "Lentils",
"maize": "Maize (corn)",
"mango": "Mangoes",
"mothbeans": "Beans",
"muskmelon": "Cantaloupes and other melons",
"orange": "Oranges",
"papaya": "Papayas",
"pigeonpeas": "Pigeon peas",
"rice": "Rice",
"watermelon": "Watermelons",
}


crop_df["FAO_name"] = crop_df["crop"].map(label_to_fao)
faostat_exploded["FAO_name"] = faostat_exploded["crop"]

In [11]:
crop_mapped = crop_df[~crop_df["FAO_name"].isna()].copy()
print("Mapped crops:", sorted(crop_mapped["crop"].unique()))
print("Number of mapped crops:", crop_mapped["crop"].nunique())

Mapped crops: ['apple', 'banana', 'chickpea', 'coconut', 'coffee', 'cotton', 'grapes', 'jute', 'lentil', 'maize', 'mango', 'mothbeans', 'muskmelon', 'orange', 'papaya', 'pigeonpeas', 'rice', 'watermelon']
Number of mapped crops: 18

In [12]:
merged = faostat_exploded.merge(
crop_mapped,
on="FAO_name",
how="inner",
suffixes=("_fao", "_ml")
)


merged["crop"] = merged["crop_ml"]


print("Merged shape:", merged.shape)
print("Unique crops after merge:", merged["crop"].nunique())
print(sorted(merged["crop"].unique()))

Merged shape: (129600, 26)
Unique crops after merge: 18
['apple', 'banana', 'chickpea', 'coconut', 'coffee', 'cotton', 'grapes', 'jute', 'lentil', 'maize', 'mango', 'mothbeans', 'muskmelon', 'orange', 'papaya', 'pigeonpeas', 'rice', 'watermelon']

In [13]:
merged_prod = merged[merged["Element"] == "Production"].copy()
print("Production shape:", merged_prod.shape)

Production shape: (43200, 26)

In [14]:
cols_keep = [
"Element", "Value", "N", "P", "K",
"temperature", "humidity", "ph", "rainfall", "crop"
]


final_df = merged_prod[cols_keep].copy()
print("Final DF shape:", final_df.shape)
print(final_df.head())

Final DF shape: (43200, 10)
        Element      Value   N    P    K  temperature   humidity        ph  \
200  Production  1050000.0  24  128  196    22.750888  90.694892  5.521467
201  Production  1050000.0   7  144  197    23.849401  94.348150  6.133221
202  Production  1050000.0  14  128  205    22.608010  94.589006  6.226290
203  Production  1050000.0   8  120  201    21.186674  91.134357  6.321152
204  Production  1050000.0  20  129  201    23.410447  91.699133  5.587906

       rainfall   crop
200  110.431786  apple
201  114.051249  apple
202  116.039659  apple
203  122.233323  apple
204  116.077793  apple

In [15]:
print("Unique crops in final_df:")
print(sorted(final_df["crop"].unique()))
print("Number of unique crops:", final_df["crop"].nunique())

Unique crops in final_df:
['apple', 'banana', 'chickpea', 'coconut', 'coffee', 'cotton', 'grapes', 'jute', 'lentil', 'maize', 'mango', 'mothbeans', 'muskmelon', 'orange', 'papaya', 'pigeonpeas', 'rice', 'watermelon']
Number of unique crops: 18

In [16]:
print("Null counts:")
print(final_df.isna().sum())

Null counts:
Element        0
Value          0
N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
crop           0
dtype: int64

In [17]:
print("Duplicate rows:", final_df.duplicated().sum())
final_df = final_df.drop_duplicates().reset_index(drop=True)
print("Shape after removing duplicates:", final_df.shape)

Duplicate rows: 600
Shape after removing duplicates: (42600, 10)

In [18]:
numeric_cols = ["Value", "N", "P", "K", "temperature", "humidity", "ph", "rainfall"]


for col in numeric_cols:
  Q1 = final_df[col].quantile(0.25)
  Q3 = final_df[col].quantile(0.75)
  IQR = Q3 - Q1
  low = Q1 - 1.5 * IQR
  high = Q3 + 1.5 * IQR
  final_df = final_df[(final_df[col] >= low) & (final_df[col] <= high)]


print("Shape after outlier removal:", final_df.shape)

Shape after outlier removal: (31037, 10)

In [19]:
final_df.to_csv("Clean_FAOSTAT_Crop_18crops.csv", index=False)
print("Dataset saved successfully")

Dataset saved successfully

In [20]:
print("Unique crops:", sorted(final_df["crop"].unique()))
print("Number of unique crops:", final_df["crop"].nunique())
print(final_df["crop"].value_counts())

Unique crops: ['banana', 'chickpea', 'coconut', 'coffee', 'cotton', 'jute', 'lentil', 'maize', 'mango', 'mothbeans', 'muskmelon', 'orange', 'papaya', 'pigeonpeas', 'watermelon']
Number of unique crops: 15
crop
coconut       2400
jute          2400
lentil        2400
watermelon    2400
cotton        2400
coffee        2300
muskmelon     2300
mango         2232
chickpea      2088
pigeonpeas    2016
maize         2000
banana        1700
orange        1617
papaya        1488
mothbeans     1296
Name: count, dtype: int64

In [22]:
print("Rows:", final_df.shape[0])
print("Columns:", final_df.shape[1])

Rows: 31037
Columns: 10