<a href="https://colab.research.google.com/github/springboardmentor2468a-lab/AgriYield/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
faostat_df = pd.read_csv('/content/FAOSTAT_data_en_11-27-2025 (1).csv')
crop_df = pd.read_csv('Crop_recommendation.csv')

In [4]:
faostat_df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,ha,9.000000e+04,E,Estimated value,NaN
1,QCL,Crops and livestock products,356,India,5412,Yield,01654,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,kg/ha,5.000000e+02,E,Estimated value,NaN
2,QCL,Crops and livestock products,356,India,5510,Production,01654,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,t,4.500000e+04,E,Estimated value,NaN
3,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",1962,1962,ha,9.000000e+04,E,Estimated value,NaN
4,QCL,Crops and livestock products,356,India,5412,Yield,01654,"Anise, badian, coriander, cumin, caraway, fenn...",1962,1962,kg/ha,5.000000e+02,E,Estimated value,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16397,QCL,Crops and livestock products,356,India,5412,Yield,0111,Wheat,2022,2022,kg/ha,3.537300e+03,A,Official figure,NaN
16398,QCL,Crops and livestock products,356,India,5510,Production,0111,Wheat,2022,2022,t,1.077421e+08,A,Official figure,NaN
16399,QCL,Crops and livestock products,356,India,5312,Area harvested,0111,Wheat,2023,2023,ha,3.140072e+07,A,Official figure,NaN
16400,QCL,Crops and livestock products,356,India,5412,Yield,0111,Wheat,2023,2023,kg/ha,3.520700e+03,A,Official figure,NaN
16401,QCL,Crops and livestock products,356,India,5510,Production,0111,Wheat,2023,2023,t,1.105537e+08,A,Official figure,NaN

In [5]:
crop_df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [6]:
print("Original FAOSTAT shape:", faostat_df.shape)

Original FAOSTAT shape: (16402, 15)

In [7]:
print("Original Crop shape:", crop_df.shape)

Original Crop shape: (2200, 8)

In [8]:
#Split Item into list of crops (by comma)
faostat_df_exploded = faostat_df.copy()
faostat_df_exploded['crop'] = faostat_df_exploded['Item'].str.split(',')

In [9]:
faostat_df_exploded = faostat_df_exploded.explode('crop')

In [10]:
faostat_df_exploded['crop'] = faostat_df_exploded['crop'].str.strip()

In [11]:
faostat_df_exploded

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note,crop
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,ha,9.000000e+04,E,Estimated value,NaN,Anise
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,ha,9.000000e+04,E,Estimated value,NaN,badian
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,ha,9.000000e+04,E,Estimated value,NaN,coriander
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,ha,9.000000e+04,E,Estimated value,NaN,cumin
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1961,ha,9.000000e+04,E,Estimated value,NaN,caraway
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16397,QCL,Crops and livestock products,356,India,5412,Yield,0111,Wheat,2022,2022,kg/ha,3.537300e+03,A,Official figure,NaN,Wheat
16398,QCL,Crops and livestock products,356,India,5510,Production,0111,Wheat,2022,2022,t,1.077421e+08,A,Official figure,NaN,Wheat
16399,QCL,Crops and livestock products,356,India,5312,Area harvested,0111,Wheat,2023,2023,ha,3.140072e+07,A,Official figure,NaN,Wheat
16400,QCL,Crops and livestock products,356,India,5412,Yield,0111,Wheat,2023,2023,kg/ha,3.520700e+03,A,Official figure,NaN,Wheat
16401,QCL,Crops and livestock products,356,India,5510,Production,0111,Wheat,2023,2023,t,1.105537e+08,A,Official figure,NaN,Wheat

In [12]:
print(faostat_df_exploded['crop'].value_counts().head(20))

crop
raw                             1033
dry                              945
n.e.c.                           944
green                            567
in shell                         560
raw or retted                    442
Peas                             378
Chillies and peppers             378
cumin                            189
coriander                        189
badian                           189
Anise                            189
Barley                           189
Beans                            189
Cantaloupes and other melons     189
Cabbages                         189
Cashew nuts                      189
Areca nuts                       189
fennel and juniper berries       189
Apricots                         189
Name: count, dtype: int64

In [13]:
crop_df = crop_df.rename(columns={'label': 'crop'})

print("Crop dataset crops:")
print(crop_df['crop'].value_counts())

Crop dataset crops:
crop
rice           100
maize          100
chickpea       100
kidneybeans    100
pigeonpeas     100
mothbeans      100
mungbean       100
blackgram      100
lentil         100
pomegranate    100
banana         100
mango          100
grapes         100
watermelon     100
muskmelon      100
apple          100
orange         100
papaya         100
coconut        100
cotton         100
jute           100
coffee         100
Name: count, dtype: int64

In [14]:
faostat_df_exploded['crop'] = faostat_df_exploded['crop'].str.lower().str.strip()
crop_df['crop'] = crop_df['crop'].str.lower().str.strip()

print("\nUnique crops in FAOSTAT (sample):")
print(sorted(faostat_df_exploded['crop'].unique())[:30])

print("\nUnique crops in crop_recommendation:")
print(crop_df['crop'].unique())

Unique crops in FAOSTAT (sample):
['and other textile bast fibres', 'anise', 'apples', 'apricots', 'areca nuts', 'badian', 'bananas', 'barley', 'beans', 'beer of barley', 'black tea (fermented) and partly fermented tea', 'cabbages', 'cantaloupes and other melons', 'caraway', 'cardamoms', 'carrots and turnips', 'cashew nuts', 'cassava', 'castor oil seeds', 'cauliflowers and broccoli', 'cherries', 'chick peas', 'chillies and peppers', 'clementines', 'cocoa beans', 'coconut oil', 'coconuts', 'coffee', 'coir', 'coriander']

Unique crops in crop_recommendation:
['rice' 'maize' 'chickpea' 'kidneybeans' 'pigeonpeas' 'mothbeans'
 'mungbean' 'blackgram' 'lentil' 'pomegranate' 'banana' 'mango' 'grapes'
 'watermelon' 'muskmelon' 'apple' 'orange' 'papaya' 'coconut' 'cotton'
 'jute' 'coffee']

In [16]:
# Keep only crops present in both datasets (optional but useful)
common_crops = set(faostat_df_exploded['crop'].unique()) & set(crop_df['crop'].unique())
print("\nCommon crops between datasets:")
print(common_crops)

faostat_filtered = faostat_df_exploded[faostat_df_exploded['crop'].isin(common_crops)].copy()
crop_filtered = crop_df[crop_df['crop'].isin(common_crops)].copy()

print("\nFAOSTAT filtered shape:", faostat_filtered.shape)
print("Crop filtered shape:", crop_filtered.shape)

Common crops between datasets:
{'coffee', 'rice', 'grapes', 'jute'}

FAOSTAT filtered shape: (756, 16)
Crop filtered shape: (400, 8)

In [17]:
# Merge on crop column
merged_df = pd.merge(
    faostat_filtered,
    crop_filtered,
    on='crop',
    how='inner',          # use 'inner' so we only keep crops present in both
    suffixes=('_faostat', '_crop')
)

print("\nMerged dataset shape:", merged_df.shape)
print("Merged columns:", merged_df.columns.tolist())
print("\nMerged head:")
print(merged_df.head())

Merged dataset shape: (75600, 23)
Merged columns: ['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code', 'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit', 'Value', 'Flag', 'Flag Description', 'Note', 'crop', 'N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall']

Merged head:
  Domain Code                        Domain  Area Code (M49)   Area  \
0         QCL  Crops and livestock products              356  India
1         QCL  Crops and livestock products              356  India
2         QCL  Crops and livestock products              356  India
3         QCL  Crops and livestock products              356  India
4         QCL  Crops and livestock products              356  India

   Element Code         Element Item Code (CPC)           Item  Year Code  \
0          5312  Area harvested           01610  Coffee, green       1961
1          5312  Area harvested           01610  Coffee, green       1961
2          5312  Area harvested           01610  Coffee, green       1961
3          5312  Area harvested           01610  Coffee, green       1961
4          5312  Area harvested           01610  Coffee, green       1961

   Year  ... Flag Description  Note    crop    N   P   K  temperature  \
0  1961  ...  Official figure   NaN  coffee   91  21  26    26.333780
1  1961  ...  Official figure   NaN  coffee  107  21  26    26.452885
2  1961  ...  Official figure   NaN  coffee   83  38  35    25.708227
3  1961  ...  Official figure   NaN  coffee  108  24  31    24.128325
4  1961  ...  Official figure   NaN  coffee  116  28  34    23.443723

    humidity        ph    rainfall
0  57.364700  7.261314  191.654941
1  55.322227  7.235070  144.686134
2  52.886671  7.189156  136.732509
3  56.181077  6.431900  147.275782
4  60.395233  6.423211  122.210325

[5 rows x 23 columns]

In [18]:
merged_df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,...,Flag Description,Note,crop,N,P,K,temperature,humidity,ph,rainfall
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01610,"Coffee, green",1961,1961,...,Official figure,NaN,coffee,91,21,26,26.333780,57.364700,7.261314,191.654941
1,QCL,Crops and livestock products,356,India,5312,Area harvested,01610,"Coffee, green",1961,1961,...,Official figure,NaN,coffee,107,21,26,26.452885,55.322227,7.235070,144.686134
2,QCL,Crops and livestock products,356,India,5312,Area harvested,01610,"Coffee, green",1961,1961,...,Official figure,NaN,coffee,83,38,35,25.708227,52.886671,7.189156,136.732509
3,QCL,Crops and livestock products,356,India,5312,Area harvested,01610,"Coffee, green",1961,1961,...,Official figure,NaN,coffee,108,24,31,24.128325,56.181077,6.431900,147.275782
4,QCL,Crops and livestock products,356,India,5312,Area harvested,01610,"Coffee, green",1961,1961,...,Official figure,NaN,coffee,116,28,34,23.443723,60.395233,6.423211,122.210325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75595,QCL,Crops and livestock products,356,India,5510,Production,0113,Rice,2023,2023,...,Official figure,NaN,rice,88,46,42,22.683191,83.463583,6.604993,194.265172
75596,QCL,Crops and livestock products,356,India,5510,Production,0113,Rice,2023,2023,...,Official figure,NaN,rice,93,47,37,21.533463,82.140041,6.500343,295.924880
75597,QCL,Crops and livestock products,356,India,5510,Production,0113,Rice,2023,2023,...,Official figure,NaN,rice,60,55,45,21.408658,83.329319,5.935745,287.576694
75598,QCL,Crops and livestock products,356,India,5510,Production,0113,Rice,2023,2023,...,Official figure,NaN,rice,78,35,44,26.543481,84.673536,7.072656,183.622266
75599,QCL,Crops and livestock products,356,India,5510,Production,0113,Rice,2023,2023,...,Official figure,NaN,rice,65,37,40,23.359054,83.595123,5.333323,188.413665

In [19]:
cols_to_drop = [
    'Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Item Code (CPC)', 'Item','Element Code',
    'Year Code', 'Year', 'Flag Description', 'Note',
    'Unit', 'Flag'
]

In [20]:
merged_df = merged_df.drop(columns=cols_to_drop, errors='ignore')
merged_df.head()

,Element,Value,crop,N,P,K,temperature,humidity,ph,rainfall
0,Area harvested,96000.0,coffee,91,21,26,26.333780,57.364700,7.261314,191.654941
1,Area harvested,96000.0,coffee,107,21,26,26.452885,55.322227,7.235070,144.686134
2,Area harvested,96000.0,coffee,83,38,35,25.708227,52.886671,7.189156,136.732509
3,Area harvested,96000.0,coffee,108,24,31,24.128325,56.181077,6.431900,147.275782
4,Area harvested,96000.0,coffee,116,28,34,23.443723,60.395233,6.423211,122.210325

In [21]:
#  Check nulls
print("\n=== NULL VALUES CHECK ===")
null_counts = merged_df.isnull().sum()
print(null_counts[null_counts > 0].sort_values(ascending=False))

=== NULL VALUES CHECK ===
Series([], dtype: int64)

In [22]:
#  Check duplicates
print("\n=== DUPLICATES CHECK ===")
print("Total duplicate rows:", merged_df.duplicated().sum())

# If Year and Element exist, check duplicates by these keys
key_cols = [col for col in ['crop', 'Year', 'Element'] if col in merged_df.columns]
if key_cols:
    print("Duplicates by", key_cols, ":", merged_df.duplicated(subset=key_cols).sum())
else:
    print("Key columns not fully available for duplicate check.")

=== DUPLICATES CHECK ===
Total duplicate rows: 2100
Duplicates by ['crop', 'Element'] : 75588

In [23]:
#  Drop duplicates
if key_cols:
    merged_df_clean = merged_df.drop_duplicates(subset=key_cols, keep='first')
else:
    merged_df_clean = merged_df.drop_duplicates(keep='first')

print("\nShape after dropping duplicates:", merged_df_clean.shape)

Shape after dropping duplicates: (12, 10)

In [24]:
#  Drop rows with nulls in critical columns (if they exist)
critical_cols = [c for c in ['crop', 'Year', 'Value', 'N', 'P', 'K'] if c in merged_df_clean.columns]
merged_df_clean = merged_df_clean.dropna(subset=critical_cols)

print("\nShape after dropping nulls in critical columns:", merged_df_clean.shape)

Shape after dropping nulls in critical columns: (12, 10)

In [25]:
# Select numeric columns (adjust if your column names differ)
num_cols = ['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'Value']

num_cols = [c for c in num_cols if c in merged_df_clean.columns]

print("=== Numerical summary statistics ===")
print(merged_df_clean[num_cols].describe())

=== Numerical summary statistics ===
               N           P          K  temperature   humidity         ph  \
count  12.000000   12.000000   12.00000    12.000000  12.000000  12.000000
mean   73.500000   60.000000   75.50000    25.683746  73.289380   6.469782
std    29.858758   43.423915   72.34953     3.389629  10.427675   0.515331
min    24.000000   21.000000   26.00000    20.879744  57.364700   6.002525
25%    72.750000   36.750000   35.00000    24.363453  68.527556   6.084860
50%    89.500000   44.500000   40.50000    25.929235  76.895037   6.307645
75%    90.250000   67.750000   81.00000    27.249528  81.656861   6.692567
max    91.000000  130.000000  195.00000    29.996772  82.002744   7.261314

         rainfall         Value
count   12.000000  1.200000e+01
mean   153.400705  7.540220e+06
std     55.668210  1.754279e+07
min     67.125345  4.500000e+02
25%    130.696584  3.685475e+03
50%    171.770969  5.660000e+04
75%    194.475090  9.738500e+05
max    202.935536  5.349450e+07

In [26]:
print("\n=== Crop counts ===")
print(merged_df_clean['crop'].value_counts())

if 'Element' in merged_df_clean.columns:
    print("\n=== Element counts ===")
    print(merged_df_clean['Element'].value_counts())

=== Crop counts ===
crop
coffee    3
grapes    3
jute      3
rice      3
Name: count, dtype: int64

=== Element counts ===
Element
Area harvested    4
Yield             4
Production        4
Name: count, dtype: int64