In [1]:
import pandas as pd

# Load FAOSTAT dataset
faostat_file = 'FAOSTAT_data_en_11-19-2025.csv'
df_faostat = pd.read_csv(faostat_file)

# Load Crop Recommendation dataset
crop_rec_file = 'Crop_recommendation.csv'
df_crop_rec = pd.read_csv(crop_rec_file)

In [2]:
# Optional: display settings
pd.set_option('display.max_rows', 6)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 20)

In [3]:
# 1) Title and FAOSTAT preview (boxed)
from IPython.display import display  # Jupyter’s rich display [web:27][web:31]

print("FAOSTAT clean preview:\n")
display(df_faostat.head(10))   # boxed table

FAOSTAT clean preview:

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livest...,356,India,5312,Area harvested,1654.0,"Anise, badian, c...",2000,2000,ha,344434.0,A,Official figure,NaN
1,QCL,Crops and livest...,356,India,5412,Yield,1654.0,"Anise, badian, c...",2000,2000,kg/ha,484.0,A,Official figure,NaN
2,QCL,Crops and livest...,356,India,5510,Production,1654.0,"Anise, badian, c...",2000,2000,t,166692.0,A,Official figure,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,QCL,Crops and livest...,356,India,5412,Yield,1654.0,"Anise, badian, c...",2002,2002,kg/ha,296.8,A,Official figure,NaN
8,QCL,Crops and livest...,356,India,5510,Production,1654.0,"Anise, badian, c...",2002,2002,t,162362.0,A,Official figure,NaN
9,QCL,Crops and livest...,356,India,5312,Area harvested,1654.0,"Anise, badian, c...",2003,2003,ha,476618.0,A,Official figure,NaN

In [4]:
import pandas as pd

pd.set_option('display.max_rows', None)   # show all rows, no "..."
# or set a large number, e.g.
# pd.set_option('display.max_rows', 1000)

Crop_Recommendation_clean_preview = df_crop_rec.head(10)  # if you made a subset
Crop_Recommendation_clean_preview

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice
5  69  37  42    23.058049  83.370118  7.073454  251.055000  rice
6  69  55  38    22.708838  82.639414  5.700806  271.324860  rice
7  94  53  40    20.277744  82.894086  5.718627  241.974195  rice
8  89  54  38    24.515881  83.535216  6.685346  230.446236  rice
9  68  58  38    23.223974  83.033227  6.336254  221.209196  rice

In [5]:
# Rename 'Item' column in FAOSTAT dataset to 'Crop'
df_faostat.rename(columns={'Item': 'Crop'}, inplace=True)

# Rename 'label' column in Crop Recommendation dataset to 'Crop'
df_crop_rec.rename(columns={'label': 'Crop'}, inplace=True)

# Check the renamed columns
print(df_faostat.columns)
print(df_crop_rec.columns)

Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Crop', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note'],
      dtype='object')
Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'Crop'], dtype='object')

In [6]:
# Split the 'Crop' column by commas into lists
df_faostat['Crop'] = df_faostat['Crop'].str.split(',')

# Explode the lists so each crop gets its own row
df_faostat = df_faostat.explode('Crop')

# Remove leading and trailing whitespace from each crop name
df_faostat['Crop'] = df_faostat['Crop'].str.strip()

# Check the result
print(df_faostat[['Crop']].head(10))

                  Crop
0                Anise
0               badian
0            coriander
0                cumin
0              caraway
0  fennel and junip...
0                  raw
1                Anise
1               badian
1            coriander

In [7]:
# After explode
df_exploded = df_faostat.explode('Crop')

# Display the first 10 rows
from IPython.display import display
display(df_exploded.head(10))

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Crop,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livest...,356,India,5312,Area harvested,1654.0,Anise,2000,2000,ha,344434.0,A,Official figure,NaN
0,QCL,Crops and livest...,356,India,5312,Area harvested,1654.0,badian,2000,2000,ha,344434.0,A,Official figure,NaN
0,QCL,Crops and livest...,356,India,5312,Area harvested,1654.0,coriander,2000,2000,ha,344434.0,A,Official figure,NaN
0,QCL,Crops and livest...,356,India,5312,Area harvested,1654.0,cumin,2000,2000,ha,344434.0,A,Official figure,NaN
0,QCL,Crops and livest...,356,India,5312,Area harvested,1654.0,caraway,2000,2000,ha,344434.0,A,Official figure,NaN
0,QCL,Crops and livest...,356,India,5312,Area harvested,1654.0,fennel and junip...,2000,2000,ha,344434.0,A,Official figure,NaN
0,QCL,Crops and livest...,356,India,5312,Area harvested,1654.0,raw,2000,2000,ha,344434.0,A,Official figure,NaN
1,QCL,Crops and livest...,356,India,5412,Yield,1654.0,Anise,2000,2000,kg/ha,484.0,A,Official figure,NaN
1,QCL,Crops and livest...,356,India,5412,Yield,1654.0,badian,2000,2000,kg/ha,484.0,A,Official figure,NaN
1,QCL,Crops and livest...,356,India,5412,Yield,1654.0,coriander,2000,2000,kg/ha,484.0,A,Official figure,NaN

In [8]:
# View the first 10 rows of the Crop column
print(df_faostat['Crop'].head(10))

# Check number of unique crops
print(f'Number of unique crops: {df_faostat["Crop"].nunique()}')

# Check if any rows still contain commas (should be zero)
print(f'Rows with commas: {(df_faostat["Crop"].str.contains(",")).sum()}')

0                  Anise
0                 badian
0              coriander
0                  cumin
0                caraway
0    fennel and junip...
0                    raw
1                  Anise
1                 badian
1              coriander
Name: Crop, dtype: object
Number of unique crops: 110
Rows with commas: 0

In [9]:
# Normalize crop names by converting to lowercase and stripping whitespace
df_faostat['Crop_norm'] = df_faostat['Crop'].str.lower().str.strip()
df_crop_rec['Crop_norm'] = df_crop_rec['Crop'].str.lower().str.strip()

# Merge datasets on the normalized crop names
df_merged = pd.merge(
    df_faostat,
    df_crop_rec,
    left_on='Crop_norm',
    right_on='Crop_norm',
    how='inner'
)

# Check merged dataset shape and preview
print(f'Merged dataset shape: {df_merged.shape}')
print(df_merged.head())

Merged dataset shape: (28800, 24)
  Domain Code               Domain  Area Code (M49)   Area  Element Code  \
0         QCL  Crops and livest...              356  India          5312
1         QCL  Crops and livest...              356  India          5312
2         QCL  Crops and livest...              356  India          5312
3         QCL  Crops and livest...              356  India          5312
4         QCL  Crops and livest...              356  India          5312

          Element  Item Code (CPC)  Crop_x  Year Code  Year Unit     Value  \
0  Area harvested           1610.0  Coffee       2000  2000   ha  308433.0
1  Area harvested           1610.0  Coffee       2000  2000   ha  308433.0
2  Area harvested           1610.0  Coffee       2000  2000   ha  308433.0
3  Area harvested           1610.0  Coffee       2000  2000   ha  308433.0
4  Area harvested           1610.0  Coffee       2000  2000   ha  308433.0

  Flag Flag Description Note Crop_norm    N   P   K  temperature   humidity  \
0    A  Official figure  NaN    coffee   91  21  26    26.333780  57.364700
1    A  Official figure  NaN    coffee  107  21  26    26.452885  55.322227
2    A  Official figure  NaN    coffee   83  38  35    25.708227  52.886671
3    A  Official figure  NaN    coffee  108  24  31    24.128325  56.181077
4    A  Official figure  NaN    coffee  116  28  34    23.443723  60.395233

         ph    rainfall  Crop_y
0  7.261314  191.654941  coffee
1  7.235070  144.686134  coffee
2  7.189156  136.732509  coffee
3  6.431900  147.275782  coffee
4  6.423211  122.210325  coffee

In [10]:
from IPython.display import display  # only once at top of notebook

# Show shape in text
print(f'Merged dataset shape: {df_merged.shape}')

# Show nice boxed table for the first rows
display(df_merged.head(10))   # no print(), this gives the HTML box

Merged dataset shape: (28800, 24)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Crop_x,Year Code,Year,Unit,Value,Flag,Flag Description,Note,Crop_norm,N,P,K,temperature,humidity,ph,rainfall,Crop_y
0,QCL,Crops and livest...,356,India,5312,Area harvested,1610.0,Coffee,2000,2000,ha,308433.0,A,Official figure,NaN,coffee,91,21,26,26.333780,57.364700,7.261314,191.654941,coffee
1,QCL,Crops and livest...,356,India,5312,Area harvested,1610.0,Coffee,2000,2000,ha,308433.0,A,Official figure,NaN,coffee,107,21,26,26.452885,55.322227,7.235070,144.686134,coffee
2,QCL,Crops and livest...,356,India,5312,Area harvested,1610.0,Coffee,2000,2000,ha,308433.0,A,Official figure,NaN,coffee,83,38,35,25.708227,52.886671,7.189156,136.732509,coffee
3,QCL,Crops and livest...,356,India,5312,Area harvested,1610.0,Coffee,2000,2000,ha,308433.0,A,Official figure,NaN,coffee,108,24,31,24.128325,56.181077,6.431900,147.275782,coffee
4,QCL,Crops and livest...,356,India,5312,Area harvested,1610.0,Coffee,2000,2000,ha,308433.0,A,Official figure,NaN,coffee,116,28,34,23.443723,60.395233,6.423211,122.210325,coffee
5,QCL,Crops and livest...,356,India,5312,Area harvested,1610.0,Coffee,2000,2000,ha,308433.0,A,Official figure,NaN,coffee,116,23,25,23.412371,52.269947,6.869720,139.367075,coffee
6,QCL,Crops and livest...,356,India,5312,Area harvested,1610.0,Coffee,2000,2000,ha,308433.0,A,Official figure,NaN,coffee,109,31,27,23.059519,50.406094,6.973840,164.497187,coffee
7,QCL,Crops and livest...,356,India,5312,Area harvested,1610.0,Coffee,2000,2000,ha,308433.0,A,Official figure,NaN,coffee,89,25,34,23.078954,63.658615,7.184802,129.876544,coffee
8,QCL,Crops and livest...,356,India,5312,Area harvested,1610.0,Coffee,2000,2000,ha,308433.0,A,Official figure,NaN,coffee,118,18,32,27.649611,51.110440,6.351824,122.839282,coffee
9,QCL,Crops and livest...,356,India,5312,Area harvested,1610.0,Coffee,2000,2000,ha,308433.0,A,Official figure,NaN,coffee,111,32,34,25.467437,69.351612,6.392048,171.376446,coffee

In [3]:
# 1) Reload the two CSVs
import pandas as pd

df_faostat  = pd.read_csv("FAOSTAT_data_en_11-19-2025.csv")
df_crop_rec = pd.read_csv("Crop_recommendation.csv")

In [4]:
# 2) Recreate your exploded FAO table and merged table
#    (this is exactly what your notebook already does)

# create clean crop column then explode (your existing logic)
df_faostat["Crop"] = (
    df_faostat["Item"]
    .str.lower()
    .str.replace("anise, badian, coriander, cumin, caraway, fennel and juniper berries, raw",
                 "anise, badian, coriander, cumin, caraway, fennel, juniper berries",
                 regex=False)
    .str.split(", ")
)

df_fao_exploded_item = df_faostat.explode("Crop")
df_fao_exploded_item["Crop_norm"] = df_fao_exploded_item["Crop"].str.strip()

# merge with crop recommendation
df_merged = df_fao_exploded_item.merge(
    df_crop_rec,
    left_on="Crop_norm",
    right_on="label",
    how="inner"
)

In [6]:
df_merged.columns.tolist()

['Domain Code',
 'Domain',
 'Area Code (M49)',
 'Area',
 'Element Code',
 'Element',
 'Item Code (CPC)',
 'Item',
 'Year Code',
 'Year',
 'Unit',
 'Value',
 'Flag',
 'Flag Description',
 'Note',
 'Crop',
 'Crop_norm',
 'N',
 'P',
 'K',
 'temperature',
 'humidity',
 'ph',
 'rainfall',
 'label']

In [7]:
cols_to_drop = [
    "Domain Code",
    "Domain",
    "Area Code (M49)",
    "Area",
    "Element Code",
    "Item Code (CPC)",
    "Crop_x",      # will be ignored if not present
    "Item",        # keep this if you still need it
    "Year Code",
    "Year",
    "Unit",
    "Flag",
    "Flag Description",
    "Note"
]

df_merged = df_merged.drop(columns=cols_to_drop, errors="ignore")
df_merged.head()

,Element,Value,Crop,Crop_norm,N,P,K,temperature,humidity,ph,rainfall,label
0,Area harvested,308433.0,coffee,coffee,91,21,26,26.333780,57.364700,7.261314,191.654941,coffee
1,Area harvested,308433.0,coffee,coffee,107,21,26,26.452885,55.322227,7.235070,144.686134,coffee
2,Area harvested,308433.0,coffee,coffee,83,38,35,25.708227,52.886671,7.189156,136.732509,coffee
3,Area harvested,308433.0,coffee,coffee,108,24,31,24.128325,56.181077,6.431900,147.275782,coffee
4,Area harvested,308433.0,coffee,coffee,116,28,34,23.443723,60.395233,6.423211,122.210325,coffee

In [9]:
df_merged["Element"].unique()

array(['Area harvested', 'Yield', 'Production'], dtype=object)

In [10]:
df_merged = df_merged.drop(columns=["label", "Crop_norm"], errors="ignore")
df_merged.head()

,Element,Value,Crop,N,P,K,temperature,humidity,ph,rainfall
0,Area harvested,308433.0,coffee,91,21,26,26.333780,57.364700,7.261314,191.654941
1,Area harvested,308433.0,coffee,107,21,26,26.452885,55.322227,7.235070,144.686134
2,Area harvested,308433.0,coffee,83,38,35,25.708227,52.886671,7.189156,136.732509
3,Area harvested,308433.0,coffee,108,24,31,24.128325,56.181077,6.431900,147.275782
4,Area harvested,308433.0,coffee,116,28,34,23.443723,60.395233,6.423211,122.210325

In [2]:
import pandas as pd

# load raw datasets
df_faostat  = pd.read_csv("FAOSTAT_data_en_11-19-2025.csv")
df_crop_rec = pd.read_csv("Crop_recommendation.csv")

In [3]:
# clean Item -> Crop list, then explode
df_faostat["Crop"] = (
    df_faostat["Item"]
    .str.lower()
    .str.replace(
        "anise, badian, coriander, cumin, caraway, fennel and juniper berries, raw",
        "anise, badian, coriander, cumin, caraway, fennel, juniper berries",
        regex=False
    )
    .str.split(", ")
)

df_fao_exploded_item = df_faostat.explode("Crop")
df_fao_exploded_item["Crop_norm"] = df_fao_exploded_item["Crop"].str.strip()

In [5]:
# merge with crop recommendation on crop name
df_merged = df_fao_exploded_item.merge(
    df_crop_rec,
    left_on="Crop_norm",
    right_on="label",
    how="inner"
)

# keep only needed columns
df_merged = df_merged.drop(
    columns=[
        "Domain Code", "Domain", "Area Code (M49)", "Area",
        "Element Code", "Item Code (CPC)", "Year Code",
        "Flag", "Flag Description", "Note", "Crop_norm", "label","Item","Year","Unit"
    ],
    errors="ignore"
)

df_merged.head()

,Element,Value,Crop,N,P,K,temperature,humidity,ph,rainfall
0,Area harvested,308433.0,coffee,91,21,26,26.333780,57.364700,7.261314,191.654941
1,Area harvested,308433.0,coffee,107,21,26,26.452885,55.322227,7.235070,144.686134
2,Area harvested,308433.0,coffee,83,38,35,25.708227,52.886671,7.189156,136.732509
3,Area harvested,308433.0,coffee,108,24,31,24.128325,56.181077,6.431900,147.275782
4,Area harvested,308433.0,coffee,116,28,34,23.443723,60.395233,6.423211,122.210325

In [6]:
# overview
df_merged.info()
df_merged.isna().sum()

# focus on numeric columns
num_cols = ["Value", "N", "P", "K", "temperature", "humidity", "ph", "rainfall"]

# drop rows with any null in numeric features (simple, safe choice)
df_merged = df_merged.dropna(subset=num_cols)

# if you want to see remaining nulls
df_merged.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28800 entries, 0 to 28799
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Element      28800 non-null  object
 1   Value        28800 non-null  float64
 2   Crop         28800 non-null  object
 3   N            28800 non-null  int64
 4   P            28800 non-null  int64
 5   K            28800 non-null  int64
 6   temperature  28800 non-null  float64
 7   humidity     28800 non-null  float64
 8   ph           28800 non-null  float64
 9   rainfall     28800 non-null  float64
dtypes: float64(5), int64(3), object(2)
memory usage: 2.2+ MB

Element        0
Value          0
Crop           0
N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
dtype: int64

In [11]:
# 1. See how many duplicate rows you have (across all columns)
dup_all = df_merged.duplicated().sum()
print("Exact duplicate rows:", dup_all)

# 2. Drop exact duplicates (keep first occurrence)
df_merged = df_merged.drop_duplicates()
print("Shape after dropping exact duplicates:", df_merged.shape)

# 3. Check duplicates based on a logical key
#    Same Crop, Element, and environmental conditions
key_cols = ["Crop", "Element", "N", "P", "K", "temperature", "humidity", "ph", "rainfall"]

dup_key = df_merged.duplicated(subset=key_cols).sum()
print("Key-based duplicate rows:", dup_key)

# 4. Drop key-based duplicates (keep first)
df_merged = df_merged.drop_duplicates(subset=key_cols)
print("Final shape after dropping key-based duplicates:", df_merged.shape)

Exact duplicate rows: 0
Shape after dropping exact duplicates: (28500, 10)
Key-based duplicate rows: 27300
Final shape after dropping key-based duplicates: (1200, 10)

In [12]:
import numpy as np

# numeric columns to check for outliers
num_cols = ["Value", "N", "P", "K", "temperature", "humidity", "ph", "rainfall"]

# 1. Compute Q1, Q3 and IQR for each numeric column
Q1 = df_merged[num_cols].quantile(0.25)
Q3 = df_merged[num_cols].quantile(0.75)
IQR = Q3 - Q1

print("Q1:\n", Q1)
print("\nQ3:\n", Q3)
print("\nIQR:\n", IQR)

# 2. Build a boolean mask for rows that are NOT outliers
#    (inside [Q1 - 1.5*IQR, Q3 + 1.5*IQR] for ALL numeric columns)
mask = ~(
    (df_merged[num_cols] < (Q1 - 1.5 * IQR)) |
    (df_merged[num_cols] > (Q3 + 1.5 * IQR))
).any(axis=1)

print("\nRows before outlier removal:", df_merged.shape[0])
print("Rows flagged as outliers:", (~mask).sum())

# 3. Apply mask to create clean dataset
df_merged_clean = df_merged[mask].reset_index(drop=True)
print("Rows after outlier removal:", df_merged_clean.shape[0])

Q1:
 Value          21900.200000
N                 55.000000
P                 37.000000
K                 35.000000
temperature       23.176366
humidity          70.648966
ph                 6.085485
rainfall         105.096066
Name: 0.25, dtype: float64

Q3:
 Value          1.266765e+06
N              9.200000e+01
P              7.500000e+01
K              8.250000e+01
temperature    2.639260e+01
humidity       8.273973e+01
ph             6.981234e+00
rainfall       1.949317e+02
Name: 0.75, dtype: float64

IQR:
 Value          1.244865e+06
N              3.700000e+01
P              3.800000e+01
K              4.750000e+01
temperature    3.216232e+00
humidity       1.209077e+01
ph             8.957488e-01
rainfall       8.983565e+01
dtype: float64

Rows before outlier removal: 1200
Rows flagged as outliers: 554
Rows after outlier removal: 646

In [13]:
import numpy as np

num_cols = ["Value", "N", "P", "K", "temperature", "humidity", "ph", "rainfall"]

Q1 = df_merged[num_cols].quantile(0.25)
Q3 = df_merged[num_cols].quantile(0.75)
IQR = Q3 - Q1

mask = ~(
    (df_merged[num_cols] < (Q1 - 1.5 * IQR)) |
    (df_merged[num_cols] > (Q3 + 1.5 * IQR))
).any(axis=1)

df_merged_clean = df_merged[mask].reset_index(drop=True)

In [14]:
df_merged_clean.head()      # first 5 rows as a nice table

,Element,Value,Crop,N,P,K,temperature,humidity,ph,rainfall
0,Area harvested,308433.0,coffee,91,21,26,26.333780,57.364700,7.261314,191.654941
1,Area harvested,308433.0,coffee,107,21,26,26.452885,55.322227,7.235070,144.686134
2,Area harvested,308433.0,coffee,83,38,35,25.708227,52.886671,7.189156,136.732509
3,Area harvested,308433.0,coffee,108,24,31,24.128325,56.181077,6.431900,147.275782
4,Area harvested,308433.0,coffee,116,28,34,23.443723,60.395233,6.423211,122.210325

In [17]:
import pandas as pd

# 1. Load original CSVs
df_faostat  = pd.read_csv("FAOSTAT_data_en_11-19-2025.csv")
df_crop_rec = pd.read_csv("Crop_recommendation.csv")

In [18]:
# 2. Create Crop list from Item and explode
df_faostat["Crop"] = (
    df_faostat["Item"]
    .str.lower()
    .str.replace(
        "anise, badian, coriander, cumin, caraway, fennel and juniper berries, raw",
        "anise, badian, coriander, cumin, caraway, fennel, juniper berries",
        regex=False
    )
    .str.split(", ")
)

df_fao_exploded_item = df_faostat.explode("Crop")
df_fao_exploded_item["Crop_norm"] = df_fao_exploded_item["Crop"].str.strip()

In [19]:
# 3. Merge with crop recommendation
df_merged = df_fao_exploded_item.merge(
    df_crop_rec,
    left_on="Crop_norm",
    right_on="label",
    how="inner"
)

In [25]:
# 4. Drop ONLY the FAO junk columns,
#    but KEEP 'Element' this time
df_merged = df_merged.drop(
    columns=[
        "Domain Code", "Domain", "Area Code (M49)", "Area",
        "Element Code",          # drop code but keep 'Element'
        "Item Code (CPC)", "Year Code",
        "Flag", "Flag Description", "Note",
        "Crop_norm", "label","Item","Year"
    ],
    errors="ignore"
)

In [26]:
key_cols = ["Crop", "Element", "N", "P", "K",
            "temperature", "humidity", "ph", "rainfall"]
df_merged = df_merged.drop_duplicates(subset=key_cols).reset_index(drop=True)

df_merged.head()

,Element,Unit,Value,Crop,N,P,K,temperature,humidity,ph,rainfall
0,Production,t,292000.0,coffee,91,21,26,26.333780,57.364700,7.261314,191.654941
1,Production,t,292000.0,coffee,107,21,26,26.452885,55.322227,7.235070,144.686134
2,Production,t,292000.0,coffee,83,38,35,25.708227,52.886671,7.189156,136.732509
3,Production,t,292000.0,coffee,108,24,31,24.128325,56.181077,6.431900,147.275782
4,Production,t,292000.0,coffee,116,28,34,23.443723,60.395233,6.423211,122.210325

In [27]:
# keep only Production rows in Element
df_merged = df_merged[df_merged["Element"] == "Production"].reset_index(drop=True)

# optional: confirm Element has only Production
print(df_merged["Element"].value_counts())

df_merged.head()

Element
Production    400
Name: count, dtype: int64

,Element,Unit,Value,Crop,N,P,K,temperature,humidity,ph,rainfall
0,Production,t,292000.0,coffee,91,21,26,26.333780,57.364700,7.261314,191.654941
1,Production,t,292000.0,coffee,107,21,26,26.452885,55.322227,7.235070,144.686134
2,Production,t,292000.0,coffee,83,38,35,25.708227,52.886671,7.189156,136.732509
3,Production,t,292000.0,coffee,108,24,31,24.128325,56.181077,6.431900,147.275782
4,Production,t,292000.0,coffee,116,28,34,23.443723,60.395233,6.423211,122.210325