In [1]:
import pandas as pd
import numpy as np

In [2]:
df4=pd.read_csv('final.csv')

C:\Users\skart\AppData\Local\Temp\ipykernel_17284\701585182.py:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df4=pd.read_csv('final.csv')

In [3]:
df4.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Domain Code,Domain,...,Year Code,Year,Unit,Value,Flag,Flag Description,Note,Area_Harvested,Production,Yield
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2004,2004,ha,41906700.0,A,Official figure,NaN,41906700.0,124697104.0,2975.6
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2004,2004,kg/ha,2975.6,A,Official figure,NaN,41906700.0,124697104.0,2975.6
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2004,2004,t,124697104.0,A,Official figure,NaN,41906700.0,124697104.0,2975.6
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2005,2005,ha,43659800.0,A,Official figure,NaN,43659800.0,137690096.0,3153.7
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2005,2005,kg/ha,3153.7,A,Official figure,NaN,43659800.0,137690096.0,3153.7

In [4]:
df4=df4.drop(columns=['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code','Unit',
       'Value', 'Flag', 'Flag Description', 'Note'])

In [5]:
df4.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Area_Harvested,Production,Yield
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,41906700.0,124697104.0,2975.6
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,41906700.0,124697104.0,2975.6
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,41906700.0,124697104.0,2975.6
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,43659800.0,137690096.0,3153.7
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,43659800.0,137690096.0,3153.7

In [6]:
df4.isnull().any()

N                 False
P                 False
K                 False
temperature       False
humidity          False
ph                False
rainfall          False
Crop              False
Year              False
Area_Harvested    False
Production        False
Yield             False
dtype: bool

In [7]:
df4=df4.drop_duplicates().reset_index(drop=True)

In [8]:
df4.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Area_Harvested,Production,Yield
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,41906700.0,124697104.0,2975.6
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,43659800.0,137690096.0,3153.7
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2006,43810000.0,139136992.0,3175.9
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2007,43910000.0,144570000.0,3292.4
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2008,45537400.0,148036000.0,3250.9

In [9]:
len(df4)

28000

In [10]:
df4.dtypes

N                   int64
P                   int64
K                   int64
temperature       float64
humidity          float64
ph                float64
rainfall          float64
Crop               object
Year                int64
Area_Harvested    float64
Production        float64
Yield             float64
dtype: object

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
encoder=LabelEncoder()

In [13]:
df4['Crops']=encoder.fit_transform(df4['Crop'])

In [14]:
df4.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Area_Harvested,Production,Yield,Crops
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,41906700.0,124697104.0,2975.6,12
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,43659800.0,137690096.0,3153.7,12
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2006,43810000.0,139136992.0,3175.9,12
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2007,43910000.0,144570000.0,3292.4,12
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2008,45537400.0,148036000.0,3250.9,12