In [448]:
import pandas as pd
import numpy as np

In [449]:
df1=pd.read_csv("Crop_recommendation.csv")

In [450]:
df1.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [451]:
df1.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [452]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [453]:
df1.isnull().any()

N              False
P              False
K              False
temperature    False
humidity       False
ph             False
rainfall       False
label          False
dtype: bool

In [454]:
df1['label'].value_counts()

label
rice           100
maize          100
chickpea       100
kidneybeans    100
pigeonpeas     100
mothbeans      100
mungbean       100
blackgram      100
lentil         100
pomegranate    100
banana         100
mango          100
grapes         100
watermelon     100
muskmelon      100
apple          100
orange         100
papaya         100
coconut        100
cotton         100
jute           100
coffee         100
Name: count, dtype: int64

In [455]:
df1=df1.rename(columns={'label':'Crop'})

In [456]:
df1.head()

    N   P   K  temperature   humidity        ph    rainfall  Crop
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [457]:
df2=pd.read_csv("FAOSTAT_data_en_11-19-2025.csv")

In [458]:
df2.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,ha,410573.0,A,Official figure,NaN
1,QCL,Crops and livestock products,356,India,5412,Yield,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,kg/ha,553.1,A,Official figure,NaN
2,QCL,Crops and livestock products,356,India,5510,Production,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,t,227099.0,A,Official figure,NaN
3,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2005,2005,ha,446931.0,A,Official figure,NaN
4,QCL,Crops and livestock products,356,India,5412,Yield,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2005,2005,kg/ha,584.4,A,Official figure,NaN

In [459]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5261 entries, 0 to 5260
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       5261 non-null   object
 1   Domain            5261 non-null   object
 2   Area Code (M49)   5261 non-null   int64
 3   Area              5261 non-null   object
 4   Element Code      5261 non-null   int64
 5   Element           5261 non-null   object
 6   Item Code (CPC)   5261 non-null   object
 7   Item              5261 non-null   object
 8   Year Code         5261 non-null   int64
 9   Year              5261 non-null   int64
 10  Unit              5261 non-null   object
 11  Value             5076 non-null   float64
 12  Flag              5261 non-null   object
 13  Flag Description  5261 non-null   object
 14  Note              227 non-null    object
dtypes: float64(1), int64(4), object(10)
memory usage: 616.7+ KB

In [460]:
df2.columns

Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note'],
      dtype='object')

In [461]:
df2.isnull().any()

Domain Code         False
Domain              False
Area Code (M49)     False
Area                False
Element Code        False
Element             False
Item Code (CPC)     False
Item                False
Year Code           False
Year                False
Unit                False
Value                True
Flag                False
Flag Description    False
Note                 True
dtype: bool

In [462]:
len(df2)

5261

In [463]:
df2[df2.isnull().any(axis=1)]

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,ha,4.105730e+05,A,Official figure,NaN
1,QCL,Crops and livestock products,356,India,5412,Yield,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,kg/ha,5.531000e+02,A,Official figure,NaN
2,QCL,Crops and livestock products,356,India,5510,Production,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,t,2.270990e+05,A,Official figure,NaN
3,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2005,2005,ha,4.469310e+05,A,Official figure,NaN
4,QCL,Crops and livestock products,356,India,5412,Yield,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2005,2005,kg/ha,5.844000e+02,A,Official figure,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5256,QCL,Crops and livestock products,356,India,5412,Yield,0111,Wheat,2022,2022,kg/ha,3.537300e+03,A,Official figure,NaN
5257,QCL,Crops and livestock products,356,India,5510,Production,0111,Wheat,2022,2022,t,1.077421e+08,A,Official figure,NaN
5258,QCL,Crops and livestock products,356,India,5312,Area harvested,0111,Wheat,2023,2023,ha,3.140072e+07,A,Official figure,NaN
5259,QCL,Crops and livestock products,356,India,5412,Yield,0111,Wheat,2023,2023,kg/ha,3.520700e+03,A,Official figure,NaN
5260,QCL,Crops and livestock products,356,India,5510,Production,0111,Wheat,2023,2023,t,1.105537e+08,A,Official figure,NaN

In [464]:
len(df2[df2.isnull().any(axis=1)])

5034

In [465]:
df2.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,ha,410573.0,A,Official figure,NaN
1,QCL,Crops and livestock products,356,India,5412,Yield,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,kg/ha,553.1,A,Official figure,NaN
2,QCL,Crops and livestock products,356,India,5510,Production,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,t,227099.0,A,Official figure,NaN
3,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2005,2005,ha,446931.0,A,Official figure,NaN
4,QCL,Crops and livestock products,356,India,5412,Yield,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2005,2005,kg/ha,584.4,A,Official figure,NaN

In [466]:
df2['Item'] = df2['Item'].str.split(r",|and")
df2 = df2.explode('Item')

In [467]:
df2['Item']=df2['Item'].str.strip()

In [468]:
df2.columns

Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note'],
      dtype='object')

In [469]:
for i in df2['Item'].unique():
    print(i)

Anise
badian
cori
er
cumin
caraway
fennel
juniper berries
raw
Apples
Apricots
Areca nuts
Bananas
Barley
Beans
dry
Beer of barley
malted
Cabbages
Cantaloupes
other melons
Carrots
turnips
Cashew nuts
in shell
Cassava
fresh
Castor oil seeds
Cauliflowers
broccoli
Cherries
Chick peas
Chillies
peppers
dry (Capsicum spp.
Pimenta spp.)
green (Capsicum spp.
Cocoa beans
Coconut oil
Coconuts
Coffee
green
Coir
Cotton lint
ginned
Cotton seed
Cottonseed oil
Cucumbers
gherkins
Eggplants (aubergines)
Figs
Ginger
Grapes
Green garlic
Green tea (not fermented)
black tea (fermented)
partly fermented tea
in immediate packings of a content not exceeding 3 kg
Groundnut oil
Groundnuts
excluding shelled
Jute
raw or retted
Kenaf

other textile bast fibres
Lemons
limes
Lentils
Lettuce
chicory
Linseed
Maize (corn)
Mangoes
guavas
mangosteens
Margarine
shortening
Millet
Molasses
Mushrooms
truffles
Natural rubber in primary forms
Nutmeg
mace
cardamoms
Oil of linseed
Oil of maize
Oil of sesame seed
Okra
Onions
shallots
dry (excluding dehydrated)
Oranges
Other beans
Other berries
fruits of the genus vaccinium n.e.c.
Other citrus fruit
n.e.c.
Other fruits
Other oil seeds
Other pulses n.e.c.
Other stimulant
spice
aromatic crops
Other stone fruits
Other tropical fruits
Other vegetables
fresh n.e.c.
Papayas
Peaches
nectarines
Pears
Peas
Pepper (Piper spp.)
Pigeon peas
Pineapples
Plums
sloes
Pomelos
grapefruits
Poppy seed
Potatoes
Pumpkins
squash
gourds
Rape or colza seed
Rapeseed or canola oil
crude
Raw cane or beet sugar (centrifugal only)
Rice
Safflower seed
Safflower-seed oil
Seed cotton
unginned
Sesame seed
Sorghum
Soya bean oil
Soya beans
Sugar cane
Sunflower seed
Sunflower-seed oil
Sweet potatoes
Tangerines
m
arins
clementines
Tea leaves
Tomatoes
True hemp
Unmanufactured tobacco
Walnuts
Watermelons
Wheat

In [470]:
len(df2['Item'].unique())

154

In [471]:
clean_crop_names = {
    "Anise": "anise",
    "badian": "badian",
    "cori": "cori",
    "er": "er",
    "cumin": "cumin",
    "caraway": "caraway",
    "fennel": "fennel",
    "juniper berries": "juniper_berries",

    "Apples": "apple",
    "Apricots": "apricot",
    "Areca nuts": "areca_nut",
    "Bananas": "banana",
    "Barley": "barley",

    "Beans": "bean",
    "dry": "dry",

    "Cabbages": "cabbage",
    "Cantaloupes": "muskmelon",
    "other melons": "muskmelon",
    "Carrots": "carrot",
    "turnips": "turnip",

    "Cashew nuts": "cashew",
    "in shell": "in_shell",

    "Cassava": "cassava",
    "fresh": "fresh",

    "Castor oil seeds": "castor_seed",
    "Cauliflowers": "cauliflower",
    "broccoli": "broccoli",

    "Cherries": "cherry",
    "Chick peas": "chickpea",

    "Chillies": "chilli",
    "peppers": "pepper",
    "dry (Capsicum spp.)": "dry_capsicum",
    "Pimenta spp.)": "pimenta_spp",
    "green (Capsicum spp.)": "green_capsicum",

    "Cocoa beans": "cocoa",
    "Coconuts": "coconut",
    "Coffee": "coffee",
    "green": "green",

    "Cucumbers": "cucumber",
    "gherkins": "gherkin",

    "Eggplants (aubergines)": "eggplant",
    "Figs": "fig",
    "Ginger": "ginger",
    "Grapes": "grapes",

    "Green garlic": "green_garlic",
    "Groundnuts": "groundnut",
    "excluding shelled": "excluding_shelled",

    "Jute": "jute",
    "raw or retted": "raw_retted",

    "Kenaf": "kenaf",
    "other textile bast fibres": "bast_fibres",

    "Lemons": "lemon",
    "limes": "lime",

    "Lentils": "lentil",
    "Lettuce": "lettuce",
    "chicory": "chicory",

    "Linseed": "linseed",
    "Maize (corn)": "maize",

    "Mangoes": "mango",
    "guavas": "guava",
    "mangosteens": "mangosteen",

    "Millet": "millet",
    "Natural rubber in primary forms": "natural_rubber",

    "Nutmeg": "nutmeg",
    "mace": "mace",
    "cardamoms": "cardamom",

    "Okra": "okra",
    "Onions": "onion",
    "shallots": "shallot",
    "dry (excluding dehydrated)": "dry_non_dehydrated",

    "Oranges": "orange",

    "Other beans": "mothbeans",
    "Other berries": "other_berries",
    "fruits of the genus vaccinium n.e.c.": "vaccinium_fruits",

    "Other citrus fruit": "other_citrus",
    "n.e.c.": "nec",

    "Other fruits": "other_fruits",
    "Other oil seeds": "other_oilseeds",
    "Other pulses n.e.c.": "other_pulses",
    "Other stimulant": "other_stimulant",
    "spice": "spice",
    "aromatic crops": "aromatic_crops",

    "Other stone fruits": "stone_fruits",
    "Other tropical fruits": "tropical_fruits",
    "Other vegetables": "other_vegetables",
    "fresh n.e.c.": "fresh_nec",

    "Papayas": "papaya",
    "Peaches": "peach",
    "nectarines": "nectarine",

    "Pears": "pear",
    "Peas": "pea",

    "Pepper (Piper spp.)": "pepper_piper",
    "Pigeon peas": "pigeonpeas",
    "Pineapples": "pineapple",

    "Plums": "plum",
    "sloes": "sloe",

    "Pomelos": "pomelo",
    "grapefruits": "grapefruit",

    "Potatoes": "potato",
    "Pumpkins": "pumpkin",
    "squash": "squash",
    "gourds": "gourd",

    "Rape or colza seed": "rapeseed",
    "Rice": "rice",
    "Safflower seed": "safflower",

    "Seed cotton": "cotton",
    "unginned": "unginned",

    "Sesame seed": "sesame",
    "Sorghum": "sorghum",
    "Soya beans": "soybean",
    "Sugar cane": "sugarcane",
    "Sunflower seed": "sunflower",

    "Sweet potatoes": "sweet_potato",

    "Tangerines": "tangerine",
    "marins": "marin",
    "clementines": "clementine",

    "Tea leaves": "tea",
    "Tomatoes": "tomato",
    "Unmanufactured tobacco": "tobacco",
    "Walnuts": "walnut",
    "Watermelons": "watermelon",
    "Wheat": "wheat"
}

In [472]:
len(clean_crop_names)

122

In [473]:
df2['Crop']=df2['Item'].map(clean_crop_names)

In [474]:
common_crops = set(df2['Crop']).intersection(set(df1['Crop']))
common_crops

{'apple',
 'banana',
 'chickpea',
 'coconut',
 'coffee',
 'cotton',
 'grapes',
 'jute',
 'lentil',
 'maize',
 'mango',
 'mothbeans',
 'muskmelon',
 'orange',
 'papaya',
 'pigeonpeas',
 'rice',
 'watermelon'}

In [475]:
df2.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note,Crop
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,Anise,2004,2004,ha,410573.0,A,Official figure,NaN,anise
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,badian,2004,2004,ha,410573.0,A,Official figure,NaN,badian
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,cori,2004,2004,ha,410573.0,A,Official figure,NaN,cori
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,er,2004,2004,ha,410573.0,A,Official figure,NaN,er
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,cumin,2004,2004,ha,410573.0,A,Official figure,NaN,cumin

In [476]:
len(df2[df2.isnull().any(axis=1)])

9216

In [477]:
df2.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note,Crop
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,Anise,2004,2004,ha,410573.0,A,Official figure,NaN,anise
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,badian,2004,2004,ha,410573.0,A,Official figure,NaN,badian
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,cori,2004,2004,ha,410573.0,A,Official figure,NaN,cori
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,er,2004,2004,ha,410573.0,A,Official figure,NaN,er
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,cumin,2004,2004,ha,410573.0,A,Official figure,NaN,cumin

In [478]:
df2.isnull().any()

Domain Code         False
Domain              False
Area Code (M49)     False
Area                False
Element Code        False
Element             False
Item Code (CPC)     False
Item                False
Year Code           False
Year                False
Unit                False
Value                True
Flag                False
Flag Description    False
Note                 True
Crop                 True
dtype: bool

In [479]:
len(df2)

9338

In [480]:
len(df2[df2.isnull().any(axis=1)])

9216

In [481]:
df2.isnull().any()

Domain Code         False
Domain              False
Area Code (M49)     False
Area                False
Element Code        False
Element             False
Item Code (CPC)     False
Item                False
Year Code           False
Year                False
Unit                False
Value                True
Flag                False
Flag Description    False
Note                 True
Crop                 True
dtype: bool

In [482]:
df3=pd.merge(df1,df2,on='Crop')

In [483]:
df3['Crop'].unique()

array(['rice', 'maize', 'chickpea', 'pigeonpeas', 'mothbeans', 'lentil',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [484]:
df3.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Domain Code,Domain,...,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Area harvested,0113,Rice,2004,2004,ha,41906700.0,A,Official figure,NaN
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Yield,0113,Rice,2004,2004,kg/ha,2975.6,A,Official figure,NaN
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,0113,Rice,2004,2004,t,124697104.0,A,Official figure,NaN
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Area harvested,0113,Rice,2005,2005,ha,43659800.0,A,Official figure,NaN
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Yield,0113,Rice,2005,2005,kg/ha,3153.7,A,Official figure,NaN

In [485]:
df3.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'Crop',
       'Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note'],
      dtype='object')

In [486]:
df3.isnull().any()

N                   False
P                   False
K                   False
temperature         False
humidity            False
ph                  False
rainfall            False
Crop                False
Domain Code         False
Domain              False
Area Code (M49)     False
Area                False
Element Code        False
Element             False
Item Code (CPC)     False
Item                False
Year Code           False
Year                False
Unit                False
Value               False
Flag                False
Flag Description    False
Note                 True
dtype: bool

In [487]:
df3.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Domain Code,Domain,...,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Area harvested,0113,Rice,2004,2004,ha,41906700.0,A,Official figure,NaN
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Yield,0113,Rice,2004,2004,kg/ha,2975.6,A,Official figure,NaN
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,0113,Rice,2004,2004,t,124697104.0,A,Official figure,NaN
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Area harvested,0113,Rice,2005,2005,ha,43659800.0,A,Official figure,NaN
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Yield,0113,Rice,2005,2005,kg/ha,3153.7,A,Official figure,NaN

In [488]:
df3.isnull().any()

N                   False
P                   False
K                   False
temperature         False
humidity            False
ph                  False
rainfall            False
Crop                False
Domain Code         False
Domain              False
Area Code (M49)     False
Area                False
Element Code        False
Element             False
Item Code (CPC)     False
Item                False
Year Code           False
Year                False
Unit                False
Value               False
Flag                False
Flag Description    False
Note                 True
dtype: bool

In [489]:
df3.isna().any()

N                   False
P                   False
K                   False
temperature         False
humidity            False
ph                  False
rainfall            False
Crop                False
Domain Code         False
Domain              False
Area Code (M49)     False
Area                False
Element Code        False
Element             False
Item Code (CPC)     False
Item                False
Year Code           False
Year                False
Unit                False
Value               False
Flag                False
Flag Description    False
Note                 True
dtype: bool

In [490]:
df3.dtypes

N                     int64
P                     int64
K                     int64
temperature         float64
humidity            float64
ph                  float64
rainfall            float64
Crop                 object
Domain Code          object
Domain               object
Area Code (M49)       int64
Area                 object
Element Code          int64
Element              object
Item Code (CPC)      object
Item                 object
Year Code             int64
Year                  int64
Unit                 object
Value               float64
Flag                 object
Flag Description     object
Note                 object
dtype: object

In [491]:
df3.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Domain Code,Domain,...,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Area harvested,0113,Rice,2004,2004,ha,41906700.0,A,Official figure,NaN
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Yield,0113,Rice,2004,2004,kg/ha,2975.6,A,Official figure,NaN
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,0113,Rice,2004,2004,t,124697104.0,A,Official figure,NaN
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Area harvested,0113,Rice,2005,2005,ha,43659800.0,A,Official figure,NaN
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Yield,0113,Rice,2005,2005,kg/ha,3153.7,A,Official figure,NaN

In [492]:
len(df3)

114000

In [493]:
df3.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Domain Code,Domain,...,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Area harvested,0113,Rice,2004,2004,ha,41906700.0,A,Official figure,NaN
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Yield,0113,Rice,2004,2004,kg/ha,2975.6,A,Official figure,NaN
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,0113,Rice,2004,2004,t,124697104.0,A,Official figure,NaN
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Area harvested,0113,Rice,2005,2005,ha,43659800.0,A,Official figure,NaN
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Yield,0113,Rice,2005,2005,kg/ha,3153.7,A,Official figure,NaN

In [494]:
df3.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'Crop',
       'Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note'],
      dtype='object')

In [495]:
df3.dtypes

N                     int64
P                     int64
K                     int64
temperature         float64
humidity            float64
ph                  float64
rainfall            float64
Crop                 object
Domain Code          object
Domain               object
Area Code (M49)       int64
Area                 object
Element Code          int64
Element              object
Item Code (CPC)      object
Item                 object
Year Code             int64
Year                  int64
Unit                 object
Value               float64
Flag                 object
Flag Description     object
Note                 object
dtype: object

In [496]:
df3.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Domain Code,Domain,...,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Area harvested,0113,Rice,2004,2004,ha,41906700.0,A,Official figure,NaN
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Yield,0113,Rice,2004,2004,kg/ha,2975.6,A,Official figure,NaN
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,0113,Rice,2004,2004,t,124697104.0,A,Official figure,NaN
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Area harvested,0113,Rice,2005,2005,ha,43659800.0,A,Official figure,NaN
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Yield,0113,Rice,2005,2005,kg/ha,3153.7,A,Official figure,NaN

In [497]:
df3.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'Crop',
       'Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note'],
      dtype='object')

In [498]:
df3.to_csv("final.csv", index=False)

In [499]:
df4=pd.read_csv('final.csv')

C:\Users\skart\AppData\Local\Temp\ipykernel_17356\701585182.py:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df4=pd.read_csv('final.csv')

In [500]:
df4.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Domain Code,Domain,...,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Area harvested,113.0,Rice,2004,2004,ha,41906700.0,A,Official figure,NaN
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Yield,113.0,Rice,2004,2004,kg/ha,2975.6,A,Official figure,NaN
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,113.0,Rice,2004,2004,t,124697104.0,A,Official figure,NaN
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Area harvested,113.0,Rice,2005,2005,ha,43659800.0,A,Official figure,NaN
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Yield,113.0,Rice,2005,2005,kg/ha,3153.7,A,Official figure,NaN

In [501]:
df4 = df4[df4['Element'] == 'Production']

In [502]:
df4.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Domain Code,Domain,...,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,113.0,Rice,2004,2004,t,124697104.0,A,Official figure,NaN
5,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,113.0,Rice,2005,2005,t,137690096.0,A,Official figure,NaN
8,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,113.0,Rice,2006,2006,t,139136992.0,A,Official figure,NaN
11,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,113.0,Rice,2007,2007,t,144570000.0,A,Official figure,NaN
14,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,113.0,Rice,2008,2008,t,148036000.0,A,Official figure,NaN

In [503]:
df4=df4.drop(columns=['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code','Unit', 'Flag', 'Flag Description', 'Note'])

In [504]:
df4.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Value
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,124697104.0
5,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,137690096.0
8,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2006,139136992.0
11,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2007,144570000.0
14,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2008,148036000.0

In [505]:
df4.isnull().any()

N              False
P              False
K              False
temperature    False
humidity       False
ph             False
rainfall       False
Crop           False
Year           False
Value          False
dtype: bool

In [506]:
df4[df4.duplicated()]

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Value
60005,115,17,55,27.578269,94.118782,6.776533,28.082532,muskmelon,2004,758528.68
60011,115,17,55,27.578269,94.118782,6.776533,28.082532,muskmelon,2005,792199.13
60017,115,17,55,27.578269,94.118782,6.776533,28.082532,muskmelon,2006,819427.00
60023,115,17,55,27.578269,94.118782,6.776533,28.082532,muskmelon,2007,847701.58
60029,115,17,55,27.578269,94.118782,6.776533,28.082532,muskmelon,2008,876007.99
...,...,...,...,...,...,...,...,...,...,...
71975,106,16,54,28.960179,91.695322,6.585873,24.745820,muskmelon,2019,1266000.00
71981,106,16,54,28.960179,91.695322,6.585873,24.745820,muskmelon,2020,1368000.00
71987,106,16,54,28.960179,91.695322,6.585873,24.745820,muskmelon,2021,1478000.00
71993,106,16,54,28.960179,91.695322,6.585873,24.745820,muskmelon,2022,1498000.00
71999,106,16,54,28.960179,91.695322,6.585873,24.745820,muskmelon,2023,1498000.00

In [507]:
df4=df4.drop_duplicates().reset_index(drop=True)

In [508]:
df4.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Value
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,124697104.0
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,137690096.0
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2006,139136992.0
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2007,144570000.0
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2008,148036000.0

In [509]:
df4['Crop'].value_counts()

Crop
rice          2000
maize         2000
chickpea      2000
pigeonpeas    2000
mothbeans     2000
lentil        2000
banana        2000
mango         2000
grapes        2000
watermelon    2000
muskmelon     2000
apple         2000
orange        2000
papaya        2000
coconut       2000
cotton        2000
jute          2000
coffee        2000
Name: count, dtype: int64

In [510]:
len(df4['Crop'].unique())

18

In [511]:
df4.dtypes

N                int64
P                int64
K                int64
temperature    float64
humidity       float64
ph             float64
rainfall       float64
Crop            object
Year             int64
Value          float64
dtype: object

In [512]:
df4.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Value
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,124697104.0
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,137690096.0
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2006,139136992.0
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2007,144570000.0
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2008,148036000.0

In [513]:
numeric_cols = df4.select_dtypes(include=[np.number]).columns
outlier_summary = {}
for col in numeric_cols:
    Q1 = df4[col].quantile(0.25)
    Q3 = df4[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df4[(df4[col] < lower_bound) | (df4[col] > upper_bound)][col]
    outlier_summary[col] = {
        "Lower Bound": lower_bound,
        "Upper Bound": upper_bound,
        "Outlier Count": outliers.shape[0],
        "Outlier Values": outliers.values
    }
for col, info in outlier_summary.items():
    print("\nColumn:", col)
    print("Lower Bound:", info["Lower Bound"])
    print("Upper Bound:", info["Upper Bound"])
    print("Outliers:", info["Outlier Values"])
    print("Count:", info["Outlier Count"])

Column: N
Lower Bound: -76.5
Upper Bound: 191.5
Outliers: []
Count: 0

Column: P
Lower Bound: -34.125
Upper Bound: 130.875
Outliers: [144 144 144 ... 140 140 140]
Count: 2520

Column: K
Lower Bound: -23.0
Upper Bound: 97.0
Outliers: [195 195 195 ... 197 197 197]
Count: 4000

Column: temperature
Lower Bound: 15.057837827499998
Upper Bound: 36.4627598675
Outliers: [36.51268371 36.51268371 36.51268371 ... 37.03551903 37.03551903
 37.03551903]
Count: 1940

Column: humidity
Lower Bound: 15.185666073750014
Upper Bound: 135.74699446374999
Outliers: [14.69765308 14.69765308 14.69765308 14.69765308 14.69765308 14.69765308
 14.69765308 14.69765308 14.69765308 14.69765308 14.69765308 14.69765308
 14.69765308 14.69765308 14.69765308 14.69765308 14.69765308 14.69765308
 14.69765308 14.69765308 14.71070537 14.71070537 14.71070537 14.71070537
 14.71070537 14.71070537 14.71070537 14.71070537 14.71070537 14.71070537
 14.71070537 14.71070537 14.71070537 14.71070537 14.71070537 14.71070537
 14.71070537 14.71070537 14.71070537 14.71070537 14.32313811 14.32313811
 14.32313811 14.32313811 14.32313811 14.32313811 14.32313811 14.32313811
 14.32313811 14.32313811 14.32313811 14.32313811 14.32313811 14.32313811
 14.32313811 14.32313811 14.32313811 14.32313811 14.32313811 14.32313811
 15.11279612 15.11279612 15.11279612 15.11279612 15.11279612 15.11279612
 15.11279612 15.11279612 15.11279612 15.11279612 15.11279612 15.11279612
 15.11279612 15.11279612 15.11279612 15.11279612 15.11279612 15.11279612
 15.11279612 15.11279612 14.99927489 14.99927489 14.99927489 14.99927489
 14.99927489 14.99927489 14.99927489 14.99927489 14.99927489 14.99927489
 14.99927489 14.99927489 14.99927489 14.99927489 14.99927489 14.99927489
 14.99927489 14.99927489 14.99927489 14.99927489 14.42457525 14.42457525
 14.42457525 14.42457525 14.42457525 14.42457525 14.42457525 14.42457525
 14.42457525 14.42457525 14.42457525 14.42457525 14.42457525 14.42457525
 14.42457525 14.42457525 14.42457525 14.42457525 14.42457525 14.42457525
 14.25803981 14.25803981 14.25803981 14.25803981 14.25803981 14.25803981
 14.25803981 14.25803981 14.25803981 14.25803981 14.25803981 14.25803981
 14.25803981 14.25803981 14.25803981 14.25803981 14.25803981 14.25803981
 14.25803981 14.25803981 14.27327988 14.27327988 14.27327988 14.27327988
 14.27327988 14.27327988 14.27327988 14.27327988 14.27327988 14.27327988
 14.27327988 14.27327988 14.27327988 14.27327988 14.27327988 14.27327988
 14.27327988 14.27327988 14.27327988 14.27327988 14.92241479 14.92241479
 14.92241479 14.92241479 14.92241479 14.92241479 14.92241479 14.92241479
 14.92241479 14.92241479 14.92241479 14.92241479 14.92241479 14.92241479
 14.92241479 14.92241479 14.92241479 14.92241479 14.92241479 14.92241479
 15.15405941 15.15405941 15.15405941 15.15405941 15.15405941 15.15405941
 15.15405941 15.15405941 15.15405941 15.15405941 15.15405941 15.15405941
 15.15405941 15.15405941 15.15405941 15.15405941 15.15405941 15.15405941
 15.15405941 15.15405941 14.70085967 14.70085967 14.70085967 14.70085967
 14.70085967 14.70085967 14.70085967 14.70085967 14.70085967 14.70085967
 14.70085967 14.70085967 14.70085967 14.70085967 14.70085967 14.70085967
 14.70085967 14.70085967 14.70085967 14.70085967 14.99451145 14.99451145
 14.99451145 14.99451145 14.99451145 14.99451145 14.99451145 14.99451145
 14.99451145 14.99451145 14.99451145 14.99451145 14.99451145 14.99451145
 14.99451145 14.99451145 14.99451145 14.99451145 14.99451145 14.99451145
 14.72115044 14.72115044 14.72115044 14.72115044 14.72115044 14.72115044
 14.72115044 14.72115044 14.72115044 14.72115044 14.72115044 14.72115044
 14.72115044 14.72115044 14.72115044 14.72115044 14.72115044 14.72115044
 14.72115044 14.72115044 14.44228303 14.44228303 14.44228303 14.44228303
 14.44228303 14.44228303 14.44228303 14.44228303 14.44228303 14.44228303
 14.44228303 14.44228303 14.44228303 14.44228303 14.44228303 14.44228303
 14.44228303 14.44228303 14.44228303 14.44228303 14.2804191  14.2804191
 14.2804191  14.2804191  14.2804191  14.2804191  14.2804191  14.2804191
 14.2804191  14.2804191  14.2804191  14.2804191  14.2804191  14.2804191
 14.2804191  14.2804191  14.2804191  14.2804191  14.2804191  14.2804191
 14.44008871 14.44008871 14.44008871 14.44008871 14.44008871 14.44008871
 14.44008871 14.44008871 14.44008871 14.44008871 14.44008871 14.44008871
 14.44008871 14.44008871 14.44008871 14.44008871 14.44008871 14.44008871
 14.44008871 14.44008871 14.76014523 14.76014523 14.76014523 14.76014523
 14.76014523 14.76014523 14.76014523 14.76014523 14.76014523 14.76014523
 14.76014523 14.76014523 14.76014523 14.76014523 14.76014523 14.76014523
 14.76014523 14.76014523 14.76014523 14.76014523 14.82633099 14.82633099
 14.82633099 14.82633099 14.82633099 14.82633099 14.82633099 14.82633099
 14.82633099 14.82633099 14.82633099 14.82633099 14.82633099 14.82633099
 14.82633099 14.82633099 14.82633099 14.82633099 14.82633099 14.82633099
 14.74071856 14.74071856 14.74071856 14.74071856 14.74071856 14.74071856
 14.74071856 14.74071856 14.74071856 14.74071856 14.74071856 14.74071856
 14.74071856 14.74071856 14.74071856 14.74071856 14.74071856 14.74071856
 14.74071856 14.74071856 14.33847406 14.33847406 14.33847406 14.33847406
 14.33847406 14.33847406 14.33847406 14.33847406 14.33847406 14.33847406
 14.33847406 14.33847406 14.33847406 14.33847406 14.33847406 14.33847406
 14.33847406 14.33847406 14.33847406 14.33847406 14.77959596 14.77959596
 14.77959596 14.77959596 14.77959596 14.77959596 14.77959596 14.77959596
 14.77959596 14.77959596 14.77959596 14.77959596 14.77959596 14.77959596
 14.77959596 14.77959596 14.77959596 14.77959596 14.77959596 14.77959596]
Count: 420

Column: ph
Lower Bound: 4.6543389395000005
Upper Bound: 8.247291683499999
Outliers: [8.75379533 8.75379533 8.75379533 ... 4.52572233 4.52572233 4.52572233]
Count: 1400

Column: rainfall
Lower Bound: -51.28665933749993
Upper Bound: 262.4186806024999
Outliers: [263.9642476 263.9642476 263.9642476 263.9642476 263.9642476 263.9642476
 263.9642476 263.9642476 263.9642476 263.9642476 263.9642476 263.9642476
 263.9642476 263.9642476 263.9642476 263.9642476 263.9642476 263.9642476
 263.9642476 263.9642476 262.7173405 262.7173405 262.7173405 262.7173405
 262.7173405 262.7173405 262.7173405 262.7173405 262.7173405 262.7173405
 262.7173405 262.7173405 262.7173405 262.7173405 262.7173405 262.7173405
 262.7173405 262.7173405 262.7173405 262.7173405 271.3248604 271.3248604
 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604
 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604
 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604
 264.6148697 264.6148697 264.6148697 264.6148697 264.6148697 264.6148697
 264.6148697 264.6148697 264.6148697 264.6148697 264.6148697 264.6148697
 264.6148697 264.6148697 264.6148697 264.6148697 264.6148697 264.6148697
 264.6148697 264.6148697 284.4364567 284.4364567 284.4364567 284.4364567
 284.4364567 284.4364567 284.4364567 284.4364567 284.4364567 284.4364567
 284.4364567 284.4364567 284.4364567 284.4364567 284.4364567 284.4364567
 284.4364567 284.4364567 284.4364567 284.4364567 276.6552459 276.6552459
 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459
 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459
 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459
 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618
 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618
 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618
 291.2986618 291.2986618 271.3586137 271.3586137 271.3586137 271.3586137
 271.3586137 271.3586137 271.3586137 271.3586137 271.3586137 271.3586137
 271.3586137 271.3586137 271.3586137 271.3586137 271.3586137 271.3586137
 271.3586137 271.3586137 271.3586137 271.3586137 272.2017204 272.2017204
 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204
 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204
 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204
 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274
 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274
 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274
 270.4417274 270.4417274 272.2999056 272.2999056 272.2999056 272.2999056
 272.2999056 272.2999056 272.2999056 272.2999056 272.2999056 272.2999056
 272.2999056 272.2999056 272.2999056 272.2999056 272.2999056 272.2999056
 272.2999056 272.2999056 272.2999056 272.2999056 285.2493645 285.2493645
 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645
 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645
 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645
 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471
 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471
 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471
 298.4018471 298.4018471 298.5601175 298.5601175 298.5601175 298.5601175
 298.5601175 298.5601175 298.5601175 298.5601175 298.5601175 298.5601175
 298.5601175 298.5601175 298.5601175 298.5601175 298.5601175 298.5601175
 298.5601175 298.5601175 298.5601175 298.5601175 265.5355937 265.5355937
 265.5355937 265.5355937 265.5355937 265.5355937 265.5355937 265.5355937
 265.5355937 265.5355937 265.5355937 265.5355937 265.5355937 265.5355937
 265.5355937 265.5355937 265.5355937 265.5355937 265.5355937 265.5355937
 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725
 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725
 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725
 286.5083725 286.5083725 283.9338466 283.9338466 283.9338466 283.9338466
 283.9338466 283.9338466 283.9338466 283.9338466 283.9338466 283.9338466
 283.9338466 283.9338466 283.9338466 283.9338466 283.9338466 283.9338466
 283.9338466 283.9338466 283.9338466 283.9338466 267.9761948 267.9761948
 267.9761948 267.9761948 267.9761948 267.9761948 267.9761948 267.9761948
 267.9761948 267.9761948 267.9761948 267.9761948 267.9761948 267.9761948
 267.9761948 267.9761948 267.9761948 267.9761948 267.9761948 267.9761948
 277.9626192 277.9626192 277.9626192 277.9626192 277.9626192 277.9626192
 277.9626192 277.9626192 277.9626192 277.9626192 277.9626192 277.9626192
 277.9626192 277.9626192 277.9626192 277.9626192 277.9626192 277.9626192
 277.9626192 277.9626192 279.5451717 279.5451717 279.5451717 279.5451717
 279.5451717 279.5451717 279.5451717 279.5451717 279.5451717 279.5451717
 279.5451717 279.5451717 279.5451717 279.5451717 279.5451717 279.5451717
 279.5451717 279.5451717 279.5451717 279.5451717 263.6372176 263.6372176
 263.6372176 263.6372176 263.6372176 263.6372176 263.6372176 263.6372176
 263.6372176 263.6372176 263.6372176 263.6372176 263.6372176 263.6372176
 263.6372176 263.6372176 263.6372176 263.6372176 263.6372176 263.6372176
 263.1103304 263.1103304 263.1103304 263.1103304 263.1103304 263.1103304
 263.1103304 263.1103304 263.1103304 263.1103304 263.1103304 263.1103304
 263.1103304 263.1103304 263.1103304 263.1103304 263.1103304 263.1103304
 263.1103304 263.1103304 269.5039162 269.5039162 269.5039162 269.5039162
 269.5039162 269.5039162 269.5039162 269.5039162 269.5039162 269.5039162
 269.5039162 269.5039162 269.5039162 269.5039162 269.5039162 269.5039162
 269.5039162 269.5039162 269.5039162 269.5039162 295.6094492 295.6094492
 295.6094492 295.6094492 295.6094492 295.6094492 295.6094492 295.6094492
 295.6094492 295.6094492 295.6094492 295.6094492 295.6094492 295.6094492
 295.6094492 295.6094492 295.6094492 295.6094492 295.6094492 295.6094492
 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793
 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793
 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793
 278.0791793 278.0791793 280.4044392 280.4044392 280.4044392 280.4044392
 280.4044392 280.4044392 280.4044392 280.4044392 280.4044392 280.4044392
 280.4044392 280.4044392 280.4044392 280.4044392 280.4044392 280.4044392
 280.4044392 280.4044392 280.4044392 280.4044392 290.6793783 290.6793783
 290.6793783 290.6793783 290.6793783 290.6793783 290.6793783 290.6793783
 290.6793783 290.6793783 290.6793783 290.6793783 290.6793783 290.6793783
 290.6793783 290.6793783 290.6793783 290.6793783 290.6793783 290.6793783
 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796
 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796
 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796
 295.9248796 295.9248796 287.5766935 287.5766935 287.5766935 287.5766935
 287.5766935 287.5766935 287.5766935 287.5766935 287.5766935 287.5766935
 287.5766935 287.5766935 287.5766935 287.5766935 287.5766935 287.5766935
 287.5766935 287.5766935 287.5766935 287.5766935]
Count: 580

Column: Year
Lower Bound: 1994.5
Upper Bound: 2032.5
Outliers: []
Count: 0

Column: Value
Lower Bound: -17561375.0
Upper Bound: 33263625.0
Outliers: [1.24697104e+08 1.37690096e+08 1.39136992e+08 ... 3.66140000e+07
 3.45280000e+07 3.66140000e+07]
Count: 2400

In [514]:
df4_clean = df4.copy()

for col in numeric_cols:
    Q1 = df4_clean[col].quantile(0.25)
    Q3 = df4_clean[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    df4_clean = df4_clean[(df4_clean[col] >= lower_bound) & (df4_clean[col] <= upper_bound)]

In [515]:
df4_clean.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Value
2000,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2004,14172000.0
2001,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2005,14709900.0
2002,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2006,15097000.0
2003,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2007,18955400.0
2004,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2008,19731400.0

In [516]:
len(df4_clean)

27220

In [517]:
df4_clean=df4_clean.reset_index(drop=True)

In [518]:
df4_clean.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Value
0,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2004,14172000.0
1,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2005,14709900.0
2,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2006,15097000.0
3,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2007,18955400.0
4,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2008,19731400.0

In [519]:
df4_clean[df4_clean.duplicated()]

Empty DataFrame
Columns: [N, P, K, temperature, humidity, ph, rainfall, Crop, Year, Value]
Index: []

In [520]:
len(df4_clean)

27220

In [521]:
df4_clean['Crop'].value_counts()

Crop
maize         2000
banana        2000
lentil        2000
coconut       2000
cotton        2000
muskmelon     2000
watermelon    2000
jute          2000
coffee        2000
mango         1880
chickpea      1740
pigeonpeas    1740
orange        1560
papaya        1220
mothbeans     1080
Name: count, dtype: int64