In [45]:
import pandas as pd
import numpy as np

In [46]:
df=pd.read_csv('final.csv')

C:\Users\skart\AppData\Local\Temp\ipykernel_17060\3403817249.py:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('final.csv')

In [47]:
df.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Domain Code,Domain,...,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Area harvested,113.0,Rice,2004,2004,ha,41906700.0,A,Official figure,NaN
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Yield,113.0,Rice,2004,2004,kg/ha,2975.6,A,Official figure,NaN
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,113.0,Rice,2004,2004,t,124697104.0,A,Official figure,NaN
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Area harvested,113.0,Rice,2005,2005,ha,43659800.0,A,Official figure,NaN
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Yield,113.0,Rice,2005,2005,kg/ha,3153.7,A,Official figure,NaN

In [48]:
df4=df.groupby(['Element']).get_group('Production')

C:\Users\skart\AppData\Local\Temp\ipykernel_17060\948619197.py:1: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  df4=df.groupby(['Element']).get_group('Production')

In [49]:
df4.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Domain Code,Domain,...,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,113.0,Rice,2004,2004,t,124697104.0,A,Official figure,NaN
5,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,113.0,Rice,2005,2005,t,137690096.0,A,Official figure,NaN
8,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,113.0,Rice,2006,2006,t,139136992.0,A,Official figure,NaN
11,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,113.0,Rice,2007,2007,t,144570000.0,A,Official figure,NaN
14,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,113.0,Rice,2008,2008,t,148036000.0,A,Official figure,NaN

In [50]:
df4=df4.drop(columns=['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code','Unit', 'Flag', 'Flag Description', 'Note'])

In [51]:
df4.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Value
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,124697104.0
5,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,137690096.0
8,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2006,139136992.0
11,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2007,144570000.0
14,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2008,148036000.0

In [52]:
df4.isnull().any()

N              False
P              False
K              False
temperature    False
humidity       False
ph             False
rainfall       False
Crop           False
Year           False
Value          False
dtype: bool

In [53]:
df4=df4.drop_duplicates().reset_index(drop=True)

In [54]:
df4.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Value
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,124697104.0
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,137690096.0
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2006,139136992.0
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2007,144570000.0
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2008,148036000.0

In [55]:
df4['Crop'].value_counts()

Crop
rice          2000
maize         2000
chickpea      2000
lentil        2000
banana        2000
mango         2000
watermelon    2000
apple         2000
orange        2000
papaya        2000
coconut       2000
cotton        2000
jute          2000
coffee        2000
Name: count, dtype: int64

In [56]:
len(df4)

28000

In [57]:
df4.dtypes

N                int64
P                int64
K                int64
temperature    float64
humidity       float64
ph             float64
rainfall       float64
Crop            object
Year             int64
Value          float64
dtype: object

In [58]:
df4.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Value
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,124697104.0
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,137690096.0
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2006,139136992.0
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2007,144570000.0
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2008,148036000.0