In [126]:
import pandas as pd
import numpy as np

In [127]:
df1=pd.read_csv("Crop_recommendation.csv")

In [128]:
df1.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [129]:
df1.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [130]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [131]:
df1.isnull().any()

N              False
P              False
K              False
temperature    False
humidity       False
ph             False
rainfall       False
label          False
dtype: bool

In [132]:
df1['label'].value_counts()

label
rice           100
maize          100
chickpea       100
kidneybeans    100
pigeonpeas     100
mothbeans      100
mungbean       100
blackgram      100
lentil         100
pomegranate    100
banana         100
mango          100
grapes         100
watermelon     100
muskmelon      100
apple          100
orange         100
papaya         100
coconut        100
cotton         100
jute           100
coffee         100
Name: count, dtype: int64

In [133]:
df1=df1.rename(columns={'label':'Crop'})

In [134]:
df1.head()

    N   P   K  temperature   humidity        ph    rainfall  Crop
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [135]:
df2=pd.read_csv("FAOSTAT_data_en_12-12-2025.csv")

In [136]:
df2.head()

  Domain Code                        Domain  ...  Flag Description Note
0         QCL  Crops and livestock products  ...   Official figure  NaN
1         QCL  Crops and livestock products  ...   Official figure  NaN
2         QCL  Crops and livestock products  ...   Official figure  NaN
3         QCL  Crops and livestock products  ...   Official figure  NaN
4         QCL  Crops and livestock products  ...   Official figure  NaN

[5 rows x 15 columns]

In [137]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5940 entries, 0 to 5939
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       5940 non-null   object
 1   Domain            5940 non-null   object
 2   Area Code (M49)   5940 non-null   int64
 3   Area              5940 non-null   object
 4   Element Code      5940 non-null   int64
 5   Element           5940 non-null   object
 6   Item Code (CPC)   5940 non-null   float64
 7   Item              5940 non-null   object
 8   Year Code         5940 non-null   int64
 9   Year              5940 non-null   int64
 10  Unit              5940 non-null   object
 11  Value             5727 non-null   float64
 12  Flag              5940 non-null   object
 13  Flag Description  5940 non-null   object
 14  Note              115 non-null    object
dtypes: float64(2), int64(4), object(9)
memory usage: 696.2+ KB

In [138]:
df2.columns

Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note'],
      dtype='object')

In [139]:
df2.isnull().any()

Domain Code         False
Domain              False
Area Code (M49)     False
Area                False
Element Code        False
Element             False
Item Code (CPC)     False
Item                False
Year Code           False
Year                False
Unit                False
Value                True
Flag                False
Flag Description    False
Note                 True
dtype: bool

In [140]:
len(df2)

5940

In [141]:
df2[df2.isnull().any(axis=1)]

     Domain Code                        Domain  ...  Flag Description Note
0            QCL  Crops and livestock products  ...   Official figure  NaN
1            QCL  Crops and livestock products  ...   Official figure  NaN
2            QCL  Crops and livestock products  ...   Official figure  NaN
3            QCL  Crops and livestock products  ...   Official figure  NaN
4            QCL  Crops and livestock products  ...   Official figure  NaN
...          ...                           ...  ...               ...  ...
5935         QCL  Crops and livestock products  ...   Official figure  NaN
5936         QCL  Crops and livestock products  ...   Official figure  NaN
5937         QCL  Crops and livestock products  ...   Official figure  NaN
5938         QCL  Crops and livestock products  ...   Official figure  NaN
5939         QCL  Crops and livestock products  ...   Official figure  NaN

[5825 rows x 15 columns]

In [142]:
len(df2[df2.isnull().any(axis=1)])

5825

In [143]:
df2.head()

  Domain Code                        Domain  ...  Flag Description Note
0         QCL  Crops and livestock products  ...   Official figure  NaN
1         QCL  Crops and livestock products  ...   Official figure  NaN
2         QCL  Crops and livestock products  ...   Official figure  NaN
3         QCL  Crops and livestock products  ...   Official figure  NaN
4         QCL  Crops and livestock products  ...   Official figure  NaN

[5 rows x 15 columns]

In [144]:
df2['Item'] = df2['Item'].str.split(r",|and")
df2 = df2.explode('Item')

In [145]:
df2['Item']=df2['Item'].str.strip()

In [146]:
df2.columns

Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note'],
      dtype='object')

In [147]:
for i in df2['Item'].unique():
    print(i)

Anise
badian
cori
er
cumin
caraway
fennel
juniper berries
raw
Apples
Apricots
Areca nuts
Bananas
Barley
Beans
dry
Cabbages
Cantaloupes
other melons
Carrots
turnips
Cashew nuts
in shell
Cassava
fresh
Castor oil seeds
Cauliflowers
broccoli
Cherries
Chick peas
Chillies
peppers
dry (Capsicum spp.
Pimenta spp.)
green (Capsicum spp.
Cocoa beans
Coconuts
Coffee
green
Coir
Cucumbers
gherkins
Eggplants (aubergines)
Figs
Ginger
Grapes
Green garlic
Groundnuts
excluding shelled
Jute
raw or retted
Kenaf

other textile bast fibres
Lemons
limes
Lentils
Lettuce
chicory
Linseed
Maize (corn)
Mangoes
guavas
mangosteens
Millet
Mushrooms
truffles
Natural rubber in primary forms
Nutmeg
mace
cardamoms
Okra
Onions
shallots
dry (excluding dehydrated)
Oranges
Other beans
Other berries
fruits of the genus vaccinium n.e.c.
Other citrus fruit
n.e.c.
Other fruits
Other oil seeds
Other pulses n.e.c.
Other stimulant
spice
aromatic crops
Other stone fruits
Other tropical fruits
Other vegetables
fresh n.e.c.
Papayas
Peaches
nectarines
Pears
Peas
Pepper (Piper spp.)
Pigeon peas
Pineapples
Plums
sloes
Pomelos
grapefruits
Poppy seed
Potatoes
Pumpkins
squash
gourds
Rape or colza seed
Rice
Safflower seed
Seed cotton
unginned
Sesame seed
Sorghum
Soya beans
Sugar cane
Sunflower seed
Sweet potatoes
Tangerines
m
arins
clementines
Tea leaves
Tomatoes
True hemp
Unmanufactured tobacco
Walnuts
Watermelons
Wheat

In [148]:
len(df2['Item'].unique())

130

In [149]:
clean_crop_names = {
    "Anise": "anise",
    "badian": "badian",
    "cori": "cori",
    "er": "er",
    "cumin": "cumin",
    "caraway": "caraway",
    "fennel": "fennel",
    "juniper berries": "juniper_berries",

    "Apples": "apple",
    "Apricots": "apricot",
    "Areca nuts": "areca_nut",
    "Bananas": "banana",
    "Barley": "barley",

    "Beans": "bean",
    "dry": "dry",

    "Cabbages": "cabbage",
    "Cantaloupes": "muskmelon",
    "other melons": "muskmelon",
    "Carrots": "carrot",
    "turnips": "turnip",

    "Cashew nuts": "cashew",
    "in shell": "in_shell",

    "Cassava": "cassava",
    "fresh": "fresh",

    "Castor oil seeds": "castor_seed",
    "Cauliflowers": "cauliflower",
    "broccoli": "broccoli",

    "Cherries": "cherry",
    "Chick peas": "chickpea",

    "Chillies": "chilli",
    "peppers": "pepper",
    "dry (Capsicum spp.)": "dry_capsicum",
    "Pimenta spp.)": "pimenta_spp",
    "green (Capsicum spp.)": "green_capsicum",

    "Cocoa beans": "cocoa",
    "Coconuts": "coconut",
    "Coffee": "coffee",
    "green": "green",

    "Cucumbers": "cucumber",
    "gherkins": "gherkin",

    "Eggplants (aubergines)": "eggplant",
    "Figs": "fig",
    "Ginger": "ginger",
    "Grapes": "grapes",

    "Green garlic": "green_garlic",
    "Groundnuts": "groundnut",
    "excluding shelled": "excluding_shelled",

    "Jute": "jute",
    "raw or retted": "raw_retted",

    "Kenaf": "kenaf",
    "other textile bast fibres": "bast_fibres",

    "Lemons": "lemon",
    "limes": "lime",

    "Lentils": "lentil",
    "Lettuce": "lettuce",
    "chicory": "chicory",

    "Linseed": "linseed",
    "Maize (corn)": "maize",

    "Mangoes": "mango",
    "guavas": "guava",
    "mangosteens": "mangosteen",

    "Millet": "millet",
    "Natural rubber in primary forms": "natural_rubber",

    "Nutmeg": "nutmeg",
    "mace": "mace",
    "cardamoms": "cardamom",

    "Okra": "okra",
    "Onions": "onion",
    "shallots": "shallot",
    "dry (excluding dehydrated)": "dry_non_dehydrated",

    "Oranges": "orange",

    "Other beans": "mothbeans",
    "Other berries": "other_berries",
    "fruits of the genus vaccinium n.e.c.": "vaccinium_fruits",

    "Other citrus fruit": "other_citrus",
    "n.e.c.": "nec",

    "Other fruits": "other_fruits",
    "Other oil seeds": "other_oilseeds",
    "Other pulses n.e.c.": "other_pulses",
    "Other stimulant": "other_stimulant",
    "spice": "spice",
    "aromatic crops": "aromatic_crops",

    "Other stone fruits": "stone_fruits",
    "Other tropical fruits": "tropical_fruits",
    "Other vegetables": "other_vegetables",
    "fresh n.e.c.": "fresh_nec",

    "Papayas": "papaya",
    "Peaches": "peach",
    "nectarines": "nectarine",

    "Pears": "pear",
    "Peas": "pea",

    "Pepper (Piper spp.)": "pepper_piper",
    "Pigeon peas": "pigeonpeas",
    "Pineapples": "pineapple",

    "Plums": "plum",
    "sloes": "sloe",

    "Pomelos": "pomelo",
    "grapefruits": "grapefruit",

    "Potatoes": "potato",
    "Pumpkins": "pumpkin",
    "squash": "squash",
    "gourds": "gourd",

    "Rape or colza seed": "rapeseed",
    "Rice": "rice",
    "Safflower seed": "safflower",

    "Seed cotton": "cotton",
    "unginned": "unginned",

    "Sesame seed": "sesame",
    "Sorghum": "sorghum",
    "Soya beans": "soybean",
    "Sugar cane": "sugarcane",
    "Sunflower seed": "sunflower",

    "Sweet potatoes": "sweet_potato",

    "Tangerines": "tangerine",
    "marins": "marin",
    "clementines": "clementine",

    "Tea leaves": "tea",
    "Tomatoes": "tomato",
    "Unmanufactured tobacco": "tobacco",
    "Walnuts": "walnut",
    "Watermelons": "watermelon",
    "Wheat": "wheat"
}

In [150]:
len(clean_crop_names)

122

In [151]:
df2['Crop']=df2['Item'].map(clean_crop_names)

In [152]:
common_crops = set(df2['Crop']).intersection(set(df1['Crop']))
common_crops

{'apple',
 'banana',
 'chickpea',
 'coconut',
 'coffee',
 'cotton',
 'grapes',
 'jute',
 'lentil',
 'maize',
 'mango',
 'mothbeans',
 'muskmelon',
 'orange',
 'papaya',
 'pigeonpeas',
 'rice',
 'watermelon'}

In [153]:
df2.head()

  Domain Code                        Domain  ...  Note    Crop
0         QCL  Crops and livestock products  ...   NaN   anise
0         QCL  Crops and livestock products  ...   NaN  badian
0         QCL  Crops and livestock products  ...   NaN    cori
0         QCL  Crops and livestock products  ...   NaN      er
0         QCL  Crops and livestock products  ...   NaN   cumin

[5 rows x 16 columns]

In [154]:
len(df2[df2.isnull().any(axis=1)])

10482

In [155]:
df2.head()

  Domain Code                        Domain  ...  Note    Crop
0         QCL  Crops and livestock products  ...   NaN   anise
0         QCL  Crops and livestock products  ...   NaN  badian
0         QCL  Crops and livestock products  ...   NaN    cori
0         QCL  Crops and livestock products  ...   NaN      er
0         QCL  Crops and livestock products  ...   NaN   cumin

[5 rows x 16 columns]

In [156]:
df2.isnull().any()

Domain Code         False
Domain              False
Area Code (M49)     False
Area                False
Element Code        False
Element             False
Item Code (CPC)     False
Item                False
Year Code           False
Year                False
Unit                False
Value                True
Flag                False
Flag Description    False
Note                 True
Crop                 True
dtype: bool

In [157]:
len(df2)

10652

In [158]:
len(df2[df2.isnull().any(axis=1)])

10482

In [159]:
df2.isnull().any()

Domain Code         False
Domain              False
Area Code (M49)     False
Area                False
Element Code        False
Element             False
Item Code (CPC)     False
Item                False
Year Code           False
Year                False
Unit                False
Value                True
Flag                False
Flag Description    False
Note                 True
Crop                 True
dtype: bool

In [160]:
df3=pd.merge(df1,df2,on='Crop')

In [161]:
df3['Crop'].unique()

array(['rice', 'maize', 'chickpea', 'pigeonpeas', 'mothbeans', 'lentil',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [162]:
df3.head()

    N   P   K  temperature  ...        Value  Flag  Flag Description Note
0  90  42  43    20.879744  ...   44712000.0     A   Official figure  NaN
1  90  42  43    20.879744  ...       2850.8     A   Official figure  NaN
2  90  42  43    20.879744  ...  127464896.0     A   Official figure  NaN
3  90  42  43    20.879744  ...   44900000.0     A   Official figure  NaN
4  90  42  43    20.879744  ...       3115.8     A   Official figure  NaN

[5 rows x 23 columns]

In [163]:
df3.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'Crop',
       'Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note'],
      dtype='object')

In [164]:
df3.isnull().any()

N                   False
P                   False
K                   False
temperature         False
humidity            False
ph                  False
rainfall            False
Crop                False
Domain Code         False
Domain              False
Area Code (M49)     False
Area                False
Element Code        False
Element             False
Item Code (CPC)     False
Item                False
Year Code           False
Year                False
Unit                False
Value               False
Flag                False
Flag Description    False
Note                 True
dtype: bool

In [165]:
df3.head()

    N   P   K  temperature  ...        Value  Flag  Flag Description Note
0  90  42  43    20.879744  ...   44712000.0     A   Official figure  NaN
1  90  42  43    20.879744  ...       2850.8     A   Official figure  NaN
2  90  42  43    20.879744  ...  127464896.0     A   Official figure  NaN
3  90  42  43    20.879744  ...   44900000.0     A   Official figure  NaN
4  90  42  43    20.879744  ...       3115.8     A   Official figure  NaN

[5 rows x 23 columns]

In [166]:
df3.isnull().any()

N                   False
P                   False
K                   False
temperature         False
humidity            False
ph                  False
rainfall            False
Crop                False
Domain Code         False
Domain              False
Area Code (M49)     False
Area                False
Element Code        False
Element             False
Item Code (CPC)     False
Item                False
Year Code           False
Year                False
Unit                False
Value               False
Flag                False
Flag Description    False
Note                 True
dtype: bool

In [167]:
df3.isna().any()

N                   False
P                   False
K                   False
temperature         False
humidity            False
ph                  False
rainfall            False
Crop                False
Domain Code         False
Domain              False
Area Code (M49)     False
Area                False
Element Code        False
Element             False
Item Code (CPC)     False
Item                False
Year Code           False
Year                False
Unit                False
Value               False
Flag                False
Flag Description    False
Note                 True
dtype: bool

In [168]:
df3.dtypes

N                     int64
P                     int64
K                     int64
temperature         float64
humidity            float64
ph                  float64
rainfall            float64
Crop                 object
Domain Code          object
Domain               object
Area Code (M49)       int64
Area                 object
Element Code          int64
Element              object
Item Code (CPC)     float64
Item                 object
Year Code             int64
Year                  int64
Unit                 object
Value               float64
Flag                 object
Flag Description     object
Note                 object
dtype: object

In [169]:
df3.head()

    N   P   K  temperature  ...        Value  Flag  Flag Description Note
0  90  42  43    20.879744  ...   44712000.0     A   Official figure  NaN
1  90  42  43    20.879744  ...       2850.8     A   Official figure  NaN
2  90  42  43    20.879744  ...  127464896.0     A   Official figure  NaN
3  90  42  43    20.879744  ...   44900000.0     A   Official figure  NaN
4  90  42  43    20.879744  ...       3115.8     A   Official figure  NaN

[5 rows x 23 columns]

In [170]:
len(df3)

136800

In [171]:
df3.head()

    N   P   K  temperature  ...        Value  Flag  Flag Description Note
0  90  42  43    20.879744  ...   44712000.0     A   Official figure  NaN
1  90  42  43    20.879744  ...       2850.8     A   Official figure  NaN
2  90  42  43    20.879744  ...  127464896.0     A   Official figure  NaN
3  90  42  43    20.879744  ...   44900000.0     A   Official figure  NaN
4  90  42  43    20.879744  ...       3115.8     A   Official figure  NaN

[5 rows x 23 columns]

In [172]:
df3.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'Crop',
       'Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note'],
      dtype='object')

In [173]:
df3.dtypes

N                     int64
P                     int64
K                     int64
temperature         float64
humidity            float64
ph                  float64
rainfall            float64
Crop                 object
Domain Code          object
Domain               object
Area Code (M49)       int64
Area                 object
Element Code          int64
Element              object
Item Code (CPC)     float64
Item                 object
Year Code             int64
Year                  int64
Unit                 object
Value               float64
Flag                 object
Flag Description     object
Note                 object
dtype: object

In [174]:
df3.head()

    N   P   K  temperature  ...        Value  Flag  Flag Description Note
0  90  42  43    20.879744  ...   44712000.0     A   Official figure  NaN
1  90  42  43    20.879744  ...       2850.8     A   Official figure  NaN
2  90  42  43    20.879744  ...  127464896.0     A   Official figure  NaN
3  90  42  43    20.879744  ...   44900000.0     A   Official figure  NaN
4  90  42  43    20.879744  ...       3115.8     A   Official figure  NaN

[5 rows x 23 columns]

In [175]:
df3.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'Crop',
       'Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note'],
      dtype='object')

In [176]:
df3.to_csv("final.csv", index=False)

In [177]:
df4=pd.read_csv('final.csv')

C:\Users\skart\AppData\Local\Temp\ipykernel_27864\701585182.py:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df4=pd.read_csv('final.csv')

In [178]:
df4.head()

    N   P   K  temperature  ...        Value  Flag  Flag Description Note
0  90  42  43    20.879744  ...   44712000.0     A   Official figure  NaN
1  90  42  43    20.879744  ...       2850.8     A   Official figure  NaN
2  90  42  43    20.879744  ...  127464896.0     A   Official figure  NaN
3  90  42  43    20.879744  ...   44900000.0     A   Official figure  NaN
4  90  42  43    20.879744  ...       3115.8     A   Official figure  NaN

[5 rows x 23 columns]

In [179]:
df4 = df4[df4['Element'] == 'Production']

In [180]:
df4.head()

     N   P   K  temperature  ...        Value  Flag  Flag Description Note
2   90  42  43    20.879744  ...  127464896.0     A   Official figure  NaN
5   90  42  43    20.879744  ...  139900000.0     A   Official figure  NaN
8   90  42  43    20.879744  ...  107730304.0     A   Official figure  NaN
11  90  42  43    20.879744  ...  132789000.0     A   Official figure  NaN
14  90  42  43    20.879744  ...  124697104.0     A   Official figure  NaN

[5 rows x 23 columns]

In [181]:
df4=df4.drop(columns=['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code','Unit', 'Flag', 'Flag Description', 'Note'])

In [182]:
df4.head()

     N   P   K  temperature  ...    rainfall  Crop  Year        Value
2   90  42  43    20.879744  ...  202.935536  rice  2000  127464896.0
5   90  42  43    20.879744  ...  202.935536  rice  2001  139900000.0
8   90  42  43    20.879744  ...  202.935536  rice  2002  107730304.0
11  90  42  43    20.879744  ...  202.935536  rice  2003  132789000.0
14  90  42  43    20.879744  ...  202.935536  rice  2004  124697104.0

[5 rows x 10 columns]

In [183]:
df4.isnull().any()

N              False
P              False
K              False
temperature    False
humidity       False
ph             False
rainfall       False
Crop           False
Year           False
Value          False
dtype: bool

In [184]:
df4[df4.duplicated()]

         N   P   K  temperature  ...   rainfall       Crop  Year       Value
72005  115  17  55    27.578269  ...  28.082532  muskmelon  2000   645000.00
72011  115  17  55    27.578269  ...  28.082532  muskmelon  2001   657153.03
72017  115  17  55    27.578269  ...  28.082532  muskmelon  2002   665402.67
72023  115  17  55    27.578269  ...  28.082532  muskmelon  2003   674080.08
72029  115  17  55    27.578269  ...  28.082532  muskmelon  2004   758528.68
...    ...  ..  ..          ...  ...        ...        ...   ...         ...
86375  106  16  54    28.960179  ...  24.745820  muskmelon  2019  1266000.00
86381  106  16  54    28.960179  ...  24.745820  muskmelon  2020  1368000.00
86387  106  16  54    28.960179  ...  24.745820  muskmelon  2021  1478000.00
86393  106  16  54    28.960179  ...  24.745820  muskmelon  2022  1498000.00
86399  106  16  54    28.960179  ...  24.745820  muskmelon  2023  1498000.00

[2400 rows x 10 columns]

In [185]:
df4=df4.drop_duplicates().reset_index(drop=True)

In [186]:
df4.head()

    N   P   K  temperature  ...    rainfall  Crop  Year        Value
0  90  42  43    20.879744  ...  202.935536  rice  2000  127464896.0
1  90  42  43    20.879744  ...  202.935536  rice  2001  139900000.0
2  90  42  43    20.879744  ...  202.935536  rice  2002  107730304.0
3  90  42  43    20.879744  ...  202.935536  rice  2003  132789000.0
4  90  42  43    20.879744  ...  202.935536  rice  2004  124697104.0

[5 rows x 10 columns]

In [187]:
df4['Crop'].value_counts()

Crop
rice          2400
maize         2400
chickpea      2400
pigeonpeas    2400
mothbeans     2400
lentil        2400
banana        2400
mango         2400
grapes        2400
watermelon    2400
muskmelon     2400
apple         2400
orange        2400
papaya        2400
coconut       2400
cotton        2400
jute          2400
coffee        2400
Name: count, dtype: int64

In [188]:
len(df4['Crop'].unique())

18

In [189]:
df4.dtypes

N                int64
P                int64
K                int64
temperature    float64
humidity       float64
ph             float64
rainfall       float64
Crop            object
Year             int64
Value          float64
dtype: object

In [190]:
df4.head()

    N   P   K  temperature  ...    rainfall  Crop  Year        Value
0  90  42  43    20.879744  ...  202.935536  rice  2000  127464896.0
1  90  42  43    20.879744  ...  202.935536  rice  2001  139900000.0
2  90  42  43    20.879744  ...  202.935536  rice  2002  107730304.0
3  90  42  43    20.879744  ...  202.935536  rice  2003  132789000.0
4  90  42  43    20.879744  ...  202.935536  rice  2004  124697104.0

[5 rows x 10 columns]

In [191]:
numeric_cols = df4.select_dtypes(include=[np.number]).columns
outlier_summary = {}
for col in numeric_cols:
    Q1 = df4[col].quantile(0.25)
    Q3 = df4[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df4[(df4[col] < lower_bound) | (df4[col] > upper_bound)][col]
    outlier_summary[col] = {
        "Lower Bound": lower_bound,
        "Upper Bound": upper_bound,
        "Outlier Count": outliers.shape[0],
        "Outlier Values": outliers.values
    }
for col, info in outlier_summary.items():
    print("\nColumn:", col)
    print("Lower Bound:", info["Lower Bound"])
    print("Upper Bound:", info["Upper Bound"])
    print("Outliers:", info["Outlier Values"])
    print("Count:", info["Outlier Count"])

Column: N
Lower Bound: -76.5
Upper Bound: 191.5
Outliers: []
Count: 0

Column: P
Lower Bound: -34.125
Upper Bound: 130.875
Outliers: [144 144 144 ... 140 140 140]
Count: 3024

Column: K
Lower Bound: -23.0
Upper Bound: 97.0
Outliers: [195 195 195 ... 197 197 197]
Count: 4800

Column: temperature
Lower Bound: 15.057837827499998
Upper Bound: 36.4627598675
Outliers: [36.51268371 36.51268371 36.51268371 ... 37.03551903 37.03551903
 37.03551903]
Count: 2328

Column: humidity
Lower Bound: 15.185666073750014
Upper Bound: 135.74699446374999
Outliers: [14.69765308 14.69765308 14.69765308 14.69765308 14.69765308 14.69765308
 14.69765308 14.69765308 14.69765308 14.69765308 14.69765308 14.69765308
 14.69765308 14.69765308 14.69765308 14.69765308 14.69765308 14.69765308
 14.69765308 14.69765308 14.69765308 14.69765308 14.69765308 14.69765308
 14.71070537 14.71070537 14.71070537 14.71070537 14.71070537 14.71070537
 14.71070537 14.71070537 14.71070537 14.71070537 14.71070537 14.71070537
 14.71070537 14.71070537 14.71070537 14.71070537 14.71070537 14.71070537
 14.71070537 14.71070537 14.71070537 14.71070537 14.71070537 14.71070537
 14.32313811 14.32313811 14.32313811 14.32313811 14.32313811 14.32313811
 14.32313811 14.32313811 14.32313811 14.32313811 14.32313811 14.32313811
 14.32313811 14.32313811 14.32313811 14.32313811 14.32313811 14.32313811
 14.32313811 14.32313811 14.32313811 14.32313811 14.32313811 14.32313811
 15.11279612 15.11279612 15.11279612 15.11279612 15.11279612 15.11279612
 15.11279612 15.11279612 15.11279612 15.11279612 15.11279612 15.11279612
 15.11279612 15.11279612 15.11279612 15.11279612 15.11279612 15.11279612
 15.11279612 15.11279612 15.11279612 15.11279612 15.11279612 15.11279612
 14.99927489 14.99927489 14.99927489 14.99927489 14.99927489 14.99927489
 14.99927489 14.99927489 14.99927489 14.99927489 14.99927489 14.99927489
 14.99927489 14.99927489 14.99927489 14.99927489 14.99927489 14.99927489
 14.99927489 14.99927489 14.99927489 14.99927489 14.99927489 14.99927489
 14.42457525 14.42457525 14.42457525 14.42457525 14.42457525 14.42457525
 14.42457525 14.42457525 14.42457525 14.42457525 14.42457525 14.42457525
 14.42457525 14.42457525 14.42457525 14.42457525 14.42457525 14.42457525
 14.42457525 14.42457525 14.42457525 14.42457525 14.42457525 14.42457525
 14.25803981 14.25803981 14.25803981 14.25803981 14.25803981 14.25803981
 14.25803981 14.25803981 14.25803981 14.25803981 14.25803981 14.25803981
 14.25803981 14.25803981 14.25803981 14.25803981 14.25803981 14.25803981
 14.25803981 14.25803981 14.25803981 14.25803981 14.25803981 14.25803981
 14.27327988 14.27327988 14.27327988 14.27327988 14.27327988 14.27327988
 14.27327988 14.27327988 14.27327988 14.27327988 14.27327988 14.27327988
 14.27327988 14.27327988 14.27327988 14.27327988 14.27327988 14.27327988
 14.27327988 14.27327988 14.27327988 14.27327988 14.27327988 14.27327988
 14.92241479 14.92241479 14.92241479 14.92241479 14.92241479 14.92241479
 14.92241479 14.92241479 14.92241479 14.92241479 14.92241479 14.92241479
 14.92241479 14.92241479 14.92241479 14.92241479 14.92241479 14.92241479
 14.92241479 14.92241479 14.92241479 14.92241479 14.92241479 14.92241479
 15.15405941 15.15405941 15.15405941 15.15405941 15.15405941 15.15405941
 15.15405941 15.15405941 15.15405941 15.15405941 15.15405941 15.15405941
 15.15405941 15.15405941 15.15405941 15.15405941 15.15405941 15.15405941
 15.15405941 15.15405941 15.15405941 15.15405941 15.15405941 15.15405941
 14.70085967 14.70085967 14.70085967 14.70085967 14.70085967 14.70085967
 14.70085967 14.70085967 14.70085967 14.70085967 14.70085967 14.70085967
 14.70085967 14.70085967 14.70085967 14.70085967 14.70085967 14.70085967
 14.70085967 14.70085967 14.70085967 14.70085967 14.70085967 14.70085967
 14.99451145 14.99451145 14.99451145 14.99451145 14.99451145 14.99451145
 14.99451145 14.99451145 14.99451145 14.99451145 14.99451145 14.99451145
 14.99451145 14.99451145 14.99451145 14.99451145 14.99451145 14.99451145
 14.99451145 14.99451145 14.99451145 14.99451145 14.99451145 14.99451145
 14.72115044 14.72115044 14.72115044 14.72115044 14.72115044 14.72115044
 14.72115044 14.72115044 14.72115044 14.72115044 14.72115044 14.72115044
 14.72115044 14.72115044 14.72115044 14.72115044 14.72115044 14.72115044
 14.72115044 14.72115044 14.72115044 14.72115044 14.72115044 14.72115044
 14.44228303 14.44228303 14.44228303 14.44228303 14.44228303 14.44228303
 14.44228303 14.44228303 14.44228303 14.44228303 14.44228303 14.44228303
 14.44228303 14.44228303 14.44228303 14.44228303 14.44228303 14.44228303
 14.44228303 14.44228303 14.44228303 14.44228303 14.44228303 14.44228303
 14.2804191  14.2804191  14.2804191  14.2804191  14.2804191  14.2804191
 14.2804191  14.2804191  14.2804191  14.2804191  14.2804191  14.2804191
 14.2804191  14.2804191  14.2804191  14.2804191  14.2804191  14.2804191
 14.2804191  14.2804191  14.2804191  14.2804191  14.2804191  14.2804191
 14.44008871 14.44008871 14.44008871 14.44008871 14.44008871 14.44008871
 14.44008871 14.44008871 14.44008871 14.44008871 14.44008871 14.44008871
 14.44008871 14.44008871 14.44008871 14.44008871 14.44008871 14.44008871
 14.44008871 14.44008871 14.44008871 14.44008871 14.44008871 14.44008871
 14.76014523 14.76014523 14.76014523 14.76014523 14.76014523 14.76014523
 14.76014523 14.76014523 14.76014523 14.76014523 14.76014523 14.76014523
 14.76014523 14.76014523 14.76014523 14.76014523 14.76014523 14.76014523
 14.76014523 14.76014523 14.76014523 14.76014523 14.76014523 14.76014523
 14.82633099 14.82633099 14.82633099 14.82633099 14.82633099 14.82633099
 14.82633099 14.82633099 14.82633099 14.82633099 14.82633099 14.82633099
 14.82633099 14.82633099 14.82633099 14.82633099 14.82633099 14.82633099
 14.82633099 14.82633099 14.82633099 14.82633099 14.82633099 14.82633099
 14.74071856 14.74071856 14.74071856 14.74071856 14.74071856 14.74071856
 14.74071856 14.74071856 14.74071856 14.74071856 14.74071856 14.74071856
 14.74071856 14.74071856 14.74071856 14.74071856 14.74071856 14.74071856
 14.74071856 14.74071856 14.74071856 14.74071856 14.74071856 14.74071856
 14.33847406 14.33847406 14.33847406 14.33847406 14.33847406 14.33847406
 14.33847406 14.33847406 14.33847406 14.33847406 14.33847406 14.33847406
 14.33847406 14.33847406 14.33847406 14.33847406 14.33847406 14.33847406
 14.33847406 14.33847406 14.33847406 14.33847406 14.33847406 14.33847406
 14.77959596 14.77959596 14.77959596 14.77959596 14.77959596 14.77959596
 14.77959596 14.77959596 14.77959596 14.77959596 14.77959596 14.77959596
 14.77959596 14.77959596 14.77959596 14.77959596 14.77959596 14.77959596
 14.77959596 14.77959596 14.77959596 14.77959596 14.77959596 14.77959596]
Count: 504

Column: ph
Lower Bound: 4.6543389395000005
Upper Bound: 8.247291683499999
Outliers: [8.75379533 8.75379533 8.75379533 ... 4.52572233 4.52572233 4.52572233]
Count: 1680

Column: rainfall
Lower Bound: -51.28665933749993
Upper Bound: 262.4186806024999
Outliers: [263.9642476 263.9642476 263.9642476 263.9642476 263.9642476 263.9642476
 263.9642476 263.9642476 263.9642476 263.9642476 263.9642476 263.9642476
 263.9642476 263.9642476 263.9642476 263.9642476 263.9642476 263.9642476
 263.9642476 263.9642476 263.9642476 263.9642476 263.9642476 263.9642476
 262.7173405 262.7173405 262.7173405 262.7173405 262.7173405 262.7173405
 262.7173405 262.7173405 262.7173405 262.7173405 262.7173405 262.7173405
 262.7173405 262.7173405 262.7173405 262.7173405 262.7173405 262.7173405
 262.7173405 262.7173405 262.7173405 262.7173405 262.7173405 262.7173405
 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604
 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604
 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604
 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604
 264.6148697 264.6148697 264.6148697 264.6148697 264.6148697 264.6148697
 264.6148697 264.6148697 264.6148697 264.6148697 264.6148697 264.6148697
 264.6148697 264.6148697 264.6148697 264.6148697 264.6148697 264.6148697
 264.6148697 264.6148697 264.6148697 264.6148697 264.6148697 264.6148697
 284.4364567 284.4364567 284.4364567 284.4364567 284.4364567 284.4364567
 284.4364567 284.4364567 284.4364567 284.4364567 284.4364567 284.4364567
 284.4364567 284.4364567 284.4364567 284.4364567 284.4364567 284.4364567
 284.4364567 284.4364567 284.4364567 284.4364567 284.4364567 284.4364567
 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459
 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459
 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459
 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459
 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618
 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618
 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618
 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618
 271.3586137 271.3586137 271.3586137 271.3586137 271.3586137 271.3586137
 271.3586137 271.3586137 271.3586137 271.3586137 271.3586137 271.3586137
 271.3586137 271.3586137 271.3586137 271.3586137 271.3586137 271.3586137
 271.3586137 271.3586137 271.3586137 271.3586137 271.3586137 271.3586137
 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204
 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204
 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204
 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204
 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274
 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274
 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274
 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274
 272.2999056 272.2999056 272.2999056 272.2999056 272.2999056 272.2999056
 272.2999056 272.2999056 272.2999056 272.2999056 272.2999056 272.2999056
 272.2999056 272.2999056 272.2999056 272.2999056 272.2999056 272.2999056
 272.2999056 272.2999056 272.2999056 272.2999056 272.2999056 272.2999056
 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645
 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645
 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645
 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645
 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471
 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471
 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471
 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471
 298.5601175 298.5601175 298.5601175 298.5601175 298.5601175 298.5601175
 298.5601175 298.5601175 298.5601175 298.5601175 298.5601175 298.5601175
 298.5601175 298.5601175 298.5601175 298.5601175 298.5601175 298.5601175
 298.5601175 298.5601175 298.5601175 298.5601175 298.5601175 298.5601175
 265.5355937 265.5355937 265.5355937 265.5355937 265.5355937 265.5355937
 265.5355937 265.5355937 265.5355937 265.5355937 265.5355937 265.5355937
 265.5355937 265.5355937 265.5355937 265.5355937 265.5355937 265.5355937
 265.5355937 265.5355937 265.5355937 265.5355937 265.5355937 265.5355937
 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725
 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725
 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725
 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725
 283.9338466 283.9338466 283.9338466 283.9338466 283.9338466 283.9338466
 283.9338466 283.9338466 283.9338466 283.9338466 283.9338466 283.9338466
 283.9338466 283.9338466 283.9338466 283.9338466 283.9338466 283.9338466
 283.9338466 283.9338466 283.9338466 283.9338466 283.9338466 283.9338466
 267.9761948 267.9761948 267.9761948 267.9761948 267.9761948 267.9761948
 267.9761948 267.9761948 267.9761948 267.9761948 267.9761948 267.9761948
 267.9761948 267.9761948 267.9761948 267.9761948 267.9761948 267.9761948
 267.9761948 267.9761948 267.9761948 267.9761948 267.9761948 267.9761948
 277.9626192 277.9626192 277.9626192 277.9626192 277.9626192 277.9626192
 277.9626192 277.9626192 277.9626192 277.9626192 277.9626192 277.9626192
 277.9626192 277.9626192 277.9626192 277.9626192 277.9626192 277.9626192
 277.9626192 277.9626192 277.9626192 277.9626192 277.9626192 277.9626192
 279.5451717 279.5451717 279.5451717 279.5451717 279.5451717 279.5451717
 279.5451717 279.5451717 279.5451717 279.5451717 279.5451717 279.5451717
 279.5451717 279.5451717 279.5451717 279.5451717 279.5451717 279.5451717
 279.5451717 279.5451717 279.5451717 279.5451717 279.5451717 279.5451717
 263.6372176 263.6372176 263.6372176 263.6372176 263.6372176 263.6372176
 263.6372176 263.6372176 263.6372176 263.6372176 263.6372176 263.6372176
 263.6372176 263.6372176 263.6372176 263.6372176 263.6372176 263.6372176
 263.6372176 263.6372176 263.6372176 263.6372176 263.6372176 263.6372176
 263.1103304 263.1103304 263.1103304 263.1103304 263.1103304 263.1103304
 263.1103304 263.1103304 263.1103304 263.1103304 263.1103304 263.1103304
 263.1103304 263.1103304 263.1103304 263.1103304 263.1103304 263.1103304
 263.1103304 263.1103304 263.1103304 263.1103304 263.1103304 263.1103304
 269.5039162 269.5039162 269.5039162 269.5039162 269.5039162 269.5039162
 269.5039162 269.5039162 269.5039162 269.5039162 269.5039162 269.5039162
 269.5039162 269.5039162 269.5039162 269.5039162 269.5039162 269.5039162
 269.5039162 269.5039162 269.5039162 269.5039162 269.5039162 269.5039162
 295.6094492 295.6094492 295.6094492 295.6094492 295.6094492 295.6094492
 295.6094492 295.6094492 295.6094492 295.6094492 295.6094492 295.6094492
 295.6094492 295.6094492 295.6094492 295.6094492 295.6094492 295.6094492
 295.6094492 295.6094492 295.6094492 295.6094492 295.6094492 295.6094492
 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793
 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793
 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793
 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793
 280.4044392 280.4044392 280.4044392 280.4044392 280.4044392 280.4044392
 280.4044392 280.4044392 280.4044392 280.4044392 280.4044392 280.4044392
 280.4044392 280.4044392 280.4044392 280.4044392 280.4044392 280.4044392
 280.4044392 280.4044392 280.4044392 280.4044392 280.4044392 280.4044392
 290.6793783 290.6793783 290.6793783 290.6793783 290.6793783 290.6793783
 290.6793783 290.6793783 290.6793783 290.6793783 290.6793783 290.6793783
 290.6793783 290.6793783 290.6793783 290.6793783 290.6793783 290.6793783
 290.6793783 290.6793783 290.6793783 290.6793783 290.6793783 290.6793783
 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796
 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796
 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796
 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796
 287.5766935 287.5766935 287.5766935 287.5766935 287.5766935 287.5766935
 287.5766935 287.5766935 287.5766935 287.5766935 287.5766935 287.5766935
 287.5766935 287.5766935 287.5766935 287.5766935 287.5766935 287.5766935
 287.5766935 287.5766935 287.5766935 287.5766935 287.5766935 287.5766935]
Count: 696

Column: Year
Lower Bound: 1988.5
Upper Bound: 2034.5
Outliers: []
Count: 0

Column: Value
Lower Bound: -16137575.0
Upper Bound: 30259825.0
Outliers: [1.27464896e+08 1.39900000e+08 1.07730304e+08 ... 3.30620000e+07
 3.45280000e+07 3.66140000e+07]
Count: 3400

In [192]:
df4_clean = df4.copy()

for col in numeric_cols:
    Q1 = df4_clean[col].quantile(0.25)
    Q3 = df4_clean[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    df4_clean = df4_clean[(df4_clean[col] >= lower_bound) & (df4_clean[col] <= upper_bound)]

In [193]:
df4_clean.head()

       N   P   K  temperature  ...   rainfall   Crop  Year       Value
2400  71  54  16      22.6136  ...  87.759539  maize  2000  12043200.0
2401  71  54  16      22.6136  ...  87.759539  maize  2001  13160200.0
2402  71  54  16      22.6136  ...  87.759539  maize  2002  11151700.0
2403  71  54  16      22.6136  ...  87.759539  maize  2003  14984300.0
2404  71  54  16      22.6136  ...  87.759539  maize  2004  14172000.0

[5 rows x 10 columns]

In [194]:
df4_clean.isnull().any()

N              False
P              False
K              False
temperature    False
humidity       False
ph             False
rainfall       False
Crop           False
Year           False
Value          False
dtype: bool

In [195]:
len(df4_clean)

32464

In [196]:
df4_clean=df4_clean.reset_index(drop=True)

In [197]:
df4_clean.head()

    N   P   K  temperature  ...   rainfall   Crop  Year       Value
0  71  54  16      22.6136  ...  87.759539  maize  2000  12043200.0
1  71  54  16      22.6136  ...  87.759539  maize  2001  13160200.0
2  71  54  16      22.6136  ...  87.759539  maize  2002  11151700.0
3  71  54  16      22.6136  ...  87.759539  maize  2003  14984300.0
4  71  54  16      22.6136  ...  87.759539  maize  2004  14172000.0

[5 rows x 10 columns]

In [198]:
df4_clean[df4_clean.duplicated()]

Empty DataFrame
Columns: [N, P, K, temperature, humidity, ph, rainfall, Crop, Year, Value]
Index: []

In [199]:
len(df4_clean)

32464

In [200]:
df4_clean['Crop'].value_counts()

Crop
lentil        2400
coffee        2400
jute          2400
coconut       2400
cotton        2400
muskmelon     2400
watermelon    2400
maize         2300
banana        2300
mango         2256
chickpea      2088
pigeonpeas    2088
orange        1872
papaya        1464
mothbeans     1296
Name: count, dtype: int64

In [201]:
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,root_mean_squared_error
from sklearn.model_selection import train_test_split

In [202]:
encoder=LabelEncoder()

In [203]:
df4_clean['Crops']=encoder.fit_transform(df4_clean['Crop'])

In [204]:
df4_clean.head()

    N   P   K  temperature  ...   Crop  Year       Value Crops
0  71  54  16      22.6136  ...  maize  2000  12043200.0     7
1  71  54  16      22.6136  ...  maize  2001  13160200.0     7
2  71  54  16      22.6136  ...  maize  2002  11151700.0     7
3  71  54  16      22.6136  ...  maize  2003  14984300.0     7
4  71  54  16      22.6136  ...  maize  2004  14172000.0     7

[5 rows x 11 columns]

In [205]:
df4_clean=df4_clean.drop(columns=['Crop'])

In [206]:
df4_clean.head()

    N   P   K  temperature  ...   rainfall  Year       Value  Crops
0  71  54  16      22.6136  ...  87.759539  2000  12043200.0      7
1  71  54  16      22.6136  ...  87.759539  2001  13160200.0      7
2  71  54  16      22.6136  ...  87.759539  2002  11151700.0      7
3  71  54  16      22.6136  ...  87.759539  2003  14984300.0      7
4  71  54  16      22.6136  ...  87.759539  2004  14172000.0      7

[5 rows x 10 columns]

In [207]:
X=df4_clean.drop(columns=['Value'])
y=df4_clean['Value']

In [208]:
X.head()

    N   P   K  temperature   humidity        ph   rainfall  Year  Crops
0  71  54  16      22.6136  63.690706  5.749914  87.759539  2000      7
1  71  54  16      22.6136  63.690706  5.749914  87.759539  2001      7
2  71  54  16      22.6136  63.690706  5.749914  87.759539  2002      7
3  71  54  16      22.6136  63.690706  5.749914  87.759539  2003      7
4  71  54  16      22.6136  63.690706  5.749914  87.759539  2004      7

In [209]:
y

0        12043200.00
1        13160200.00
2        11151700.00
3        14984300.00
4        14172000.00
            ...
32459      319500.00
32460      298000.00
32461      334000.00
32462      340406.47
32463      332848.31
Name: Value, Length: 32464, dtype: float64

In [210]:
scaler=StandardScaler()

In [211]:
X_scaler=scaler.fit_transform(X)
X_scaler

array([[ 0.23193271,  0.46601681, -1.0601045 , ..., -0.26974322,
        -1.66020247,  0.06020042],
       [ 0.23193271,  0.46601681, -1.0601045 , ..., -0.26974322,
        -1.51494213,  0.06020042],
       [ 0.23193271,  0.46601681, -1.0601045 , ..., -0.26974322,
        -1.3696818 ,  0.06020042],
       ...,
       [ 1.07625235, -1.09810695, -0.27462479, ...,  0.7423241 ,
         1.39026452, -0.8655914 ],
       [ 1.07625235, -1.09810695, -0.27462479, ...,  0.7423241 ,
         1.53552486, -0.8655914 ],
       [ 1.07625235, -1.09810695, -0.27462479, ...,  0.7423241 ,
         1.68078519, -0.8655914 ]], shape=(32464, 9))

In [212]:
X_train,X_test,y_train,y_test=train_test_split(X_scaler,y,random_state=32,test_size=0.25)
X_train,X_test,y_train,y_test

(array([[ 1.25535046, -0.62018024, -0.2185191 , ...,  1.13069247,
         -0.64338014, -0.8655914 ],
        [ 1.61354667,  0.72670411, -1.00399881, ..., -0.4105423 ,
          1.09974386, -0.63414344],
        [ 0.94832513, -0.2291493 , -0.77957603, ..., -0.65098517,
          0.08292153,  0.06020042],
        ...,
        [-0.74031415,  0.68325623, -0.89178742, ..., -0.99690159,
         -1.3696818 , -0.17124753],
        [-1.22643758,  1.42187022, -0.83568173, ..., -1.24528645,
         -0.64338014, -0.17124753],
        [ 0.82039792,  2.07358846,  0.90359478, ...,  0.14546377,
          0.22818186, -1.55993527]], shape=(24348, 9)),
 array([[-1.50787747,  0.72670411, -0.89178742, ..., -0.02195541,
          0.66396286,  1.44888816],
        [ 0.89715425, -0.62018024, -0.44294187, ...,  0.72186296,
         -1.51494213, -0.8655914 ],
        [ 0.00166372,  0.2487774 ,  0.11811507, ...,  1.2219186 ,
         -0.0623388 , -0.40269549],
        ...,
        [-0.97058315, -0.27259718, -0.77957603, ..., -0.74575884,
         -1.51494213,  0.52309633],
        [ 0.84598336, -0.9677633 ,  0.679172  , ..., -1.54674857,
         -1.3696818 ,  0.75454429],
        [ 0.76922703, -0.14225354, -0.27462479, ...,  1.32775684,
         -0.0623388 , -0.8655914 ]], shape=(8116, 9)),
 31799      288000.0
 26051    18558000.0
 1829     22260000.0
 5312      2650000.0
 7975       943800.0
             ...
 20414     3895000.0
 27516    17731050.0
 9526       974400.0
 9771       910000.0
 10967    27575000.0
 Name: Value, Length: 24348, dtype: float64,
 5868     2560000.00
 31193     301000.00
 28587    1960380.00
 6887      454062.30
 28077    1795000.00
             ...
 27208    5128000.00
 30110     340406.47
 6861      432626.45
 18426     665402.67
 31611     302000.00
 Name: Value, Length: 8116, dtype: float64)

In [213]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\python313\lib\site-packages (3.1.2)
Requirement already satisfied: numpy in c:\python313\lib\site-packages (from xgboost) (2.3.1)
Requirement already satisfied: scipy in c:\python313\lib\site-packages (from xgboost) (1.16.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [214]:
from xgboost import XGBRegressor

In [215]:
xg_model=XGBRegressor()

In [216]:
xg_model.fit(X_train,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             feature_weights=None, gamma=None, grow_policy=None,
             importance_type=None, interaction_constraints=None,
             learning_rate=None, max_bin=None, max_cat_threshold=None,
             max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
             max_leaves=None, min_child_weight=None, missing=nan,
             monotone_constraints=None, multi_strategy=None, n_estimators=None,
             n_jobs=None, num_parallel_tree=None, ...)

In [217]:
xg_model.score(X_test,y_test)
y_pred=xg_model.predict(X_test)

In [218]:
y_train_pred=xg_model.predict(X_train)

In [219]:
mse=mean_squared_error(y_pred=y_train_pred,y_true=y_train)
mae=mean_absolute_error(y_pred=y_train_pred,y_true=y_train)
rmse=root_mean_squared_error(y_pred=y_train_pred,y_true=y_train)
r2=r2_score(y_pred=y_train_pred,y_true=y_train)
print("train Mean square error=",mse)
print("train Mean abosule error=",mae)
print("train Root mean square error=",rmse)
print("train R2 score=",r2)

train Mean square error= 4266256926.1773376
train Mean abosule error= 42604.79416744156
train Root mean square error= 65316.58997664634
train R2 score= 0.9999442824073997

In [220]:
mse=mean_squared_error(y_pred=y_pred,y_true=y_test)
mae=mean_absolute_error(y_pred=y_pred,y_true=y_test)
rmse=root_mean_squared_error(y_pred=y_pred,y_true=y_test)
r2=r2_score(y_pred=y_pred,y_true=y_test)
print("test Mean square error=",mse)
print("test Mean abosule error=",mae)
print("test Root mean square error=",rmse)
print("test R2 score=",r2)

test Mean square error= 7491054139.003544
test Mean abosule error= 51985.81109761004
test Root mean square error= 86550.876015229
test R2 score= 0.9999044619325232

In [221]:
from sklearn.model_selection import GridSearchCV

In [222]:
param_grid = {
    'max_depth': [3, 5],
    'learning_rate': [0.05, 0.1],
    'n_estimators': [200, 300],
    'subsample': [0.8],
    'colsample_bytree': [0.8]
}

In [223]:
grid = GridSearchCV(
    estimator=xg_model,
    param_grid=param_grid,
    scoring='neg_root_mean_squared_error',
    cv=3,
    n_jobs=-1
)

grid.fit(X_train, y_train)

GridSearchCV(cv=3,
             estimator=XGBRegressor(base_score=None, booster=None,
                                    callbacks=None, colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None, device=None,
                                    early_stopping_rounds=None,
                                    enable_categorical=False, eval_metric=None,
                                    feature_types=None, feature_weights=None,
                                    gamma=None, grow_policy=None,
                                    importance_type=None,
                                    interaction_constraints=None...
                                    max_cat_to_onehot=None, max_delta_step=None,
                                    max_depth=None, max_leaves=None,
                                    min_child_weight=None, missing=nan,
                                    monotone_constraints=None,
                                    multi_strategy=None, n_estimators=None,
                                    n_jobs=None, num_parallel_tree=None, ...),
             n_jobs=-1,
             param_grid={'colsample_bytree': [0.8],
                         'learning_rate': [0.05, 0.1], 'max_depth': [3, 5],
                         'n_estimators': [200, 300], 'subsample': [0.8]},
             scoring='neg_root_mean_squared_error')

In [224]:
grid.best_estimator_

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=0.8, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             feature_weights=None, gamma=None, grow_policy=None,
             importance_type=None, interaction_constraints=None,
             learning_rate=0.1, max_bin=None, max_cat_threshold=None,
             max_cat_to_onehot=None, max_delta_step=None, max_depth=5,
             max_leaves=None, min_child_weight=None, missing=nan,
             monotone_constraints=None, multi_strategy=None, n_estimators=300,
             n_jobs=None, num_parallel_tree=None, ...)

In [225]:
grid.best_params_

{'colsample_bytree': 0.8,
 'learning_rate': 0.1,
 'max_depth': 5,
 'n_estimators': 300,
 'subsample': 0.8}

In [226]:
grid.best_score_

np.float64(-235029.475564289)

In [227]:
y_grid_pred=grid.predict(X_test)

In [228]:
y_grid_pred

array([2.6066635e+06, 2.9000250e+05, 2.0946679e+06, ..., 3.4726534e+05,
       6.9256125e+05, 4.7846269e+05], shape=(8116,), dtype=float32)

In [229]:
mse=mean_squared_error(y_pred=y_grid_pred,y_true=y_test)
mae=mean_absolute_error(y_pred=y_grid_pred,y_true=y_test)
rmse=root_mean_squared_error(y_pred=y_grid_pred,y_true=y_test)
r2=r2_score(y_pred=y_grid_pred,y_true=y_test)
print("Hyper Mean square error=",mse)
print("Hyper Mean abosule error=",mae)
print("Hyper Root mean square error=",rmse)
print("Hyper R2 score=",r2)

Hyper Mean square error= 45363004818.4744
Hyper Mean abosule error= 145224.31830751468
Hyper Root mean square error= 212985.92633898233
Hyper R2 score= 0.9994214574164225

In [230]:
sample_data = {
    "N": 90,
    "P": 42,
    "K": 43,
    "temperature": 20.5,
    "humidity": 82,
    "ph": 6.5,
    "rainfall": 210,
    "Year": 2022,
    "Crops": "maize"
}
sample_data['Crops'] = encoder.transform([sample_data['Crops']])[0]

In [231]:
sample_data

{'N': 90,
 'P': 42,
 'K': 43,
 'temperature': 20.5,
 'humidity': 82,
 'ph': 6.5,
 'rainfall': 210,
 'Year': 2022,
 'Crops': np.int64(7)}

In [232]:
ple_standard = scaler.transform([list(sample_data.values())])

c:\Python313\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [233]:
ple_standard

array([[ 0.71805614, -0.05535777,  0.45474923, -1.39483446,  0.53240172,
        -0.00561759,  2.05672134,  1.53552486,  0.06020042]])

In [234]:
int(grid.predict(ple_standard)[0])

26045444