In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv("Crop_recommendation.csv")

In [3]:
df1.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [4]:
df1.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [6]:
df1.isnull().any()

N              False
P              False
K              False
temperature    False
humidity       False
ph             False
rainfall       False
label          False
dtype: bool

In [7]:
df1['label'].value_counts()

label
rice           100
maize          100
chickpea       100
kidneybeans    100
pigeonpeas     100
mothbeans      100
mungbean       100
blackgram      100
lentil         100
pomegranate    100
banana         100
mango          100
grapes         100
watermelon     100
muskmelon      100
apple          100
orange         100
papaya         100
coconut        100
cotton         100
jute           100
coffee         100
Name: count, dtype: int64

In [8]:
df1=df1.rename(columns={'label':'Crop'})

In [9]:
df1.head()

    N   P   K  temperature   humidity        ph    rainfall  Crop
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [10]:
df2=pd.read_csv("FAOSTAT_data_en_11-19-2025.csv")

In [11]:
df2.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,ha,410573.0,A,Official figure,NaN
1,QCL,Crops and livestock products,356,India,5412,Yield,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,kg/ha,553.1,A,Official figure,NaN
2,QCL,Crops and livestock products,356,India,5510,Production,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,t,227099.0,A,Official figure,NaN
3,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2005,2005,ha,446931.0,A,Official figure,NaN
4,QCL,Crops and livestock products,356,India,5412,Yield,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2005,2005,kg/ha,584.4,A,Official figure,NaN

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5261 entries, 0 to 5260
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       5261 non-null   object
 1   Domain            5261 non-null   object
 2   Area Code (M49)   5261 non-null   int64
 3   Area              5261 non-null   object
 4   Element Code      5261 non-null   int64
 5   Element           5261 non-null   object
 6   Item Code (CPC)   5261 non-null   object
 7   Item              5261 non-null   object
 8   Year Code         5261 non-null   int64
 9   Year              5261 non-null   int64
 10  Unit              5261 non-null   object
 11  Value             5076 non-null   float64
 12  Flag              5261 non-null   object
 13  Flag Description  5261 non-null   object
 14  Note              227 non-null    object
dtypes: float64(1), int64(4), object(10)
memory usage: 616.7+ KB

In [13]:
df2.columns

Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note'],
      dtype='object')

In [14]:
df2=df2.drop(columns=['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
                      'Item Code (CPC)','Year Code','Unit','Flag', 'Flag Description', 'Note'])

In [15]:
df2.isnull().any()

Element    False
Item       False
Year       False
Value       True
dtype: bool

In [16]:
len(df2)

5261

In [17]:
df2[df2.isnull().any(axis=1)]

             Element                 Item  Year  Value
601   Area harvested  Carrots and turnips  2018    NaN
602       Production  Carrots and turnips  2018    NaN
603   Area harvested  Carrots and turnips  2019    NaN
604       Production  Carrots and turnips  2019    NaN
605   Area harvested  Carrots and turnips  2020    NaN
...              ...                  ...   ...    ...
5136      Production    Walnuts, in shell  2021    NaN
5137  Area harvested    Walnuts, in shell  2022    NaN
5138      Production    Walnuts, in shell  2022    NaN
5139  Area harvested    Walnuts, in shell  2023    NaN
5140      Production    Walnuts, in shell  2023    NaN

[185 rows x 4 columns]

In [18]:
len(df2[df2.isnull().any(axis=1)])

185

In [19]:
df2=df2.dropna().reset_index(drop=True)

In [20]:
df2.head()

,Element,Item,Year,Value
0,Area harvested,"Anise, badian, coriander, cumin, caraway, fenn...",2004,410573.0
1,Yield,"Anise, badian, coriander, cumin, caraway, fenn...",2004,553.1
2,Production,"Anise, badian, coriander, cumin, caraway, fenn...",2004,227099.0
3,Area harvested,"Anise, badian, coriander, cumin, caraway, fenn...",2005,446931.0
4,Yield,"Anise, badian, coriander, cumin, caraway, fenn...",2005,584.4

In [21]:
df2['Item'] = df2['Item'].str.split(r",|and")
df2 = df2.explode('Item')

In [22]:
df2['Item']=df2['Item'].str.strip()

In [23]:
df2.columns

Index(['Element', 'Item', 'Year', 'Value'], dtype='object')

In [24]:
for i in df2['Item'].unique():
    print(i)

Anise
badian
cori
er
cumin
caraway
fennel
juniper berries
raw
Apples
Apricots
Areca nuts
Bananas
Barley
Beans
dry
Beer of barley
malted
Cabbages
Cantaloupes
other melons
Carrots
turnips
Cashew nuts
in shell
Cassava
fresh
Castor oil seeds
Cauliflowers
broccoli
Cherries
Chick peas
Chillies
peppers
dry (Capsicum spp.
Pimenta spp.)
green (Capsicum spp.
Cocoa beans
Coconut oil
Coconuts
Coffee
green
Coir
Cotton lint
ginned
Cotton seed
Cottonseed oil
Cucumbers
gherkins
Eggplants (aubergines)
Figs
Ginger
Grapes
Green garlic
Green tea (not fermented)
black tea (fermented)
partly fermented tea
in immediate packings of a content not exceeding 3 kg
Groundnut oil
Groundnuts
excluding shelled
Jute
raw or retted
Kenaf

other textile bast fibres
Lemons
limes
Lentils
Lettuce
chicory
Linseed
Maize (corn)
Mangoes
guavas
mangosteens
Margarine
shortening
Millet
Molasses
Mushrooms
truffles
Natural rubber in primary forms
Nutmeg
mace
cardamoms
Oil of linseed
Oil of maize
Oil of sesame seed
Okra
Onions
shallots
dry (excluding dehydrated)
Oranges
Other beans
Other berries
fruits of the genus vaccinium n.e.c.
Other citrus fruit
n.e.c.
Other fruits
Other oil seeds
Other pulses n.e.c.
Other stimulant
spice
aromatic crops
Other stone fruits
Other tropical fruits
Other vegetables
fresh n.e.c.
Papayas
Peaches
nectarines
Pears
Peas
Pepper (Piper spp.)
Pigeon peas
Pineapples
Plums
sloes
Pomelos
grapefruits
Potatoes
Pumpkins
squash
gourds
Rape or colza seed
Rapeseed or canola oil
crude
Raw cane or beet sugar (centrifugal only)
Rice
Safflower seed
Safflower-seed oil
Seed cotton
unginned
Sesame seed
Sorghum
Soya bean oil
Soya beans
Sugar cane
Sunflower seed
Sunflower-seed oil
Sweet potatoes
Tangerines
m
arins
clementines
Tea leaves
Tomatoes
Unmanufactured tobacco
Walnuts
Watermelons
Wheat

In [25]:
clean_crop_names = {
    "Anise": "anise",
    "badian": "badian",
    "cori": "cori",
    "er": "er",
    "cumin": "cumin",
    "caraway": "caraway",
    "fennel": "fennel",
    "juniper berries": "juniper_berries",

    "Apples": "apple",
    "Apricots": "apricot",
    "Areca nuts": "areca_nut",
    "Bananas": "banana",
    "Barley": "barley",

    "Beans": "bean",
    "dry": "dry",

    "Cabbages": "cabbage",
    "Cantaloupes": "cantaloupe",
    "other melons": "other_melons",
    "Carrots": "carrot",
    "turnips": "turnip",

    "Cashew nuts": "cashew",
    "in shell": "in_shell",

    "Cassava": "cassava",
    "fresh": "fresh",

    "Castor oil seeds": "castor_seed",
    "Cauliflowers": "cauliflower",
    "broccoli": "broccoli",

    "Cherries": "cherry",
    "Chick peas": "chickpea",

    "Chillies": "chilli",
    "peppers": "pepper",
    "dry (Capsicum spp.)": "dry_capsicum",
    "Pimenta spp.)": "pimenta_spp",
    "green (Capsicum spp.)": "green_capsicum",

    "Cocoa beans": "cocoa",
    "Coconuts": "coconut",
    "Coffee": "coffee",
    "green": "green",

    "Cucumbers": "cucumber",
    "gherkins": "gherkin",

    "Eggplants (aubergines)": "eggplant",
    "Figs": "fig",
    "Ginger": "ginger",
    "Grapes": "grape",

    "Green garlic": "green_garlic",
    "Groundnuts": "groundnut",
    "excluding shelled": "excluding_shelled",

    "Jute": "jute",
    "raw or retted": "raw_retted",

    "Kenaf": "kenaf",
    "other textile bast fibres": "bast_fibres",

    "Lemons": "lemon",
    "limes": "lime",

    "Lentils": "lentil",
    "Lettuce": "lettuce",
    "chicory": "chicory",

    "Linseed": "linseed",
    "Maize (corn)": "maize",

    "Mangoes": "mango",
    "guavas": "guava",
    "mangosteens": "mangosteen",

    "Millet": "millet",
    "Natural rubber in primary forms": "natural_rubber",

    "Nutmeg": "nutmeg",
    "mace": "mace",
    "cardamoms": "cardamom",

    "Okra": "okra",
    "Onions": "onion",
    "shallots": "shallot",
    "dry (excluding dehydrated)": "dry_non_dehydrated",

    "Oranges": "orange",

    "Other beans": "other_beans",
    "Other berries": "other_berries",
    "fruits of the genus vaccinium n.e.c.": "vaccinium_fruits",

    "Other citrus fruit": "other_citrus",
    "n.e.c.": "nec",

    "Other fruits": "other_fruits",
    "Other oil seeds": "other_oilseeds",
    "Other pulses n.e.c.": "other_pulses",
    "Other stimulant": "other_stimulant",
    "spice": "spice",
    "aromatic crops": "aromatic_crops",

    "Other stone fruits": "stone_fruits",
    "Other tropical fruits": "tropical_fruits",
    "Other vegetables": "other_vegetables",
    "fresh n.e.c.": "fresh_nec",

    "Papayas": "papaya",
    "Peaches": "peach",
    "nectarines": "nectarine",

    "Pears": "pear",
    "Peas": "pea",

    "Pepper (Piper spp.)": "pepper_piper",
    "Pigeon peas": "pigeon_pea",
    "Pineapples": "pineapple",

    "Plums": "plum",
    "sloes": "sloe",

    "Pomelos": "pomelo",
    "grapefruits": "grapefruit",

    "Potatoes": "potato",
    "Pumpkins": "pumpkin",
    "squash": "squash",
    "gourds": "gourd",

    "Rape or colza seed": "rapeseed",
    "Rice": "rice",
    "Safflower seed": "safflower",

    "Seed cotton": "cotton",
    "unginned": "unginned",

    "Sesame seed": "sesame",
    "Sorghum": "sorghum",
    "Soya beans": "soybean",
    "Sugar cane": "sugarcane",
    "Sunflower seed": "sunflower",

    "Sweet potatoes": "sweet_potato",

    "Tangerines": "tangerine",
    "marins": "marin",
    "clementines": "clementine",

    "Tea leaves": "tea",
    "Tomatoes": "tomato",
    "Unmanufactured tobacco": "tobacco",
    "Walnuts": "walnut",
    "Watermelons": "watermelon",
    "Wheat": "wheat"
}

In [26]:
len(clean_crop_names)

122

In [27]:
df2['Crop']=df2['Item'].map(clean_crop_names)

In [28]:
df2.head()

          Element    Item  Year     Value    Crop
0  Area harvested   Anise  2004  410573.0   anise
0  Area harvested  badian  2004  410573.0  badian
0  Area harvested    cori  2004  410573.0    cori
0  Area harvested      er  2004  410573.0      er
0  Area harvested   cumin  2004  410573.0   cumin

In [29]:
len(df2[df2.isnull().any(axis=1)])

1108

In [30]:
df2["Area_Harvested"] = df2.apply(
    lambda row: df2[(df2["Item"] == row["Item"]) &
                    (df2["Year"] == row["Year"]) &
                    (df2["Element"] == "Area harvested")]["Value"].max(),
    axis=1
)

In [31]:
df2["Production"] = df2.apply(
    lambda row: df2[(df2["Item"] == row["Item"]) &
                    (df2["Year"] == row["Year"]) &
                    (df2["Element"] == "Production")]["Value"].max(),
    axis=1
)

In [32]:
df2["Yield"] = df2.apply(
    lambda row: df2[(df2["Item"] == row["Item"]) &
                    (df2["Year"] == row["Year"]) &
                    (df2["Element"] == "Yield")]["Value"].max(),
    axis=1
)

In [33]:
df2.head()

,Element,Item,Year,Value,Crop,Area_Harvested,Production,Yield
0,Area harvested,Anise,2004,410573.0,anise,410573.0,227099.0,553.1
0,Area harvested,badian,2004,410573.0,badian,410573.0,227099.0,553.1
0,Area harvested,cori,2004,410573.0,cori,410573.0,227099.0,553.1
0,Area harvested,er,2004,410573.0,er,410573.0,227099.0,553.1
0,Area harvested,cumin,2004,410573.0,cumin,410573.0,227099.0,553.1

In [34]:
df2.isnull().any()

Element           False
Item              False
Year              False
Value             False
Crop               True
Area_Harvested     True
Production        False
Yield              True
dtype: bool

In [35]:
len(df2)

8968

In [36]:
len(df2[df2.isnull().any(axis=1)])

1108

In [37]:
df2=df2.dropna().reset_index(drop=True)

In [38]:
df2.isnull().any()

Element           False
Item              False
Year              False
Value             False
Crop              False
Area_Harvested    False
Production        False
Yield             False
dtype: bool

In [39]:
df3=pd.merge(df1,df2,on='Crop')

In [40]:
df3.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Element,Item,Year,Value,Area_Harvested,Production,Yield
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,Area harvested,Rice,2004,41906700.0,41906700.0,124697104.0,2975.6
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,Yield,Rice,2004,2975.6,41906700.0,124697104.0,2975.6
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,Production,Rice,2004,124697104.0,41906700.0,124697104.0,2975.6
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,Area harvested,Rice,2005,43659800.0,43659800.0,137690096.0,3153.7
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,Yield,Rice,2005,3153.7,43659800.0,137690096.0,3153.7

In [41]:
df3.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'Crop',
       'Element', 'Item', 'Year', 'Value', 'Area_Harvested', 'Production',
       'Yield'],
      dtype='object')

In [42]:
df3=df3.drop(columns=['Element', 'Item','Value'])

In [43]:
df3.isnull().any()

N                 False
P                 False
K                 False
temperature       False
humidity          False
ph                False
rainfall          False
Crop              False
Year              False
Area_Harvested    False
Production        False
Yield             False
dtype: bool

In [44]:
df3.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Area_Harvested,Production,Yield
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,41906700.0,124697104.0,2975.6
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,41906700.0,124697104.0,2975.6
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,41906700.0,124697104.0,2975.6
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,43659800.0,137690096.0,3153.7
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,43659800.0,137690096.0,3153.7

In [45]:
df3.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Area_Harvested,Production,Yield
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,41906700.0,124697104.0,2975.6
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,41906700.0,124697104.0,2975.6
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,41906700.0,124697104.0,2975.6
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,43659800.0,137690096.0,3153.7
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,43659800.0,137690096.0,3153.7

In [46]:
df3.isnull().any()

N                 False
P                 False
K                 False
temperature       False
humidity          False
ph                False
rainfall          False
Crop              False
Year              False
Area_Harvested    False
Production        False
Yield             False
dtype: bool

In [47]:
df3.isna().any()

N                 False
P                 False
K                 False
temperature       False
humidity          False
ph                False
rainfall          False
Crop              False
Year              False
Area_Harvested    False
Production        False
Yield             False
dtype: bool

In [48]:
df3.dtypes

N                   int64
P                   int64
K                   int64
temperature       float64
humidity          float64
ph                float64
rainfall          float64
Crop               object
Year                int64
Area_Harvested    float64
Production        float64
Yield             float64
dtype: object

In [49]:
len(df3)

84000

In [50]:
df3=df3.drop_duplicates().reset_index(drop=True)

In [51]:
df3.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Area_Harvested,Production,Yield
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,41906700.0,124697104.0,2975.6
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,43659800.0,137690096.0,3153.7
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2006,43810000.0,139136992.0,3175.9
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2007,43910000.0,144570000.0,3292.4
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2008,45537400.0,148036000.0,3250.9

In [52]:
len(df3)

28000

In [53]:
df3.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Area_Harvested,Production,Yield
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,41906700.0,124697104.0,2975.6
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,43659800.0,137690096.0,3153.7
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2006,43810000.0,139136992.0,3175.9
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2007,43910000.0,144570000.0,3292.4
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2008,45537400.0,148036000.0,3250.9

In [54]:
len(df3)

28000

In [55]:
from sklearn.preprocessing import LabelEncoder
import seaborn as sns

In [56]:
encoder=LabelEncoder()

In [57]:
df3['Crops']=encoder.fit_transform(df3['Crop'])

In [58]:
df3.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Area_Harvested,Production,Yield,Crops
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,41906700.0,124697104.0,2975.6,12
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,43659800.0,137690096.0,3153.7,12
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2006,43810000.0,139136992.0,3175.9,12
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2007,43910000.0,144570000.0,3292.4,12
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2008,45537400.0,148036000.0,3250.9,12

In [59]:
df3.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'Crop',
       'Year', 'Area_Harvested', 'Production', 'Yield', 'Crops'],
      dtype='object')

In [60]:
df3=df3.drop(columns=['Crop'])

In [61]:
df3.dtypes

N                   int64
P                   int64
K                   int64
temperature       float64
humidity          float64
ph                float64
rainfall          float64
Year                int64
Area_Harvested    float64
Production        float64
Yield             float64
Crops               int64
dtype: object

In [62]:
import matplotlib.pyplot as plt
import seaborn as sns

In [63]:
# df3.to_csv("final.csv", index=False)

In [64]:
numeric_cols = df3.columns
outlier_summary = {}
for col in numeric_cols:
    Q1 = df3[col].quantile(0.25)
    Q3 = df3[col].quantile(0.85)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = df3[(df3[col] < lower_bound) | (df3[col] > upper_bound)][col]

    outlier_summary[col] = {
        "Lower Bound": lower_bound,
        "Upper Bound": upper_bound,
        "Outlier Count": outliers.shape[0],
        "Outlier Values": outliers.values
    }
for col, info in outlier_summary.items():
    print("\nColumn:", col)
    print("Lower Bound:", info["Lower Bound"])
    print("Upper Bound:", info["Upper Bound"])
    print("Outliers:", info["Outlier Values"])
    print("count:",len(info['Outlier Values']))

Column: N
Lower Bound: -86.0
Upper Bound: 218.0
Outliers: []
count: 0

Column: P
Lower Bound: -46.5
Upper Bound: 149.5
Outliers: []
count: 0

Column: K
Lower Bound: -25.0
Upper Bound: 103.0
Outliers: [196 196 196 ... 197 197 197]
count: 2000

Column: temperature
Lower Bound: 13.535649785000004
Upper Bound: 38.39583204499999
Outliers: [13.36050601 13.36050601 13.36050601 13.36050601 13.36050601 13.36050601
 13.36050601 13.36050601 13.36050601 13.36050601 13.36050601 13.36050601
 13.36050601 13.36050601 13.36050601 13.36050601 13.36050601 13.36050601
 13.36050601 13.36050601 11.50322938 11.50322938 11.50322938 11.50322938
 11.50322938 11.50322938 11.50322938 11.50322938 11.50322938 11.50322938
 11.50322938 11.50322938 11.50322938 11.50322938 11.50322938 11.50322938
 11.50322938 11.50322938 11.50322938 11.50322938 12.22816189 12.22816189
 12.22816189 12.22816189 12.22816189 12.22816189 12.22816189 12.22816189
 12.22816189 12.22816189 12.22816189 12.22816189 12.22816189 12.22816189
 12.22816189 12.22816189 12.22816189 12.22816189 12.22816189 12.22816189
 10.01081312 10.01081312 10.01081312 10.01081312 10.01081312 10.01081312
 10.01081312 10.01081312 10.01081312 10.01081312 10.01081312 10.01081312
 10.01081312 10.01081312 10.01081312 10.01081312 10.01081312 10.01081312
 10.01081312 10.01081312 10.78689755 10.78689755 10.78689755 10.78689755
 10.78689755 10.78689755 10.78689755 10.78689755 10.78689755 10.78689755
 10.78689755 10.78689755 10.78689755 10.78689755 10.78689755 10.78689755
 10.78689755 10.78689755 10.78689755 10.78689755 11.89925671 11.89925671
 11.89925671 11.89925671 11.89925671 11.89925671 11.89925671 11.89925671
 11.89925671 11.89925671 11.89925671 11.89925671 11.89925671 11.89925671
 11.89925671 11.89925671 11.89925671 11.89925671 11.89925671 11.89925671
 11.54785707 11.54785707 11.54785707 11.54785707 11.54785707 11.54785707
 11.54785707 11.54785707 11.54785707 11.54785707 11.54785707 11.54785707
 11.54785707 11.54785707 11.54785707 11.54785707 11.54785707 11.54785707
 11.54785707 11.54785707 13.20844373 13.20844373 13.20844373 13.20844373
 13.20844373 13.20844373 13.20844373 13.20844373 13.20844373 13.20844373
 13.20844373 13.20844373 13.20844373 13.20844373 13.20844373 13.20844373
 13.20844373 13.20844373 13.20844373 13.20844373 12.59093977 12.59093977
 12.59093977 12.59093977 12.59093977 12.59093977 12.59093977 12.59093977
 12.59093977 12.59093977 12.59093977 12.59093977 12.59093977 12.59093977
 12.59093977 12.59093977 12.59093977 12.59093977 12.59093977 12.59093977
 11.86631922 11.86631922 11.86631922 11.86631922 11.86631922 11.86631922
 11.86631922 11.86631922 11.86631922 11.86631922 11.86631922 11.86631922
 11.86631922 11.86631922 11.86631922 11.86631922 11.86631922 11.86631922
 11.86631922 11.86631922 11.03367937 11.03367937 11.03367937 11.03367937
 11.03367937 11.03367937 11.03367937 11.03367937 11.03367937 11.03367937
 11.03367937 11.03367937 11.03367937 11.03367937 11.03367937 11.03367937
 11.03367937 11.03367937 11.03367937 11.03367937 10.2708877  10.2708877
 10.2708877  10.2708877  10.2708877  10.2708877  10.2708877  10.2708877
 10.2708877  10.2708877  10.2708877  10.2708877  10.2708877  10.2708877
 10.2708877  10.2708877  10.2708877  10.2708877  10.2708877  10.2708877
 10.35609594 10.35609594 10.35609594 10.35609594 10.35609594 10.35609594
 10.35609594 10.35609594 10.35609594 10.35609594 10.35609594 10.35609594
 10.35609594 10.35609594 10.35609594 10.35609594 10.35609594 10.35609594
 10.35609594 10.35609594 10.16431299 10.16431299 10.16431299 10.16431299
 10.16431299 10.16431299 10.16431299 10.16431299 10.16431299 10.16431299
 10.16431299 10.16431299 10.16431299 10.16431299 10.16431299 10.16431299
 10.16431299 10.16431299 10.16431299 10.16431299 11.69894639 11.69894639
 11.69894639 11.69894639 11.69894639 11.69894639 11.69894639 11.69894639
 11.69894639 11.69894639 11.69894639 11.69894639 11.69894639 11.69894639
 11.69894639 11.69894639 11.69894639 11.69894639 11.69894639 11.69894639
 42.39413392 42.39413392 42.39413392 42.39413392 42.39413392 42.39413392
 42.39413392 42.39413392 42.39413392 42.39413392 42.39413392 42.39413392
 42.39413392 42.39413392 42.39413392 42.39413392 42.39413392 42.39413392
 42.39413392 42.39413392 38.4191628  38.4191628  38.4191628  38.4191628
 38.4191628  38.4191628  38.4191628  38.4191628  38.4191628  38.4191628
 38.4191628  38.4191628  38.4191628  38.4191628  38.4191628  38.4191628
 38.4191628  38.4191628  38.4191628  38.4191628  42.92325255 42.92325255
 42.92325255 42.92325255 42.92325255 42.92325255 42.92325255 42.92325255
 42.92325255 42.92325255 42.92325255 42.92325255 42.92325255 42.92325255
 42.92325255 42.92325255 42.92325255 42.92325255 42.92325255 42.92325255
 40.21199348 40.21199348 40.21199348 40.21199348 40.21199348 40.21199348
 40.21199348 40.21199348 40.21199348 40.21199348 40.21199348 40.21199348
 40.21199348 40.21199348 40.21199348 40.21199348 40.21199348 40.21199348
 40.21199348 40.21199348 42.13473976 42.13473976 42.13473976 42.13473976
 42.13473976 42.13473976 42.13473976 42.13473976 42.13473976 42.13473976
 42.13473976 42.13473976 42.13473976 42.13473976 42.13473976 42.13473976
 42.13473976 42.13473976 42.13473976 42.13473976 38.4418717  38.4418717
 38.4418717  38.4418717  38.4418717  38.4418717  38.4418717  38.4418717
 38.4418717  38.4418717  38.4418717  38.4418717  38.4418717  38.4418717
 38.4418717  38.4418717  38.4418717  38.4418717  38.4418717  38.4418717
 39.01793345 39.01793345 39.01793345 39.01793345 39.01793345 39.01793345
 39.01793345 39.01793345 39.01793345 39.01793345 39.01793345 39.01793345
 39.01793345 39.01793345 39.01793345 39.01793345 39.01793345 39.01793345
 39.01793345 39.01793345 38.72382798 38.72382798 38.72382798 38.72382798
 38.72382798 38.72382798 38.72382798 38.72382798 38.72382798 38.72382798
 38.72382798 38.72382798 38.72382798 38.72382798 38.72382798 38.72382798
 38.72382798 38.72382798 38.72382798 38.72382798 43.30204933 43.30204933
 43.30204933 43.30204933 43.30204933 43.30204933 43.30204933 43.30204933
 43.30204933 43.30204933 43.30204933 43.30204933 43.30204933 43.30204933
 43.30204933 43.30204933 43.30204933 43.30204933 43.30204933 43.30204933
 40.78881819 40.78881819 40.78881819 40.78881819 40.78881819 40.78881819
 40.78881819 40.78881819 40.78881819 40.78881819 40.78881819 40.78881819
 40.78881819 40.78881819 40.78881819 40.78881819 40.78881819 40.78881819
 40.78881819 40.78881819 39.30050027 39.30050027 39.30050027 39.30050027
 39.30050027 39.30050027 39.30050027 39.30050027 39.30050027 39.30050027
 39.30050027 39.30050027 39.30050027 39.30050027 39.30050027 39.30050027
 39.30050027 39.30050027 39.30050027 39.30050027 39.73149053 39.73149053
 39.73149053 39.73149053 39.73149053 39.73149053 39.73149053 39.73149053
 39.73149053 39.73149053 39.73149053 39.73149053 39.73149053 39.73149053
 39.73149053 39.73149053 39.73149053 39.73149053 39.73149053 39.73149053
 39.23342464 39.23342464 39.23342464 39.23342464 39.23342464 39.23342464
 39.23342464 39.23342464 39.23342464 39.23342464 39.23342464 39.23342464
 39.23342464 39.23342464 39.23342464 39.23342464 39.23342464 39.23342464
 39.23342464 39.23342464 40.76998685 40.76998685 40.76998685 40.76998685
 40.76998685 40.76998685 40.76998685 40.76998685 40.76998685 40.76998685
 40.76998685 40.76998685 40.76998685 40.76998685 40.76998685 40.76998685
 40.76998685 40.76998685 40.76998685 40.76998685 42.30495821 42.30495821
 42.30495821 42.30495821 42.30495821 42.30495821 42.30495821 42.30495821
 42.30495821 42.30495821 42.30495821 42.30495821 42.30495821 42.30495821
 42.30495821 42.30495821 42.30495821 42.30495821 42.30495821 42.30495821
 42.84609252 42.84609252 42.84609252 42.84609252 42.84609252 42.84609252
 42.84609252 42.84609252 42.84609252 42.84609252 42.84609252 42.84609252
 42.84609252 42.84609252 42.84609252 42.84609252 42.84609252 42.84609252
 42.84609252 42.84609252 43.67549305 43.67549305 43.67549305 43.67549305
 43.67549305 43.67549305 43.67549305 43.67549305 43.67549305 43.67549305
 43.67549305 43.67549305 43.67549305 43.67549305 43.67549305 43.67549305
 43.67549305 43.67549305 43.67549305 43.67549305 42.07213781 42.07213781
 42.07213781 42.07213781 42.07213781 42.07213781 42.07213781 42.07213781
 42.07213781 42.07213781 42.07213781 42.07213781 42.07213781 42.07213781
 42.07213781 42.07213781 42.07213781 42.07213781 42.07213781 42.07213781
 41.41968393 41.41968393 41.41968393 41.41968393 41.41968393 41.41968393
 41.41968393 41.41968393 41.41968393 41.41968393 41.41968393 41.41968393
 41.41968393 41.41968393 41.41968393 41.41968393 41.41968393 41.41968393
 41.41968393 41.41968393 42.54744013 42.54744013 42.54744013 42.54744013
 42.54744013 42.54744013 42.54744013 42.54744013 42.54744013 42.54744013
 42.54744013 42.54744013 42.54744013 42.54744013 42.54744013 42.54744013
 42.54744013 42.54744013 42.54744013 42.54744013 43.08022702 43.08022702
 43.08022702 43.08022702 43.08022702 43.08022702 43.08022702 43.08022702
 43.08022702 43.08022702 43.08022702 43.08022702 43.08022702 43.08022702
 43.08022702 43.08022702 43.08022702 43.08022702 43.08022702 43.08022702
 41.04224355 41.04224355 41.04224355 41.04224355 41.04224355 41.04224355
 41.04224355 41.04224355 41.04224355 41.04224355 41.04224355 41.04224355
 41.04224355 41.04224355 41.04224355 41.04224355 41.04224355 41.04224355
 41.04224355 41.04224355 42.93368602 42.93368602 42.93368602 42.93368602
 42.93368602 42.93368602 42.93368602 42.93368602 42.93368602 42.93368602
 42.93368602 42.93368602 42.93368602 42.93368602 42.93368602 42.93368602
 42.93368602 42.93368602 42.93368602 42.93368602 43.36051537 43.36051537
 43.36051537 43.36051537 43.36051537 43.36051537 43.36051537 43.36051537
 43.36051537 43.36051537 43.36051537 43.36051537 43.36051537 43.36051537
 43.36051537 43.36051537 43.36051537 43.36051537 43.36051537 43.36051537
 43.03714283 43.03714283 43.03714283 43.03714283 43.03714283 43.03714283
 43.03714283 43.03714283 43.03714283 43.03714283 43.03714283 43.03714283
 43.03714283 43.03714283 43.03714283 43.03714283 43.03714283 43.03714283
 43.03714283 43.03714283 38.73218907 38.73218907 38.73218907 38.73218907
 38.73218907 38.73218907 38.73218907 38.73218907 38.73218907 38.73218907
 38.73218907 38.73218907 38.73218907 38.73218907 38.73218907 38.73218907
 38.73218907 38.73218907 38.73218907 38.73218907 42.93605359 42.93605359
 42.93605359 42.93605359 42.93605359 42.93605359 42.93605359 42.93605359
 42.93605359 42.93605359 42.93605359 42.93605359 42.93605359 42.93605359
 42.93605359 42.93605359 42.93605359 42.93605359 42.93605359 42.93605359
 40.00439101 40.00439101 40.00439101 40.00439101 40.00439101 40.00439101
 40.00439101 40.00439101 40.00439101 40.00439101 40.00439101 40.00439101
 40.00439101 40.00439101 40.00439101 40.00439101 40.00439101 40.00439101
 40.00439101 40.00439101 40.10207731 40.10207731 40.10207731 40.10207731
 40.10207731 40.10207731 40.10207731 40.10207731 40.10207731 40.10207731
 40.10207731 40.10207731 40.10207731 40.10207731 40.10207731 40.10207731
 40.10207731 40.10207731 40.10207731 40.10207731 38.58954491 38.58954491
 38.58954491 38.58954491 38.58954491 38.58954491 38.58954491 38.58954491
 38.58954491 38.58954491 38.58954491 38.58954491 38.58954491 38.58954491
 38.58954491 38.58954491 38.58954491 38.58954491 38.58954491 38.58954491
 41.31330062 41.31330062 41.31330062 41.31330062 41.31330062 41.31330062
 41.31330062 41.31330062 41.31330062 41.31330062 41.31330062 41.31330062
 41.31330062 41.31330062 41.31330062 41.31330062 41.31330062 41.31330062
 41.31330062 41.31330062]
count: 920

Column: humidity
Lower Bound: 19.271724844250073
Upper Bound: 136.42431244624987
Outliers: [16.98861173 16.98861173 16.98861173 ... 15.36143547 15.36143547
 15.36143547]
count: 1780

Column: ph
Lower Bound: 4.2983977125000346
Upper Bound: 9.00937135649994
Outliers: []
count: 0

Column: rainfall
Lower Bound: -83.58678549124978
Upper Bound: 348.8711201987496
Outliers: []
count: 0

Column: Year
Lower Bound: 1991.6500000000033
Upper Bound: 2037.2499999999945
Outliers: []
count: 0

Column: Area_Harvested
Lower Bound: -14042886.499999885
Upper Bound: 24261277.499999806
Outliers: [41906700. 43659800. 43810000. ... 46279000. 47832000. 47828000.]
count: 2000

Column: Production
Lower Bound: -34742395.2499998
Upper Bound: 62838157.14999966
Outliers: [1.24697104e+08 1.37690096e+08 1.39136992e+08 ... 1.94198000e+08
 2.03624000e+08 2.06727000e+08]
count: 2000

Column: Yield
Lower Bound: -37726.11999999927
Upper Bound: 66440.19999999879
Outliers: []
count: 0

Column: Crops
Lower Bound: -9.0
Upper Bound: 23.0
Outliers: []
count: 0

In [65]:
df3.head()

,N,P,K,temperature,humidity,ph,rainfall,Year,Area_Harvested,Production,Yield,Crops
0,90,42,43,20.879744,82.002744,6.502985,202.935536,2004,41906700.0,124697104.0,2975.6,12
1,90,42,43,20.879744,82.002744,6.502985,202.935536,2005,43659800.0,137690096.0,3153.7,12
2,90,42,43,20.879744,82.002744,6.502985,202.935536,2006,43810000.0,139136992.0,3175.9,12
3,90,42,43,20.879744,82.002744,6.502985,202.935536,2007,43910000.0,144570000.0,3292.4,12
4,90,42,43,20.879744,82.002744,6.502985,202.935536,2008,45537400.0,148036000.0,3250.9,12