In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('final.csv')

C:\Users\skart\AppData\Local\Temp\ipykernel_15948\3403817249.py:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('final.csv')

In [3]:
df.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Domain Code,Domain,...,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Area harvested,113.0,Rice,2004,2004,ha,41906700.0,A,Official figure,NaN
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Yield,113.0,Rice,2004,2004,kg/ha,2975.6,A,Official figure,NaN
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,113.0,Rice,2004,2004,t,124697104.0,A,Official figure,NaN
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Area harvested,113.0,Rice,2005,2005,ha,43659800.0,A,Official figure,NaN
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Yield,113.0,Rice,2005,2005,kg/ha,3153.7,A,Official figure,NaN

In [4]:
df4=df.groupby(['Element']).get_group('Production')

C:\Users\skart\AppData\Local\Temp\ipykernel_15948\948619197.py:1: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  df4=df.groupby(['Element']).get_group('Production')

In [5]:
df4.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Domain Code,Domain,...,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,113.0,Rice,2004,2004,t,124697104.0,A,Official figure,NaN
5,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,113.0,Rice,2005,2005,t,137690096.0,A,Official figure,NaN
8,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,113.0,Rice,2006,2006,t,139136992.0,A,Official figure,NaN
11,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,113.0,Rice,2007,2007,t,144570000.0,A,Official figure,NaN
14,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,Production,113.0,Rice,2008,2008,t,148036000.0,A,Official figure,NaN

In [6]:
df4=df4.drop(columns=['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code','Unit', 'Flag', 'Flag Description', 'Note'])

In [7]:
df4.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Value
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,124697104.0
5,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,137690096.0
8,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2006,139136992.0
11,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2007,144570000.0
14,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2008,148036000.0

In [8]:
df4.isnull().any()

N              False
P              False
K              False
temperature    False
humidity       False
ph             False
rainfall       False
Crop           False
Year           False
Value          False
dtype: bool

In [9]:
df4=df4.drop_duplicates().reset_index(drop=True)

In [10]:
df4.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Value
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,124697104.0
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,137690096.0
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2006,139136992.0
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2007,144570000.0
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2008,148036000.0

In [11]:
df4['Crop'].value_counts()

Crop
rice          2000
maize         2000
chickpea      2000
lentil        2000
banana        2000
mango         2000
watermelon    2000
apple         2000
orange        2000
papaya        2000
coconut       2000
cotton        2000
jute          2000
coffee        2000
Name: count, dtype: int64

In [12]:
len(df4)

28000

In [13]:
df4.dtypes

N                int64
P                int64
K                int64
temperature    float64
humidity       float64
ph             float64
rainfall       float64
Crop            object
Year             int64
Value          float64
dtype: object

In [14]:
df4.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Value
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2004,124697104.0
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2005,137690096.0
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2006,139136992.0
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2007,144570000.0
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2008,148036000.0

In [ ]:
numeric_cols = df4.select_dtypes(include=[np.number]).columns
outlier_summary = {}
for col in numeric_cols:
    Q1 = df4[col].quantile(0.25)
    Q3 = df4[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df4[(df4[col] < lower_bound) | (df4[col] > upper_bound)][col]
    outlier_summary[col] = {
        "Lower Bound": lower_bound,
        "Upper Bound": upper_bound,
        "Outlier Count": outliers.shape[0],
        "Outlier Values": outliers.values
    }
for col, info in outlier_summary.items():
    print("\nColumn:", col)
    print("Lower Bound:", info["Lower Bound"])
    print("Upper Bound:", info["Upper Bound"])
    print("Outliers:", info["Outlier Values"])
    print("Count:", info["Outlier Count"])

Column: N
Lower Bound: -68.0
Upper Bound: 188.0
Outliers: []
Count: 0

Column: P
Lower Bound: -30.0
Upper Bound: 122.0
Outliers: [128 128 128 ... 140 140 140]
Count: 1760

Column: K
Lower Bound: -17.5
Upper Bound: 90.5
Outliers: [196 196 196 ... 197 197 197]
Count: 2000

Column: temperature
Lower Bound: 16.115409496249995
Upper Bound: 34.096232526250006
Outliers: [35.89855625 35.89855625 35.89855625 ... 37.03551903 37.03551903
 37.03551903]
Count: 1820

Column: humidity
Lower Bound: 21.95062242125001
Upper Bound: 131.95948315125
Outliers: [16.98861173 16.98861173 16.98861173 ... 15.36143547 15.36143547
 15.36143547]
Count: 2000

Column: ph
Lower Bound: 4.749903126374999
Upper Bound: 8.256862333375
Outliers: [8.75379533 8.75379533 8.75379533 8.75379533 8.75379533 8.75379533
 8.75379533 8.75379533 8.75379533 8.75379533 8.75379533 8.75379533
 8.75379533 8.75379533 8.75379533 8.75379533 8.75379533 8.75379533
 8.75379533 8.75379533 8.71819285 8.71819285 8.71819285 8.71819285
 8.71819285 8.71819285 8.71819285 8.71819285 8.71819285 8.71819285
 8.71819285 8.71819285 8.71819285 8.71819285 8.71819285 8.71819285
 8.71819285 8.71819285 8.71819285 8.71819285 8.49012714 8.49012714
 8.49012714 8.49012714 8.49012714 8.49012714 8.49012714 8.49012714
 8.49012714 8.49012714 8.49012714 8.49012714 8.49012714 8.49012714
 8.49012714 8.49012714 8.49012714 8.49012714 8.49012714 8.49012714
 8.51997575 8.51997575 8.51997575 8.51997575 8.51997575 8.51997575
 8.51997575 8.51997575 8.51997575 8.51997575 8.51997575 8.51997575
 8.51997575 8.51997575 8.51997575 8.51997575 8.51997575 8.51997575
 8.51997575 8.51997575 8.82927333 8.82927333 8.82927333 8.82927333
 8.82927333 8.82927333 8.82927333 8.82927333 8.82927333 8.82927333
 8.82927333 8.82927333 8.82927333 8.82927333 8.82927333 8.82927333
 8.82927333 8.82927333 8.82927333 8.82927333 8.62166298 8.62166298
 8.62166298 8.62166298 8.62166298 8.62166298 8.62166298 8.62166298
 8.62166298 8.62166298 8.62166298 8.62166298 8.62166298 8.62166298
 8.62166298 8.62166298 8.62166298 8.62166298 8.62166298 8.62166298
 8.86874144 8.86874144 8.86874144 8.86874144 8.86874144 8.86874144
 8.86874144 8.86874144 8.86874144 8.86874144 8.86874144 8.86874144
 8.86874144 8.86874144 8.86874144 8.86874144 8.86874144 8.86874144
 8.86874144 8.86874144 8.76612865 8.76612865 8.76612865 8.76612865
 8.76612865 8.76612865 8.76612865 8.76612865 8.76612865 8.76612865
 8.76612865 8.76612865 8.76612865 8.76612865 8.76612865 8.76612865
 8.76612865 8.76612865 8.76612865 8.76612865 8.7363379  8.7363379
 8.7363379  8.7363379  8.7363379  8.7363379  8.7363379  8.7363379
 8.7363379  8.7363379  8.7363379  8.7363379  8.7363379  8.7363379
 8.7363379  8.7363379  8.7363379  8.7363379  8.7363379  8.7363379
 8.38018527 8.38018527 8.38018527 8.38018527 8.38018527 8.38018527
 8.38018527 8.38018527 8.38018527 8.38018527 8.38018527 8.38018527
 8.38018527 8.38018527 8.38018527 8.38018527 8.38018527 8.38018527
 8.38018527 8.38018527 8.4238737  8.4238737  8.4238737  8.4238737
 8.4238737  8.4238737  8.4238737  8.4238737  8.4238737  8.4238737
 8.4238737  8.4238737  8.4238737  8.4238737  8.4238737  8.4238737
 8.4238737  8.4238737  8.4238737  8.4238737  8.71996089 8.71996089
 8.71996089 8.71996089 8.71996089 8.71996089 8.71996089 8.71996089
 8.71996089 8.71996089 8.71996089 8.71996089 8.71996089 8.71996089
 8.71996089 8.71996089 8.71996089 8.71996089 8.71996089 8.71996089
 8.86147967 8.86147967 8.86147967 8.86147967 8.86147967 8.86147967
 8.86147967 8.86147967 8.86147967 8.86147967 8.86147967 8.86147967
 8.86147967 8.86147967 8.86147967 8.86147967 8.86147967 8.86147967
 8.86147967 8.86147967 4.54646611 4.54646611 4.54646611 4.54646611
 4.54646611 4.54646611 4.54646611 4.54646611 4.54646611 4.54646611
 4.54646611 4.54646611 4.54646611 4.54646611 4.54646611 4.54646611
 4.54646611 4.54646611 4.54646611 4.54646611 4.50752355 4.50752355
 4.50752355 4.50752355 4.50752355 4.50752355 4.50752355 4.50752355
 4.50752355 4.50752355 4.50752355 4.50752355 4.50752355 4.50752355
 4.50752355 4.50752355 4.50752355 4.50752355 4.50752355 4.50752355
 4.55568853 4.55568853 4.55568853 4.55568853 4.55568853 4.55568853
 4.55568853 4.55568853 4.55568853 4.55568853 4.55568853 4.55568853
 4.55568853 4.55568853 4.55568853 4.55568853 4.55568853 4.55568853
 4.55568853 4.55568853 4.6913962  4.6913962  4.6913962  4.6913962
 4.6913962  4.6913962  4.6913962  4.6913962  4.6913962  4.6913962
 4.6913962  4.6913962  4.6913962  4.6913962  4.6913962  4.6913962
 4.6913962  4.6913962  4.6913962  4.6913962  4.6505362  4.6505362
 4.6505362  4.6505362  4.6505362  4.6505362  4.6505362  4.6505362
 4.6505362  4.6505362  4.6505362  4.6505362  4.6505362  4.6505362
 4.6505362  4.6505362  4.6505362  4.6505362  4.6505362  4.6505362
 4.74910393 4.74910393 4.74910393 4.74910393 4.74910393 4.74910393
 4.74910393 4.74910393 4.74910393 4.74910393 4.74910393 4.74910393
 4.74910393 4.74910393 4.74910393 4.74910393 4.74910393 4.74910393
 4.74910393 4.74910393 4.66910839 4.66910839 4.66910839 4.66910839
 4.66910839 4.66910839 4.66910839 4.66910839 4.66910839 4.66910839
 4.66910839 4.66910839 4.66910839 4.66910839 4.66910839 4.66910839
 4.66910839 4.66910839 4.66910839 4.66910839 4.52572233 4.52572233
 4.52572233 4.52572233 4.52572233 4.52572233 4.52572233 4.52572233
 4.52572233 4.52572233 4.52572233 4.52572233 4.52572233 4.52572233
 4.52572233 4.52572233 4.52572233 4.52572233 4.52572233 4.52572233]
Count: 420

Column: rainfall
Lower Bound: -35.59011734374998
Upper Bound: 268.87667328624997
Outliers: [271.3248604 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604
 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604
 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604 271.3248604
 271.3248604 271.3248604 284.4364567 284.4364567 284.4364567 284.4364567
 284.4364567 284.4364567 284.4364567 284.4364567 284.4364567 284.4364567
 284.4364567 284.4364567 284.4364567 284.4364567 284.4364567 284.4364567
 284.4364567 284.4364567 284.4364567 284.4364567 276.6552459 276.6552459
 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459
 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459
 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459 276.6552459
 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618
 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618
 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618 291.2986618
 291.2986618 291.2986618 271.3586137 271.3586137 271.3586137 271.3586137
 271.3586137 271.3586137 271.3586137 271.3586137 271.3586137 271.3586137
 271.3586137 271.3586137 271.3586137 271.3586137 271.3586137 271.3586137
 271.3586137 271.3586137 271.3586137 271.3586137 272.2017204 272.2017204
 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204
 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204
 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204 272.2017204
 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274
 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274
 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274 270.4417274
 270.4417274 270.4417274 272.2999056 272.2999056 272.2999056 272.2999056
 272.2999056 272.2999056 272.2999056 272.2999056 272.2999056 272.2999056
 272.2999056 272.2999056 272.2999056 272.2999056 272.2999056 272.2999056
 272.2999056 272.2999056 272.2999056 272.2999056 285.2493645 285.2493645
 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645
 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645
 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645 285.2493645
 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471
 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471
 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471 298.4018471
 298.4018471 298.4018471 298.5601175 298.5601175 298.5601175 298.5601175
 298.5601175 298.5601175 298.5601175 298.5601175 298.5601175 298.5601175
 298.5601175 298.5601175 298.5601175 298.5601175 298.5601175 298.5601175
 298.5601175 298.5601175 298.5601175 298.5601175 286.5083725 286.5083725
 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725
 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725
 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725 286.5083725
 283.9338466 283.9338466 283.9338466 283.9338466 283.9338466 283.9338466
 283.9338466 283.9338466 283.9338466 283.9338466 283.9338466 283.9338466
 283.9338466 283.9338466 283.9338466 283.9338466 283.9338466 283.9338466
 283.9338466 283.9338466 277.9626192 277.9626192 277.9626192 277.9626192
 277.9626192 277.9626192 277.9626192 277.9626192 277.9626192 277.9626192
 277.9626192 277.9626192 277.9626192 277.9626192 277.9626192 277.9626192
 277.9626192 277.9626192 277.9626192 277.9626192 279.5451717 279.5451717
 279.5451717 279.5451717 279.5451717 279.5451717 279.5451717 279.5451717
 279.5451717 279.5451717 279.5451717 279.5451717 279.5451717 279.5451717
 279.5451717 279.5451717 279.5451717 279.5451717 279.5451717 279.5451717
 269.5039162 269.5039162 269.5039162 269.5039162 269.5039162 269.5039162
 269.5039162 269.5039162 269.5039162 269.5039162 269.5039162 269.5039162
 269.5039162 269.5039162 269.5039162 269.5039162 269.5039162 269.5039162
 269.5039162 269.5039162 295.6094492 295.6094492 295.6094492 295.6094492
 295.6094492 295.6094492 295.6094492 295.6094492 295.6094492 295.6094492
 295.6094492 295.6094492 295.6094492 295.6094492 295.6094492 295.6094492
 295.6094492 295.6094492 295.6094492 295.6094492 278.0791793 278.0791793
 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793
 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793
 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793 278.0791793
 280.4044392 280.4044392 280.4044392 280.4044392 280.4044392 280.4044392
 280.4044392 280.4044392 280.4044392 280.4044392 280.4044392 280.4044392
 280.4044392 280.4044392 280.4044392 280.4044392 280.4044392 280.4044392
 280.4044392 280.4044392 290.6793783 290.6793783 290.6793783 290.6793783
 290.6793783 290.6793783 290.6793783 290.6793783 290.6793783 290.6793783
 290.6793783 290.6793783 290.6793783 290.6793783 290.6793783 290.6793783
 290.6793783 290.6793783 290.6793783 290.6793783 295.9248796 295.9248796
 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796
 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796
 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796 295.9248796
 287.5766935 287.5766935 287.5766935 287.5766935 287.5766935 287.5766935
 287.5766935 287.5766935 287.5766935 287.5766935 287.5766935 287.5766935
 287.5766935 287.5766935 287.5766935 287.5766935 287.5766935 287.5766935
 287.5766935 287.5766935]
Count: 440

Column: Year
Lower Bound: 1994.5
Upper Bound: 2032.5
Outliers: []
Count: 0

Column: Value
Lower Bound: -22443595.25
Upper Bound: 42340157.15
Outliers: [1.24697104e+08 1.37690096e+08 1.39136992e+08 ... 1.94198000e+08
 2.03624000e+08 2.06727000e+08]
Count: 2000

In [16]:
df4_clean = df4.copy()

for col in numeric_cols:
    Q1 = df4_clean[col].quantile(0.25)
    Q3 = df4_clean[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    df4_clean = df4_clean[(df4_clean[col] >= lower_bound) & (df4_clean[col] <= upper_bound)]

In [17]:
df4_clean.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Value
2000,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2004,14172000.0
2001,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2005,14709900.0
2002,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2006,15097000.0
2003,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2007,18955400.0
2004,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2008,19731400.0

In [18]:
len(df4_clean)

19860

In [21]:
df4_clean=df4_clean.reset_index(drop=True)

In [22]:
df4_clean.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Year,Value
0,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2004,14172000.0
1,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2005,14709900.0
2,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2006,15097000.0
3,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2007,18955400.0
4,71,54,16,22.6136,63.690706,5.749914,87.759539,maize,2008,19731400.0