In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv("Crop_recommendation.csv")

In [3]:
df1.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [4]:
df1.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [6]:
df1.isnull().any()

N              False
P              False
K              False
temperature    False
humidity       False
ph             False
rainfall       False
label          False
dtype: bool

In [7]:
df1['label'].value_counts()

label
rice           100
maize          100
chickpea       100
kidneybeans    100
pigeonpeas     100
mothbeans      100
mungbean       100
blackgram      100
lentil         100
pomegranate    100
banana         100
mango          100
grapes         100
watermelon     100
muskmelon      100
apple          100
orange         100
papaya         100
coconut        100
cotton         100
jute           100
coffee         100
Name: count, dtype: int64

In [8]:
df1=df1.rename(columns={'label':'Crop'})

In [9]:
df1.head()

    N   P   K  temperature   humidity        ph    rainfall  Crop
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [10]:
df2=pd.read_csv("FAOSTAT_data_en_11-19-2025.csv")

In [11]:
df2.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,ha,410573.0,A,Official figure,NaN
1,QCL,Crops and livestock products,356,India,5412,Yield,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,kg/ha,553.1,A,Official figure,NaN
2,QCL,Crops and livestock products,356,India,5510,Production,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,t,227099.0,A,Official figure,NaN
3,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2005,2005,ha,446931.0,A,Official figure,NaN
4,QCL,Crops and livestock products,356,India,5412,Yield,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2005,2005,kg/ha,584.4,A,Official figure,NaN

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5261 entries, 0 to 5260
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       5261 non-null   object
 1   Domain            5261 non-null   object
 2   Area Code (M49)   5261 non-null   int64
 3   Area              5261 non-null   object
 4   Element Code      5261 non-null   int64
 5   Element           5261 non-null   object
 6   Item Code (CPC)   5261 non-null   object
 7   Item              5261 non-null   object
 8   Year Code         5261 non-null   int64
 9   Year              5261 non-null   int64
 10  Unit              5261 non-null   object
 11  Value             5076 non-null   float64
 12  Flag              5261 non-null   object
 13  Flag Description  5261 non-null   object
 14  Note              227 non-null    object
dtypes: float64(1), int64(4), object(10)
memory usage: 616.7+ KB

In [13]:
df2.columns

Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note'],
      dtype='object')

In [14]:
df2.isnull().any()

Domain Code         False
Domain              False
Area Code (M49)     False
Area                False
Element Code        False
Element             False
Item Code (CPC)     False
Item                False
Year Code           False
Year                False
Unit                False
Value                True
Flag                False
Flag Description    False
Note                 True
dtype: bool

In [15]:
len(df2)

5261

In [16]:
df2[df2.isnull().any(axis=1)]

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,ha,4.105730e+05,A,Official figure,NaN
1,QCL,Crops and livestock products,356,India,5412,Yield,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,kg/ha,5.531000e+02,A,Official figure,NaN
2,QCL,Crops and livestock products,356,India,5510,Production,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,t,2.270990e+05,A,Official figure,NaN
3,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2005,2005,ha,4.469310e+05,A,Official figure,NaN
4,QCL,Crops and livestock products,356,India,5412,Yield,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2005,2005,kg/ha,5.844000e+02,A,Official figure,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5256,QCL,Crops and livestock products,356,India,5412,Yield,0111,Wheat,2022,2022,kg/ha,3.537300e+03,A,Official figure,NaN
5257,QCL,Crops and livestock products,356,India,5510,Production,0111,Wheat,2022,2022,t,1.077421e+08,A,Official figure,NaN
5258,QCL,Crops and livestock products,356,India,5312,Area harvested,0111,Wheat,2023,2023,ha,3.140072e+07,A,Official figure,NaN
5259,QCL,Crops and livestock products,356,India,5412,Yield,0111,Wheat,2023,2023,kg/ha,3.520700e+03,A,Official figure,NaN
5260,QCL,Crops and livestock products,356,India,5510,Production,0111,Wheat,2023,2023,t,1.105537e+08,A,Official figure,NaN

In [17]:
len(df2[df2.isnull().any(axis=1)])

5034

In [18]:
df2.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,ha,410573.0,A,Official figure,NaN
1,QCL,Crops and livestock products,356,India,5412,Yield,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,kg/ha,553.1,A,Official figure,NaN
2,QCL,Crops and livestock products,356,India,5510,Production,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2004,2004,t,227099.0,A,Official figure,NaN
3,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2005,2005,ha,446931.0,A,Official figure,NaN
4,QCL,Crops and livestock products,356,India,5412,Yield,01654,"Anise, badian, coriander, cumin, caraway, fenn...",2005,2005,kg/ha,584.4,A,Official figure,NaN

In [19]:
df2['Item'] = df2['Item'].str.split(r",|and")
df2 = df2.explode('Item')

In [20]:
df2['Item']=df2['Item'].str.strip()

In [21]:
df2.columns

Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note'],
      dtype='object')

In [22]:
for i in df2['Item'].unique():
    print(i)

Anise
badian
cori
er
cumin
caraway
fennel
juniper berries
raw
Apples
Apricots
Areca nuts
Bananas
Barley
Beans
dry
Beer of barley
malted
Cabbages
Cantaloupes
other melons
Carrots
turnips
Cashew nuts
in shell
Cassava
fresh
Castor oil seeds
Cauliflowers
broccoli
Cherries
Chick peas
Chillies
peppers
dry (Capsicum spp.
Pimenta spp.)
green (Capsicum spp.
Cocoa beans
Coconut oil
Coconuts
Coffee
green
Coir
Cotton lint
ginned
Cotton seed
Cottonseed oil
Cucumbers
gherkins
Eggplants (aubergines)
Figs
Ginger
Grapes
Green garlic
Green tea (not fermented)
black tea (fermented)
partly fermented tea
in immediate packings of a content not exceeding 3 kg
Groundnut oil
Groundnuts
excluding shelled
Jute
raw or retted
Kenaf

other textile bast fibres
Lemons
limes
Lentils
Lettuce
chicory
Linseed
Maize (corn)
Mangoes
guavas
mangosteens
Margarine
shortening
Millet
Molasses
Mushrooms
truffles
Natural rubber in primary forms
Nutmeg
mace
cardamoms
Oil of linseed
Oil of maize
Oil of sesame seed
Okra
Onions
shallots
dry (excluding dehydrated)
Oranges
Other beans
Other berries
fruits of the genus vaccinium n.e.c.
Other citrus fruit
n.e.c.
Other fruits
Other oil seeds
Other pulses n.e.c.
Other stimulant
spice
aromatic crops
Other stone fruits
Other tropical fruits
Other vegetables
fresh n.e.c.
Papayas
Peaches
nectarines
Pears
Peas
Pepper (Piper spp.)
Pigeon peas
Pineapples
Plums
sloes
Pomelos
grapefruits
Poppy seed
Potatoes
Pumpkins
squash
gourds
Rape or colza seed
Rapeseed or canola oil
crude
Raw cane or beet sugar (centrifugal only)
Rice
Safflower seed
Safflower-seed oil
Seed cotton
unginned
Sesame seed
Sorghum
Soya bean oil
Soya beans
Sugar cane
Sunflower seed
Sunflower-seed oil
Sweet potatoes
Tangerines
m
arins
clementines
Tea leaves
Tomatoes
True hemp
Unmanufactured tobacco
Walnuts
Watermelons
Wheat

In [23]:
clean_crop_names = {
    "Anise": "anise",
    "badian": "badian",
    "cori": "cori",
    "er": "er",
    "cumin": "cumin",
    "caraway": "caraway",
    "fennel": "fennel",
    "juniper berries": "juniper_berries",

    "Apples": "apple",
    "Apricots": "apricot",
    "Areca nuts": "areca_nut",
    "Bananas": "banana",
    "Barley": "barley",

    "Beans": "bean",
    "dry": "dry",

    "Cabbages": "cabbage",
    "Cantaloupes": "cantaloupe",
    "other melons": "other_melons",
    "Carrots": "carrot",
    "turnips": "turnip",

    "Cashew nuts": "cashew",
    "in shell": "in_shell",

    "Cassava": "cassava",
    "fresh": "fresh",

    "Castor oil seeds": "castor_seed",
    "Cauliflowers": "cauliflower",
    "broccoli": "broccoli",

    "Cherries": "cherry",
    "Chick peas": "chickpea",

    "Chillies": "chilli",
    "peppers": "pepper",
    "dry (Capsicum spp.)": "dry_capsicum",
    "Pimenta spp.)": "pimenta_spp",
    "green (Capsicum spp.)": "green_capsicum",

    "Cocoa beans": "cocoa",
    "Coconuts": "coconut",
    "Coffee": "coffee",
    "green": "green",

    "Cucumbers": "cucumber",
    "gherkins": "gherkin",

    "Eggplants (aubergines)": "eggplant",
    "Figs": "fig",
    "Ginger": "ginger",
    "Grapes": "grape",

    "Green garlic": "green_garlic",
    "Groundnuts": "groundnut",
    "excluding shelled": "excluding_shelled",

    "Jute": "jute",
    "raw or retted": "raw_retted",

    "Kenaf": "kenaf",
    "other textile bast fibres": "bast_fibres",

    "Lemons": "lemon",
    "limes": "lime",

    "Lentils": "lentil",
    "Lettuce": "lettuce",
    "chicory": "chicory",

    "Linseed": "linseed",
    "Maize (corn)": "maize",

    "Mangoes": "mango",
    "guavas": "guava",
    "mangosteens": "mangosteen",

    "Millet": "millet",
    "Natural rubber in primary forms": "natural_rubber",

    "Nutmeg": "nutmeg",
    "mace": "mace",
    "cardamoms": "cardamom",

    "Okra": "okra",
    "Onions": "onion",
    "shallots": "shallot",
    "dry (excluding dehydrated)": "dry_non_dehydrated",

    "Oranges": "orange",

    "Other beans": "other_beans",
    "Other berries": "other_berries",
    "fruits of the genus vaccinium n.e.c.": "vaccinium_fruits",

    "Other citrus fruit": "other_citrus",
    "n.e.c.": "nec",

    "Other fruits": "other_fruits",
    "Other oil seeds": "other_oilseeds",
    "Other pulses n.e.c.": "other_pulses",
    "Other stimulant": "other_stimulant",
    "spice": "spice",
    "aromatic crops": "aromatic_crops",

    "Other stone fruits": "stone_fruits",
    "Other tropical fruits": "tropical_fruits",
    "Other vegetables": "other_vegetables",
    "fresh n.e.c.": "fresh_nec",

    "Papayas": "papaya",
    "Peaches": "peach",
    "nectarines": "nectarine",

    "Pears": "pear",
    "Peas": "pea",

    "Pepper (Piper spp.)": "pepper_piper",
    "Pigeon peas": "pigeon_pea",
    "Pineapples": "pineapple",

    "Plums": "plum",
    "sloes": "sloe",

    "Pomelos": "pomelo",
    "grapefruits": "grapefruit",

    "Potatoes": "potato",
    "Pumpkins": "pumpkin",
    "squash": "squash",
    "gourds": "gourd",

    "Rape or colza seed": "rapeseed",
    "Rice": "rice",
    "Safflower seed": "safflower",

    "Seed cotton": "cotton",
    "unginned": "unginned",

    "Sesame seed": "sesame",
    "Sorghum": "sorghum",
    "Soya beans": "soybean",
    "Sugar cane": "sugarcane",
    "Sunflower seed": "sunflower",

    "Sweet potatoes": "sweet_potato",

    "Tangerines": "tangerine",
    "marins": "marin",
    "clementines": "clementine",

    "Tea leaves": "tea",
    "Tomatoes": "tomato",
    "Unmanufactured tobacco": "tobacco",
    "Walnuts": "walnut",
    "Watermelons": "watermelon",
    "Wheat": "wheat"
}

In [ ]:
len(clean_crop_names)

122

In [24]:
df2['Crop']=df2['Item'].map(clean_crop_names)

In [25]:
df2.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note,Crop
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,Anise,2004,2004,ha,410573.0,A,Official figure,NaN,anise
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,badian,2004,2004,ha,410573.0,A,Official figure,NaN,badian
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,cori,2004,2004,ha,410573.0,A,Official figure,NaN,cori
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,er,2004,2004,ha,410573.0,A,Official figure,NaN,er
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,cumin,2004,2004,ha,410573.0,A,Official figure,NaN,cumin

In [26]:
len(df2[df2.isnull().any(axis=1)])

9216

In [27]:
df2["Area_Harvested"] = df2.apply(
    lambda row: df2[(df2["Item"] == row["Item"]) &
                    (df2["Year"] == row["Year"]) &
                    (df2["Element"] == "Area harvested")]["Value"].max(),
    axis=1
)

In [28]:
df2["Production"] = df2.apply(
    lambda row: df2[(df2["Item"] == row["Item"]) &
                    (df2["Year"] == row["Year"]) &
                    (df2["Element"] == "Production")]["Value"].max(),
    axis=1
)

In [29]:
df2["Yield"] = df2.apply(
    lambda row: df2[(df2["Item"] == row["Item"]) &
                    (df2["Year"] == row["Year"]) &
                    (df2["Element"] == "Yield")]["Value"].max(),
    axis=1
)

In [30]:
df2.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note,Crop,Area_Harvested,Production,Yield
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,Anise,2004,2004,ha,410573.0,A,Official figure,NaN,anise,410573.0,227099.0,553.1
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,badian,2004,2004,ha,410573.0,A,Official figure,NaN,badian,410573.0,227099.0,553.1
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,cori,2004,2004,ha,410573.0,A,Official figure,NaN,cori,410573.0,227099.0,553.1
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,er,2004,2004,ha,410573.0,A,Official figure,NaN,er,410573.0,227099.0,553.1
0,QCL,Crops and livestock products,356,India,5312,Area harvested,01654,cumin,2004,2004,ha,410573.0,A,Official figure,NaN,cumin,410573.0,227099.0,553.1

In [31]:
df2.isnull().any()

Domain Code         False
Domain              False
Area Code (M49)     False
Area                False
Element Code        False
Element             False
Item Code (CPC)     False
Item                False
Year Code           False
Year                False
Unit                False
Value                True
Flag                False
Flag Description    False
Note                 True
Crop                 True
Area_Harvested       True
Production           True
Yield                True
dtype: bool

In [32]:
len(df2)

9338

In [33]:
len(df2[df2.isnull().any(axis=1)])

9216

In [34]:
df2.isnull().any()

Domain Code         False
Domain              False
Area Code (M49)     False
Area                False
Element Code        False
Element             False
Item Code (CPC)     False
Item                False
Year Code           False
Year                False
Unit                False
Value                True
Flag                False
Flag Description    False
Note                 True
Crop                 True
Area_Harvested       True
Production           True
Yield                True
dtype: bool

In [35]:
df3=pd.merge(df1,df2,on='Crop')

In [36]:
df3.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Domain Code,Domain,...,Year Code,Year,Unit,Value,Flag,Flag Description,Note,Area_Harvested,Production,Yield
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2004,2004,ha,41906700.0,A,Official figure,NaN,41906700.0,124697104.0,2975.6
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2004,2004,kg/ha,2975.6,A,Official figure,NaN,41906700.0,124697104.0,2975.6
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2004,2004,t,124697104.0,A,Official figure,NaN,41906700.0,124697104.0,2975.6
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2005,2005,ha,43659800.0,A,Official figure,NaN,43659800.0,137690096.0,3153.7
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2005,2005,kg/ha,3153.7,A,Official figure,NaN,43659800.0,137690096.0,3153.7

In [37]:
df3.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'Crop',
       'Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note', 'Area_Harvested',
       'Production', 'Yield'],
      dtype='object')

In [38]:
df3.isnull().any()

N                   False
P                   False
K                   False
temperature         False
humidity            False
ph                  False
rainfall            False
Crop                False
Domain Code         False
Domain              False
Area Code (M49)     False
Area                False
Element Code        False
Element             False
Item Code (CPC)     False
Item                False
Year Code           False
Year                False
Unit                False
Value               False
Flag                False
Flag Description    False
Note                 True
Area_Harvested      False
Production          False
Yield               False
dtype: bool

In [39]:
df3.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Domain Code,Domain,...,Year Code,Year,Unit,Value,Flag,Flag Description,Note,Area_Harvested,Production,Yield
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2004,2004,ha,41906700.0,A,Official figure,NaN,41906700.0,124697104.0,2975.6
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2004,2004,kg/ha,2975.6,A,Official figure,NaN,41906700.0,124697104.0,2975.6
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2004,2004,t,124697104.0,A,Official figure,NaN,41906700.0,124697104.0,2975.6
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2005,2005,ha,43659800.0,A,Official figure,NaN,43659800.0,137690096.0,3153.7
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2005,2005,kg/ha,3153.7,A,Official figure,NaN,43659800.0,137690096.0,3153.7

In [40]:
df3.isnull().any()

N                   False
P                   False
K                   False
temperature         False
humidity            False
ph                  False
rainfall            False
Crop                False
Domain Code         False
Domain              False
Area Code (M49)     False
Area                False
Element Code        False
Element             False
Item Code (CPC)     False
Item                False
Year Code           False
Year                False
Unit                False
Value               False
Flag                False
Flag Description    False
Note                 True
Area_Harvested      False
Production          False
Yield               False
dtype: bool

In [41]:
df3.isna().any()

N                   False
P                   False
K                   False
temperature         False
humidity            False
ph                  False
rainfall            False
Crop                False
Domain Code         False
Domain              False
Area Code (M49)     False
Area                False
Element Code        False
Element             False
Item Code (CPC)     False
Item                False
Year Code           False
Year                False
Unit                False
Value               False
Flag                False
Flag Description    False
Note                 True
Area_Harvested      False
Production          False
Yield               False
dtype: bool

In [42]:
df3.dtypes

N                     int64
P                     int64
K                     int64
temperature         float64
humidity            float64
ph                  float64
rainfall            float64
Crop                 object
Domain Code          object
Domain               object
Area Code (M49)       int64
Area                 object
Element Code          int64
Element              object
Item Code (CPC)      object
Item                 object
Year Code             int64
Year                  int64
Unit                 object
Value               float64
Flag                 object
Flag Description     object
Note                 object
Area_Harvested      float64
Production          float64
Yield               float64
dtype: object

In [43]:
df3.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Domain Code,Domain,...,Year Code,Year,Unit,Value,Flag,Flag Description,Note,Area_Harvested,Production,Yield
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2004,2004,ha,41906700.0,A,Official figure,NaN,41906700.0,124697104.0,2975.6
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2004,2004,kg/ha,2975.6,A,Official figure,NaN,41906700.0,124697104.0,2975.6
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2004,2004,t,124697104.0,A,Official figure,NaN,41906700.0,124697104.0,2975.6
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2005,2005,ha,43659800.0,A,Official figure,NaN,43659800.0,137690096.0,3153.7
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2005,2005,kg/ha,3153.7,A,Official figure,NaN,43659800.0,137690096.0,3153.7

In [44]:
len(df3)

84000

In [45]:
df3.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Domain Code,Domain,...,Year Code,Year,Unit,Value,Flag,Flag Description,Note,Area_Harvested,Production,Yield
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2004,2004,ha,41906700.0,A,Official figure,NaN,41906700.0,124697104.0,2975.6
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2004,2004,kg/ha,2975.6,A,Official figure,NaN,41906700.0,124697104.0,2975.6
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2004,2004,t,124697104.0,A,Official figure,NaN,41906700.0,124697104.0,2975.6
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2005,2005,ha,43659800.0,A,Official figure,NaN,43659800.0,137690096.0,3153.7
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2005,2005,kg/ha,3153.7,A,Official figure,NaN,43659800.0,137690096.0,3153.7

In [46]:
df3.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'Crop',
       'Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note', 'Area_Harvested',
       'Production', 'Yield'],
      dtype='object')

In [47]:
df3.dtypes

N                     int64
P                     int64
K                     int64
temperature         float64
humidity            float64
ph                  float64
rainfall            float64
Crop                 object
Domain Code          object
Domain               object
Area Code (M49)       int64
Area                 object
Element Code          int64
Element              object
Item Code (CPC)      object
Item                 object
Year Code             int64
Year                  int64
Unit                 object
Value               float64
Flag                 object
Flag Description     object
Note                 object
Area_Harvested      float64
Production          float64
Yield               float64
dtype: object

In [48]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# numeric_cols = df3.columns
# outlier_summary = {}
# for col in numeric_cols:
#     Q1 = df3[col].quantile(0.25)
#     Q3 = df3[col].quantile(0.85)
#     IQR = Q3 - Q1

#     lower_bound = Q1 - 1.5 * IQR
#     upper_bound = Q3 + 1.5 * IQR

#     outliers = df3[(df3[col] < lower_bound) | (df3[col] > upper_bound)][col]

#     outlier_summary[col] = {
#         "Lower Bound": lower_bound,
#         "Upper Bound": upper_bound,
#         "Outlier Count": outliers.shape[0],
#         "Outlier Values": outliers.values
#     }
# for col, info in outlier_summary.items():
#     print("\nColumn:", col)
#     print("Lower Bound:", info["Lower Bound"])
#     print("Upper Bound:", info["Upper Bound"])
#     print("Outliers:", info["Outlier Values"])
#     print("count:",len(info['Outlier Values']))

In [49]:
df3.head()

,N,P,K,temperature,humidity,ph,rainfall,Crop,Domain Code,Domain,...,Year Code,Year,Unit,Value,Flag,Flag Description,Note,Area_Harvested,Production,Yield
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2004,2004,ha,41906700.0,A,Official figure,NaN,41906700.0,124697104.0,2975.6
1,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2004,2004,kg/ha,2975.6,A,Official figure,NaN,41906700.0,124697104.0,2975.6
2,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2004,2004,t,124697104.0,A,Official figure,NaN,41906700.0,124697104.0,2975.6
3,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2005,2005,ha,43659800.0,A,Official figure,NaN,43659800.0,137690096.0,3153.7
4,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,QCL,Crops and livestock products,...,2005,2005,kg/ha,3153.7,A,Official figure,NaN,43659800.0,137690096.0,3153.7

In [50]:
df3.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'Crop',
       'Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description', 'Note', 'Area_Harvested',
       'Production', 'Yield'],
      dtype='object')

In [51]:
df3.to_csv("final.csv", index=False)